// Default Variables

// @slick-font-path: "./fonts/"
// @slick-loader-path: "./"
$slick-arrow-color = white
$slick-dot-color = black
$slick-dot-color-active = $slick-dot-color
$slick-prev-character = '←'
$slick-next-character = '→'
$slick-dot-character = '•'
$slick-dot-size = 6px
$slick-opacity-default = .75
$slick-opacity-on-hover = 1
$slick-opacity-not-active = .25


.carousel
	display block

/* Slider */

.slick-slider
	position relative
	display block
	box-sizing border-box
	user-select none
	touch-action pan-y
	-webkit-tap-highlight-color transparent
	
.slick-list
	position relative
	margin 0
	padding 0
	display block
	overflow hidden

	&:focus
		outline none

	&.dragging
		cursor pointer
		// cursor hand

.slick-slider .slick-track,
.slick-slider .slick-list
	transform translate3d(0, 0, 0)

.slick-track
	position relative
	top 0
	left 0
	margin-right auto
	margin-left auto
	display block

	&:before,
	&:after
		display table
		content ''


	&:after
		clear both


	.slick-loading &
		visibility hidden

.slick-slide
	display none
	float left
	height 100%
	min-height 1px
	
	.slick-initialized &
		display block
	
	[dir='rtl'] &
		float right

	img
		display block

	&.slick-loading img
		display none

	&.dragging img
		pointer-events none

	.slick-loading &
		visibility hidden

	.slick-vertical &
		display block
		height auto
		border 1px solid transparent

.slick-arrow.slick-hidden
	display none

/* Slider */
// .slick-loading .slick-list
// 	background: #fff url('@slick-loader-pathajax-loader.gif') center center no-repeat


/* Arrows */
.slick-prev,
.slick-next 
	position absolute
	z-index 50
	top 50%
	margin-top -40px
	padding 0
	display block
	size 40px
	font-size 0
	line-height 0
	cursor pointer
	
	color transparent
	background-color #fff
	border 1px solid $colorDecorative
	outline none
	transform translate(0, -50%)
	
	&:hover, 
	&:focus 
		color transparent
		outline none
		
		&:before
			opacity $slick-opacity-on-hover
		
	
	&.slick-disabled:before 
		opacity $slick-opacity-not-active
	
	&:before
		content ''
		border-top 6px solid rgba(#fff, 0)
		border-bottom 6px solid rgba(#fff, 0)
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale
		transition border-color .3s

.slick-prev 
	left 0
	
	[dir='rtl'] & 
		right 0
		left auto
	
	&:before 
		border-right 6px solid darken($colorDecorative, 40)
		
	&:hover:before
		border-right-color $colorMain
		
.slick-next 
	right 0
	
	[dir='rtl'] & 
		right auto
		left 0
	
	&:before 
		border-left 6px solid darken($colorDecorative, 40)
		
	&:hover:before
		border-left-color $colorMain

/* Dots */

.slick-dotted .slick-slider 
	margin-bottom 30px


.slick-dots 
	position absolute
	bottom -25px
	margin 0
	padding 0
	display block
	width 100%
	list-style none
	text-align center
	
	li 
		position relative
		margin 0 5px
		padding 0
		display inline-block
		width 20px
		height 20px
		cursor pointer
		
		button 
			padding 5px
			display block
			width 20px
			height 20px
			font-size 0
			line-height 0
			cursor pointer
			color transparent
			background transparent
			border none
			outline none
			
			&:hover,
			&:focus 
				outline none
				
				&before 
					opacity $slick-opacity-on-hover
				
			
			&:before 
				position absolute
				top 0
				left 0
				width 20px
				height 20px
				// font-family $slick-font-family
				font-size $slick-dot-size
				line-height 20px
				text-align center
				content $slick-dot-character
				color $slick-dot-color
				opacity $slick-opacity-not-active
				
				-webkit-font-smoothing antialiased /* stylelint-disable-line*/
				-moz-osx-font-smoothing grayscale /* stylelint-disable-line*/
				
			
		
		&.slick-active button:before 
			color $slick-dot-color-active
			opacity $slick-opacity-default
		
	
