include ../block/block
include ../title/title

mixin doc-oferta()
  +block
    +b.doc&attributes(attributes)
      +title(1) Публичная оферта о заключении договора оказания услуг
      +e.P.text Настоящий документ является официальным предложением Индивидуального предпринимателя Рошаля Александра Сергеевича (далее — «MBIB.RU») в адрес зарегистрированных на сайте https://mbib.ru/ (далее — «Сайт») пользователей сети Интернет (далее — «Пользователь» или «Пользователи») заключить договор оказания услуг (далее – «Договор») на указанных ниже условиях (далее — «Публичная оферта»).
      +e.OL.list
        +e.LI.list-item._head-item
          +e.SPAN.subtitle Предмет Договора
          +e.OL.list
            +e.LI.list-item Договор определяет общие условия обязательственных отношений, возникающих между MBIB.RU и Пользователями при оказании MBIB.RU услуг информационно-технического характера, которые могут быть конкретизированы в дальнейшем, путем заключения сторонами на основании Договора отдельных соглашений (сделок) об оказании услуг на Сайте.
            +e.LI.list-item Заключаемый Договор представляет собой договор с открытыми условиями. Существенные условия каждой совершаемой на Сайте сделки по оказанию услуг формируются в режиме онлайн индивидуально для Пользователя с помощью интерфейса личного кабинета на Сайте, посредством которого Пользователь выбирает услугу и ее параметры, Cторонами согласовываются условия сделки.

        +e.LI.list-item._head-item
          +e.SPAN.subtitle Заключение Договора. Заказ услуг
          +e.OL.list
            +e.LI.list-item Настоящая Публичная оферта считается акцептованной Пользователем, а Договор между MBIB.RU и Пользователем заключенным, с момента оплаты Пользователем услуг по соответствующей услуге (в этом случае она совершается одновременно с заключением Договора). Условия заключенного Договора применяются ко всем последующим сделкам Пользователя. Договор может быть заключен только с Пользователем, являющимся совершеннолетним, дееспособным физическим лицом, гражданином РФ, либо юридическим лицом или индивидуальным предпринимателем, зарегистрированными в установленном законом порядке на территории Российской Федерации.
            +e.LI.list-item Каждый заказ Пользователем конкретных услуг в рамках Договора является самостоятельной сделкой по оказанию услуг информационно-технического характера на Сайте. Сделка может быть заключена в отношении услуг, представленных на Сайте и доступных для заказа и оплаты в момент обращения Пользователя к тому или иному сервису Сайта.
            +e.LI.list-item Оплата заказа признается акцептом Пользователя предложения о заключении сделки на согласованных сторонами условиях.
            +e.LI.list-item Оформление Пользователем каждого заказа услуг осуществляется согласно условиям соответствующего сервиса в личном кабинете и действующей редакции Публичной оферты, размещенных на Сайте в момент заказа услуг. Заказ оформляется в режиме онлайн.
            +e.LI.list-item Пользователь согласен с тем, что факт выполнения определенных действий на Сайте, в том числе с использованием профессиональных технических инструментов, автозагрузки, выполнение команд через интерфейсные элементы Сайта (нажатие кнопок, клики), совершение платежа и иные подобные действия, означают волеизъявление Пользователя в отношении заказа и/или активации услуг в соответствии с указанными на Сайте параметрами услуг и их ценой.

        +e.LI.list-item._head-item
          +e.SPAN.subtitle Общие условия оказания услуг
          +e.OL.list
            +e.LI.list-item Услуги информационно-технического характера, являющиеся предметом совершаемых во исполнение Договора индивидуальных сделок (далее — «Услуги»), представляют собой дополнительные функциональные возможности Сайта, которые предлагаются за плату и исключительно в рамках правил Сайта, обеспечивающих его функционирование как онлайн-доски объявлений об объектах недвижимости, услугах и иных предложениях по смежным видам профессиональной деятельности, самостоятельно размещаемых пользователями Сайта в объемах, определяемых непосредственно Пользователем при размещении соответствующей информации (далее — «Правила сайта»). Услуги оказываются на территории Российской Федерации.
            +e.LI.list-item Условием получения Пользователем Услуг MBIB.RU является их 100% (стопроцентная) оплата и соблюдение Пользователем положений настоящей Публичной оферты, Правил сайта, установленных в нижеуказанных документах, а также в инструкциях и пояснениях, представленных в интерфейсе сайта:
              +e.OL.list
                +e.LI.list-item Правила сайта, размещенные по адресу <a href="https://mbib.ru/rules">https://mbib.ru/rules</a> (далее — «Правила»);
                +e.LI.list-item Документы, регулирующие условия использования сервисов, размещенные по адресу <a href="https://mbib.ru/terms-of-service.pdf">https://mbib.ru/terms-of-service.pdf</a> (далее — «Условия оказания услуг»);
            +e.LI.list-item Обязательства MBIB.RU по предоставлению Услуг, согласно заказам Пользователя, являются встречными по отношению к обязательствам Пользователя по соблюдению Правил и оплате Услуг. В случае невыполнения Пользователем данных обязательств MBIB.RU, действуя на основании правомочий, предусмотренных нормами гражданского законодательства Российской Федерации, может приостановить или отказаться от оказания Услуг в соответствующей части.
            +e.LI.list-item MBIB.RU оказывает Пользователю Услуги при наличии возможности их предоставления, которая определяется, в том числе, соблюдением Пользователем установленных для них Правил сайта. В связи с назначением Правил сайта, как регулирующих поведение пользователей Сайта норм, без соблюдения которых невозможно его нормальное функционирование в качестве онлайн доски объявлений об объектах автотранспорта, Пользователь понимает, что несоблюдение Правил сайта может привести к невозможности исполнения обязательств MBIB.RU по оказанию соответствующих Услуг.
            +e.LI.list-item В силу характера предлагаемых MBIB.RU Услуг, направленных на удовлетворение потребностей Пользователей по продвижению объектов автотранспорта, в рамках Договора MBIB.RU не принимает на себя обязанности по оказанию Услуг каждому лицу, которое к нему обратится и может отказать в оказании Услуг Пользователю, если их предоставление не соответствует Правилам сайта, в том числе его тематике, категориям, политике и пр.
            +e.LI.list-item Условия предоставления конкретных Услуг в рамках Договора, в том числе их содержание, объем и сроки определяются в соответствующих условиях на Сайте, правилах и требованиях, представленных в интерфейсе Сайта, в личном кабинете Клиента.
            +e.LI.list-item Предоставляемые на Сайте Услуги могут изменяться, дополняться, обновляться, в связи с чем их использование предлагается в том виде и объеме, в каком они предоставляются MBIB.RU в момент обращения Пользователей к сервисам Сайта.
            +e.LI.list-item MBIB.RU вправе направлять Пользователю по имеющимся в его личном кабинете на Сайте контактным данным уведомления, связанные с исполнением настоящего Договора или любой из заключенных в рамках Договора сделок, включая оповещения о статусе оказания Услуги, способах продления и иные информационные сообщения, посредством оповещения с помощью мессенджеров и/или по электронной почте.
            +e.LI.list-item Пользователь обязуется соблюдать при пользовании Услугами требования действующего законодательства Российской Федерации, положения Договора, соответствующие условия выбранного сервиса, Правила сайта, а также представленные в интерфейсе Сайта инструкции.
            +e.LI.list-item По требованию MBIB.RU Пользователь обязан предоставить информацию и документы, необходимые для идентификации Пользователя в качестве стороны Договора в случае направления Пользователем в адрес Предпринимателя заявлений, запросов и прочих обращений, связанных с оказанием Услуг на Сайте. Кроме того, MBIB.RU вправе самостоятельно проводить верификацию Пользователя в качестве стороны по Договору путем проведения сверки указанных Пользователем в его личном кабинете на Сайте реквизитов с реквизитами плательщика по Договору.
            +e.LI.list-item Действия, совершенные с использованием логина и пароля Пользователя, признаются сторонами совершенными Пользователем и имеющими силу простой электронной подписи.

        +e.LI.list-item._head-item
          +e.SPAN.subtitle Стоимость услуг и порядок расчетов
          +e.OL.list
            +e.LI.list-item Стоимость Услуг может периодически меняться. Изменения стоимости Услуг вступают в силу с момента их опубликования на Сайте в разделе пользовательского интерфейса «Тарифы и цены» по адресу <a href="https://mbib.ru/tariffs">https://mbib.ru/tariffs</a>.
            +e.LI.list-item Пользователь может совершить оплату Услуг одним из способов, представленных в интерфейсе на Сайте в момент оформления заказа Услуг. Выбор и использование способа оплаты Услуг производится Пользователем по собственному усмотрению из числа предложенных на Сайте в момент оплаты.
            +e.LI.list-item Допускается также оплата с использованием корпоративной банковской карты, оформленной на соответствующее юридическое лицо или индивидуального предпринимателя.
            +e.LI.list-item MBIB.RU предоставляет Пользователю информацию обо всех совершаемых Пользователем платежах на Сайте с помощью специального партнерского информационно-аналитического раздела в личном кабинете Пользователя на Сайте.

        +e.LI.list-item._head-item
          +e.SPAN.subtitle Ответственность сторон
          +e.OL.list
            +e.LI.list-item MBIB.RU обязуется предпринимать все разумные усилия для должного оказания Услуг, однако:
              +e.OL.list
                +e.LI.list-item MBIB.RU не несет ответственность перед Пользователем за качество и скорость доступа к Сайту со стороны Пользователя, осуществляемых по каналам связи операторов и Интернет-провайдеров, а также за возможные технологические неисправности каналов связи общего пользования, посредством которых осуществляется доступ к Услугам Сайта, утраты Пользователем доступа к сети Интернет по любой причине (ошибки, пропуски, перерывы в работе или передаче данных, дефекты линий связи и иные технические сбои);
                +e.LI.list-item MBIB.RU не несет ответственность перед Пользователем за неисполнение или несвоевременное исполнение обязанностей по настоящему Договору, возникшее в связи с наступлением обстоятельств, являющихся форс-мажорными, не зависящим от MBIB.RU, т. е. обстоятельствами непреодолимой силы, в том числе из-за сбоев в работе телекоммуникационных сетей и оборудования. Тем не менее, MBIB.RU приложит все усилия, чтобы обеспечить качественное и своевременное предоставление услуг Пользователю;
                +e.LI.list-item MBIB.RU не несет ответственность перед Пользователем за несанкционированное вмешательство в работу Сайта третьих лиц, включая хакерские, DDoS-атаки, действия вирусных программ и иные нарушения работы Сайта;
                +e.LI.list-item MBIB.RU не несет ответственность перед Пользователем за утрату Пользователем доступа к личному кабинету, в том числе при наличии признаков несанкционированного его использования;
                +e.LI.list-item MBIB.RU не несет ответственность перед Пользователем за задержку исполнения или неисполнения обязанностей по настоящему Договору, возникшие по вине Пользователя;
                +e.LI.list-item MBIB.RU не несет ответственность перед Пользователем за убытки, расходы или ущерб, возникшие у Пользователя не по вине MBIB.RU, в том числе, в связи с нарушением Пользователем Правил сайта.
            +e.LI.list-item В случае причинения убытков Пользователю по вине MBIB.RU ответственность определяется в порядке, предусмотренном действующим законодательством Российской Федерации. При этом ответственность MBIB.RU перед Пользователями определяется в размере, не превышающем стоимость заказанной и оплаченной Пользователем, но не полученной по вине MBIB.RU Услуги.
            +e.LI.list-item Ни одна из Сторон в связи с исполнением настоящего Договора не несет никакой ответственности перед другой Стороной за какие-либо косвенные/непрямые убытки или упущенную выгоду Стороны, вне зависимости от того, могла ли Сторона предвидеть возможность причинения таких убытков в конкретной ситуации или нет.
            +e.LI.list-item Пользователь проинформирован и соглашается с тем, что часть операций, включая (но не ограничиваясь указанным) операции по приему оплаты за оказываемые Услуги не контролируется и не отслеживается MBIB.RU лично, информация поступает от третьих лиц, являющихся профессиональными платежными агентами. MBIB.RU не несет ответственности за перевод и/или поступление денежных средств Пользователя в оплату Услуг. Безопасность, конфиденциальность, а также иные условия использования выбранных Пользователем способов оплаты определяются соглашениями между Пользователем и соответствующими организациями.
            +e.LI.list-item Пользователь отвечает за любые действия, совершенные с использованием логина/пароля Пользователя на Сайте, адреса электронной почты, номера телефона (в том числе за действия работников и третьих лиц), а также сохранность своего логина/пароля и за убытки, которые могут возникнуть по причине несанкционированного использования личного кабинета Пользователя и простой электронной подписи.
            +e.LI.list-item В случае кражи/утери логина или пароля Пользователь самостоятельно предпринимает необходимые меры для смены пароля для доступа к личному кабинету и/или Услугам. MBIB.RU не несет ответственность за действия третьих лиц, повлекшую кражу/утерю логина или пароля Пользователя, а также любые расходы, ущерб и/или упущенную выгоду, возникшие у Пользователя в связи с несанкционированным доступом третьих лиц к личному кабинету Пользователя.
            +e.LI.list-item MBIB.RU не гарантирует соответствие сервисов на Сайте ожиданиям Пользователя и получение Пользователем отклика посетителей на размещенные им объявления в связи с получением Услуг на Сайте.
            +e.LI.list-item Стороны несут ответственность в пределах, возложенных на них настоящим Договором обязательств. Во всём остальном, что не урегулировано настоящим Договором, Стороны руководствуются нормами действующего законодательства Российской Федерации.

        +e.LI.list-item._head-item
          +e.SPAN.subtitle Ответственность сторон
          +e.OL.list
            +e.LI.list-item MBIB.RU обязуется предпринимать все разумные усилия для должного оказания Услуг, однако:
              +e.OL.list
                +e.LI.list-item MBIB.RU не несет ответственность перед Пользователем за качество и скорость доступа к Сайту со стороны Пользователя, осуществляемых по каналам связи операторов и Интернет-провайдеров, а также за возможные технологические неисправности каналов связи общего пользования, посредством которых осуществляется доступ к Услугам Сайта, утраты Пользователем доступа к сети Интернет по любой причине (ошибки, пропуски, перерывы в работе или передаче данных, дефекты линий связи и иные технические сбои);
                +e.LI.list-item MBIB.RU не несет ответственность перед Пользователем за неисполнение или несвоевременное исполнение обязанностей по настоящему Договору, возникшее в связи с наступлением обстоятельств, являющихся форс-мажорными, не зависящим от MBIB.RU, т. е. обстоятельствами непреодолимой силы, в том числе из-за сбоев в работе телекоммуникационных сетей и оборудования. Тем не менее, MBIB.RU приложит все усилия, чтобы обеспечить качественное и своевременное предоставление услуг Пользователю;
                +e.LI.list-item MBIB.RU не несет ответственность перед Пользователем за несанкционированное вмешательство в работу Сайта третьих лиц, включая хакерские, DDoS-атаки, действия вирусных программ и иные нарушения работы Сайта;
                +e.LI.list-item MBIB.RU не несет ответственность перед Пользователем за утрату Пользователем доступа к личному кабинету, в том числе при наличии признаков несанкционированного его использования;
                +e.LI.list-item MBIB.RU не несет ответственность перед Пользователем за задержку исполнения или неисполнения обязанностей по настоящему Договору, возникшие по вине Пользователя;
                +e.LI.list-item MBIB.RU не несет ответственность перед Пользователем за убытки, расходы или ущерб, возникшие у Пользователя не по вине MBIB.RU, в том числе, в связи с нарушением Пользователем Правил сайта.
            +e.LI.list-item В случае причинения убытков Пользователю по вине MBIB.RU ответственность определяется в порядке, предусмотренном действующим законодательством Российской Федерации. При этом ответственность MBIB.RU перед Пользователями определяется в размере, не превышающем стоимость заказанной и оплаченной Пользователем, но не полученной по вине MBIB.RU Услуги.
            +e.LI.list-item Ни одна из Сторон в связи с исполнением настоящего Договора не несет никакой ответственности перед другой Стороной за какие-либо косвенные/непрямые убытки или упущенную выгоду Стороны, вне зависимости от того, могла ли Сторона предвидеть возможность причинения таких убытков в конкретной ситуации или нет.
            +e.LI.list-item Пользователь проинформирован и соглашается с тем, что часть операций, включая (но не ограничиваясь указанным) операции по приему оплаты за оказываемые Услуги не контролируется и не отслеживается MBIB.RU лично, информация поступает от третьих лиц, являющихся профессиональными платежными агентами. MBIB.RU не несет ответственности за перевод и/или поступление денежных средств Пользователя в оплату Услуг. Безопасность, конфиденциальность, а также иные условия использования выбранных Пользователем способов оплаты определяются соглашениями между Пользователем и соответствующими организациями.
            +e.LI.list-item Пользователь отвечает за любые действия, совершенные с использованием логина/пароля Пользователя на Сайте, адреса электронной почты, номера телефона (в том числе за действия работников и третьих лиц), а также сохранность своего логина/пароля и за убытки, которые могут возникнуть по причине несанкционированного использования личного кабинета Пользователя и простой электронной подписи.
            +e.LI.list-item В случае кражи/утери логина или пароля Пользователь самостоятельно предпринимает необходимые меры для смены пароля для доступа к личному кабинету и/или Услугам. MBIB.RU не несет ответственность за действия третьих лиц, повлекшую кражу/утерю логина или пароля Пользователя, а также любые расходы, ущерб и/или упущенную выгоду, возникшие у Пользователя в связи с несанкционированным доступом третьих лиц к личному кабинету Пользователя.
            +e.LI.list-item MBIB.RU не гарантирует соответствие сервисов на Сайте ожиданиям Пользователя и получение Пользователем отклика посетителей на размещенные им объявления в связи с получением Услуг на Сайте.
            +e.LI.list-item Стороны несут ответственность в пределах, возложенных на них настоящим Договором обязательств. Во всём остальном, что не урегулировано настоящим Договором, Стороны руководствуются нормами действующего законодательства Российской Федерации.

        +e.LI.list-item._head-item
          +e.SPAN.subtitle Рассмотрение претензий
          +e.OL.list
            +e.LI.list-item Споры, возникшие в рамках настоящего Договора, должны быть переданы на рассмотрение в Арбитражный суд г. Ростова-на-Дону, а в случае, если спор не подведомственен арбитражному суду - в иные суды по подсудности в соответствии с действующим законодательством Российской Федерации.
            +e.LI.list-item До обращения в суд Пользователь, зарегистрированный на Сайте в качестве юридического лица или индивидуального предпринимателя, должен соблюсти внесудебный порядок разрешения споров, направив в адрес MBIB.RU письменную претензию, с приложением документов, подтверждающих обстоятельства и требования, на которые ссылается Пользователь. Срок рассмотрения таких претензий составляет не более 30 (Тридцати) дней с момента получения претензии MBIB.RU. В случае неполучения Пользователем ответа MBIB.RU на претензию в указанный срок или в случае отказа MBIB.RU от удовлетворения обоснованных претензий Пользователя, Пользователь вправе обратиться в суд

        +e.LI.list-item._head-item
          +e.SPAN.subtitle Прочие условия
          +e.OL.list
            +e.LI.list-item Договор вступает в силу с момента его заключения в порядке, указанном в разделе 2 настоящей Публичной оферты и действует в течении неопределенного срока до момента его прекращения в соответствии с Договором и законодательством.
            +e.LI.list-item MBIB.RU вправе изменять и/или дополнять условия Публичной оферты в той мере, в какой это допускается действующим законодательством, а также отозвать настоящую Публичную оферту в любое время. Датой изменения Публичной оферты является дата опубликования на Сайте новой редакции Публичной оферты. Пользователь должен ознакомиться с действующей редакцией Публичной оферты, размещенной на Сайте, и с условиями каждой сделки до заключения Договора и совершения сделки.
            +e.LI.list-item Заказ Услуг и совершение Пользователем сделки в рамках Договора после вступления в силу изменений в Публичной оферте означает, что стороны пришли к согласию о внесении соответствующих изменений и/или дополнений в Договор. Такие изменения в Договоре не применяются к Услугам, заказанным и оплаченным Пользователем ранее, до вступления в силу изменений в Публичной оферте.
            +e.LI.list-item MBIB.RU вправе расторгнуть Договор в порядке, предусмотренном действующим законодательством, с уведомлением об этом Пользователя через интерфейс Сайта, по адресу электронной почты или иным способом.
            +e.LI.list-item Договор может быть прекращен досрочно по инициативе Пользователя.
            +e.LI.list-item Договор представляет все условия, согласованные между Сторонами в отношении его предмета, и заменяет собой все прежние договоренности, заверения и любого рода соглашения между Сторонами в отношении его предмета, если иное прямо не согласовано Сторонами.
            +e.LI.list-item Пользователь гарантирует, что полностью понимает настоящий Договор, обладает всеми правами и полномочиями для заключения настоящего Договора и заключает его добровольно.
            +e.LI.list-item По вопросам, не урегулированным настоящим Договором, стороны руководствуются законодательством Российской Федерации.

        +e.LI.list-item._head-item
          +e.SPAN.subtitle Форс-мажорные обстоятельства
          +e.OL.list
            +e.LI.list-item Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение обязательств по Договору на время действия непреодолимой силы. Под непреодолимой силой понимаются чрезвычайные и непреодолимые при данных условиях обстоятельства, препятствующие исполнению своих обязательств Сторонами по настоящему Договору. К ним относятся стихийные явления (землетрясения, наводнения, пожары и т. п.), обстоятельства общественной жизни (военные действия, чрезвычайные положения, крупнейшие забастовки, эпидемии и т. п.), включая в том числе существенные изменения в законодательстве, но не ограничиваясь перечисленным. В течение этого времени Стороны не имеют взаимных претензий, и каждая из Сторон принимает на себя свой риск последствия форс-мажорных обстоятельств.
            +e.LI.list-item Сторона, для которой создалась невозможность исполнения, не обязана извещать другую Сторону о природе форс-мажорных обстоятельств, препятствующих исполнению Договора, и сроках начала и окончания их действия.

        +e.LI.list-item._head-item
          +e.SPAN.subtitle Приложения к Оферте
          +e.OL.list
            +e.LI.list-item Условия оказания услуг - <a href="https://mbib.ru/terms-of-service.pdf">https://mbib.ru/terms-of-service.pdf</a>
            +e.LI.list-item Правила сайта - <a href="https://mbib.ru/rules">https://mbib.ru/rules</a>
            +e.LI.list-item Тарифы и цены - <a href="https://mbib.ru/tariffs">https://mbib.ru/tariffs</a>

        +e.LI.list-item._head-item
          +e.SPAN.subtitle Реквизиты
          +e.P.text
            | Индивидуальный предприниматель Рошаль Александр Сергеевич
            br
            | Телефон: +7 (863) 221-46-93
            br
            | Электронная почта: info@multilisting.su

          +e.P.text
            | ОГРНИП 317619600020516
            br
            | ИНН 616516198340
            br
            | Р/с 40802810826140001046
            br
            | в Филиал «Ростовский» АО «АЛЬФА-БАНК», г. Ростов-на-Дону
            br
            | К/с 30101810500000000207
            br
            | БИК 046015207

          +e.P.text Опубликовано 12 июня 2019 года
