include ../block/block
include ../title/title

mixin doc-rules()
  +block
    +b.doc&attributes(attributes)
      +title(1) Правила пользования сайтом «mbib.ru»
      +e.OL.list
        +e.LI.list-item._head-item
          +e.SPAN.subtitle Предмет и общие положения правил пользования сайтом
          +e.OL.list
            +e.LI.list-item Настоящие правила пользования сайтом (далее – «Правила») определяют порядок использования сайта «mbib.ru» (далее – «Сайт»), размещения на Сайте информации и порядок использования такой информации пользователями интернета, которые осуществили доступ к данному Сайту (далее – «Пользователи»).
            +e.LI.list-item Доступ к Сайту, использование Сайта и/или совершение любых иных действий на Сайте Пользователем означает, что Пользователь принимает и обязуется соблюдать все условия настоящих Правил без исключений. Если Пользователь не согласен с условиями Правил, то он должен немедленно прекратить использование Сайта.
            +e.LI.list-item Зарегистрировавшись на Сайте, Пользователь автоматически соглашается на обработку персональной информации о себе. Администрация Сайта обязуется не предоставлять её третьим лицам, кроме случаев предоставления и/или размещения на Сайте самим Пользователем информации о себе для общего доступа всем пользователям Сайта.
            +e.LI.list-item Зарегистрировавшись на Сайте, Пользователь автоматически соглашается на отправку электронных сообщений о событиях в его личном кабинете на подтвержденные номера телефонов и адреса электронной почты.
            +e.LI.list-item Пользователь несет ответственность за сохранность своих учетных данных и обязуется не передавать и не разглашать их третьим лицам. Пользователь самостоятельно несет ответственность за сохранность своего пароля, а также за все последствия, которые могут возникнуть в результате его несанкционированного и/или иного использования.
            +e.LI.list-item Настоящие Правила могут быть изменены и/или дополнены администрацией Сайта в одностороннем порядке без какого-либо специального уведомления.
            +e.LI.list-item Администрация Cайта рекомендует Пользователям регулярно проверять условия настоящих Правил на предмет их изменения и/или дополнения. Продолжение использования Сайта пользователем после внесения изменений и/или дополнений в настоящие Правила означает принятие и согласие Пользователя с такими изменениями и/или дополнениями.

        +e.LI.list-item._head-item
          +e.SPAN.subtitle Общие правила регистрации и публикации объявлений
          +e.OL.list
            +e.LI.list-item Для того чтобы получить доступ ко всем возможностям Сайта, Пользователь должен пройти процедуру регистрации на Сайте путем совершения ряда последовательных действий по заполнению регистрационной формы, в результате которых для Пользователя будет создана уникальная учетная запись – специальный подраздел Сайта, позволяющий пользователю получить доступ к персональной информации Пользователя.
            +e.LI.list-item Любой Пользователь вправе иметь только одну учетную запись на Сайте. В случае нарушения Пользователем данного правила администрация Сайта может заблокировать учетные записи Пользователя или ограничить функциональные возможности использования Пользователем Сайта и/или условия такого использования, и/или удалить Информацию Пользователя.
            +e.LI.list-item При регистрации на Сайте Пользователь соглашается предоставить правдивую, точную и полную информацию о себе в регистрационной форме (имя, номер телефона, электронную почту) и поддерживать эту информацию в актуальном состоянии. В случае изменения данной информации, Пользователь обязуется изменить ее как можно скорее. Пользователь соглашается, что Администрация Сайта в общем случае не обязана проверять достоверность информации, предоставленной Пользователем о себе.
            +e.LI.list-item Объявление, публикуемое на Сайте, должно содержать максимально подробные сведения о предлагаемом (единственном) транспортном средстве, запчастях или аксессуарах (далее – «Товар»).
            +e.LI.list-item При публикации объявления на Сайте запрещается указывать недостоверные сведения о предлагаемом Товаре в карточке объявления.
            +e.LI.list-item При публикации объявления на Сайте Пользователь должен использовать только свои собственные и только реальные фотографии Товара. На изображении должен быть непосредственно предлагаемый к продаже Товар в том состоянии, в котором данный Товар находится на момент размещения объявления.
            +e.LI.list-item Заголовок, описание и фотографии объявления должны быть связанными по смыслу и соответствовать назначению раздела Сайта.
            +e.LI.list-item Фотографии, используемые в публикации объявления не должны содержать неприятные или шокирующие кадры, а также изображения эротического и порнографического характера.
            +e.LI.list-item Размещенные на Сайте объявления могут проходить модерацию – проверку объявлений Сайта на корректность содержания и соответствие настоящим Правилам.
            +e.LI.list-item При обнаружении на Сайте информации не соответствующей действительности Пользователь должен сообщать администрации Сайта о каждом выявленном случае посредством отправки формы сайта «пожаловаться».
            +e.LI.list-item При звонках по номерам телефонов, размещенных на Сайте, Пользователь должен неукоснительно соблюдать нормы приличия и правила делового общения, а также учитывать, при необходимости разницу часовых поясов.
            +e.LI.list-item При звонках по номерам телефонов, размещенных на Сайте, Пользователь должен сообщать контрагенту о том, что нашёл его объявление на Сайте «mbib.ru».
            +e.LI.list-item Публикация объявления Пользователем возможна только в определенном разделе Сайта, соответствующем тематике данного объявления.
            +e.LI.list-item Пользователь обязуется отказаться от использования любых сторонних автоматических программ для работы с Сайтом, в том числе для публикации объявлений.
            +e.LI.list-item Пользователь обязуется не использовать в объявлениях ненормативную и стилизованную под ненормативную лексику.
            +e.LI.list-item При публикации объявления на Сайте строго запрещается указывать некорректную или недостоверную информацию о товаре.
            +e.LI.list-item Объявление должно быть удалено с публикации, если товар или услуга утратили актуальность.
            +e.LI.list-item Запрещается публиковать объявления, содержащие рекламу конкурентных ресурсов.

        +e.LI.list-item._head-item
          +e.SPAN.subtitle Использование cайта
          +e.OL.list
            +e.LI.list-item Использование Сайта Пользователем допускается только в соответствии с настоящими Правилами и непосредственно способами, предусмотренными техническими возможностями и интерфейсом Сайта.
            +e.LI.list-item Пользователь обязуется при использовании Сайта:
              +e.OL.list
                +e.LI.list-item не препятствовать нормальной работе Сайта;
                +e.LI.list-item не использовать контактные данные других Пользователей для проведения незаконных действий, в том числе рассылок, но не ограничиваясь, SMS-рассылками, совершаемыми без согласия адресата;
                +e.LI.list-item не совершать посредством Сайта действия, направленные на вымогательство или получение денег, независимо от предлога, от других Пользователей и/или третьих лиц;
                +e.LI.list-item не содействовать в совершении, не совершать с использованием Сайта иные противоправные, противозаконные действия, противоречащие требованиям законодательства Российской Федерации и настоящих Правил.
            +e.LI.list-item Пользователи обязуются использовать ресурсы и возможности Сайта только в личных некоммерческих целях.
