include ../block/block
include ../title/title

mixin doc-conditions()
  +block
    +b.doc&attributes(attributes)
      +title(1) Условия предоставления услуг
      +e.P.text Настоящие условия (далее - «Условия») применяются к размещению пользовательского контента (далее – «Ообъявления») о продаже объектов автотранспорта пользователями интернета (далее – «Пользователи») на сайте <a href="https://mbib.ru/">https://mbib.ru/</a>  (далее – «Сайт») в отдельных категориях на платной основе (далее - «Услуги»).
      +e.OL.list
        +e.LI.list-item Обязательным условием предоставления Услуг Сайта является безоговорочное согласие Пользователя с данными Услугами и соблюдение Пользователем положений оферты - <a href="https://mbib.ru/offer">https://mbib.ru/offer</a>, правил использования Сайта - <a href="https://mbib.ru/rules">https://mbib.ru/rules</a>, а также иных правил и документов Сайта.
        +e.LI.list-item Размещение на Сайте Объявлений осуществляется в некоторых случаях на платной основе. Для Сайта установлена следующая категория платного размещения для Пользователя:
          +e.OL.list
            +e.LI.list-item Размещение в блоке «Горячее» в начале списка результатов поиска, над всеми объявлениями.
        +e.LI.list-item Под размещением Объявления, для целей настоящих Условий, понимается добавление Объявления на Сайт в соответствующую категорию, которое может осуществляться путем подачи объявления любым зарегистрированным Пользователем.
        +e.LI.list-item Показ Объявлений, размещенных в соответствии с настоящими Условиями и соответствующих правилам Сайта, осуществляется в результатах поиска в общем списке одновременно с Объявлениями иных Пользователей, схожих по содержанию, запросу или иным параметрам, включая Объявления, размещенные в пределах лимита без дополнительной оплаты.
        +e.LI.list-item Стоимость Услуг указывается на Сайте и зависит от категории Объявления, типа пользователя и срока размещения. Пользователь самостоятельно определяет объем Услуг из доступных для соответствующей категории на Сайте вариантов:
          +e.OL.list
            +e.LI.list-item Услуга размещения Объявления частного клиента в блоке «Горячее», которая заключается в предоставлении возможности Пользователю выделить свое объявление, поднять его над списком результатов поиска и закрепить там на 7 дней. Обязательства по предоставлению такой Услуги считаются исполненными с момента добавления Объявления на Сайт, независимо от его дальнейшего статуса, нахождения на Сайте во время срока действия Объявления, попадания в поисковую выдачу, снятия Объявления с показа, в т.ч. досрочного, применения к Объявлению дополнительных услуг (https://mbib.ru/hots)
        +e.LI.list-item Услуги с использованием пакета размещений признаются оказанными в момент наступления любого из следующих событий, принимая во внимание то событие, которое произойдет раньше: использование в полном объеме предусмотренного пакетом количества размещений, независимо от статуса объявлений, размещенных из пакета, их нахождения на сайте во время срока его действия, снятия с публикации и т.д., или (2) окончание срока действия пакета.
