include ../block/block
include ../title/title

mixin doc-confidence()
  +block
    +b.doc&attributes(attributes)
      +title(1) Политика конфиденциальности
      +e.P.text Настоящая Политика конфиденциальности персональных данных (далее — Политика конфиденциальности) действует в отношении всей информации, которую сайт «mbib.ru», расположенный на доменном имени — http://mbib.ru (далее — Сайт) может получить от Пользователя во время использования им предоставляемых Сайтом услуг, в частности, в результате размещения объявления о продаже автомобилей, заполнения форм и запросов пользовательского интерфейса Сайта и/или ином взаимодействии (далее — Услуги).
      +e.OL.list
        +e.LI.list-item._head-item
          +e.SPAN.subtitle Термины и определения
          +e.OL.list
            +e.LI.list-item В настоящей Политике конфиденциальности используются следующие термины:
              +e.OL.list
                +e.LI.list-item «Персональные данные» — любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных) которую пользователь предоставляет о себе самостоятельно в процессе пользования Услугами Сайта (далее — Данные).
                +e.LI.list-item «Обработка персональных данных» — любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
                +e.LI.list-item «Пользователь» — физическое лицо, имеющее доступ к Сайту, посредством сети Интернет (далее — Пользователь).
                +e.LI.list-item «Cookies» — небольшие текстовые файлы, в которых после посещения Пользователем Сайта сохраняется информация о его действиях на веб-ресурсе.  Благодаря cookies-файлам Пользователю не нужно каждый раз вводить имя и пароль, чтобы войти в Личный кабинет на Сайте. Отключение cookies-файлов может повлечь невозможность доступа к некоторым функциональным частям Сайта.
                +e.LI.list-item «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
            +e.LI.list-item В настоящей Политике конфиденциальности могут быть использованы термины и определения, не указанные в п. 1.1. В случае отсутствия однозначного толкования термина или определения в тексте Политики конфиденциальности следует руководствоваться его толкованием, определенным: в первую очередь — законодательством Российской Федерации, и в последующем — обычаями делового оборота и научной доктриной.

        +e.LI.list-item._head-item
          +e.SPAN.subtitle Предмет политики конфиденциальности
          +e.OL.list
            +e.LI.list-item Настоящая Политика конфиденциальности устанавливает обязательства Сайта по обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет при использовании Услуг Сайта, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц. При обработке Данных Пользователя, Сайт обязуется принять все разумные организационные и технические меры для их защиты от неправомерных действий третьих лиц. Не исключено, что в результате технических неисправностей, сбоя в работе Сайта, вирусной или хакерской атак и иных обстоятельств третьи лица могут получить неправомерный доступ к Данным Пользователя, а также с ними могут быть совершены иные неправомерные действия. Пользователь это понимает и соглашается с тем, что не будет предъявлять претензии к Сайту.
            +e.LI.list-item Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем самостоятельно и добровольно, путём заполнения форм пользовательского интерфейса на Сайте, а также Данные, которые передаются в автоматическом режиме и включают в себя следующую информацию:
              +e.OL.list
                +e.LI.list-item Фамилия, имя и отчество Пользователя;
                +e.LI.list-item Контактный номер телефона Пользователя;
                +e.LI.list-item Адрес электронной почты (e-mail) Пользователя;
                +e.LI.list-item Местоположение объекта, указанное Пользователем в объявлении;
                +e.LI.list-item Иная информация, размещенная Пользователем на Сайте на его усмотрение.
                +e.LI.list-item IP адрес;
                +e.LI.list-item Файлы cookies;
                +e.LI.list-item Информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);
                +e.LI.list-item Реферер (адрес предыдущей страницы);
                +e.LI.list-item Иные Данные, передающиеся на Сайт автоматически.
            +e.LI.list-item Персональная информация, а также любая другая информация, которую Пользователь сознательно и добровольно передает в процессе использования Услуг Сайта — аналог его собственноручной подписи.
            +e.LI.list-item Любая персональная информация неоговоренная выше, подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п. 5.2. настоящей Политики конфиденциальности.

        +e.LI.list-item._head-item
          +e.SPAN.subtitle Общие положения
          +e.OL.list
            +e.LI.list-item Регистрируясь на Сайте, заполняя и отправляя любые формы, размещая объявления, а равно указывая свои персональные данные, в том числе, при использовании других сервисов Сайта, Пользователь соглашается с настоящей Политикой конфиденциальности и указанными в ней условиями обработки и передачи его персональных данных. Пользователь может в любой момент деактивировать свой аккаунт обратившись в службу поддержки — info@mbib.ru.
            +e.LI.list-item Согласие Пользователя на предоставление, обработку и передачу его Персональных данных Сайту в соответствии с Политикой является полным и безусловным и включает в себя согласие на сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, трансграничную передачу, блокирование, обезличивание, уничтожение, передачу персональных данных внутри Сайта в целях возможного делового взаимодействия и сотрудничества с Сайтом и/или третьими лицами.
            +e.LI.list-item Вся информация, содержащаяся в размещенных Пользователем объявлениях на Сайте, может быть общедоступной, за исключением паролей для доступа к личному кабинету и содержащейся в данном разделе информации. Размещая на Сайте объявления, Пользователь понимает, что размещенная информация публикуется им на Сайте для неопределенного круга лиц. Соответственно, Пользователь понимает и принимает на себя все риски, связанные с таким размещением информации. Пользователь может в любой момент снять объявление с публикации самостоятельно, через личный кабинет.
            +e.LI.list-item Вся информация (независимо от того относится ли такая информация законодательством Российской Федерации к персональным или иным данным, подлежащим защите в соответствии с законодательством Российской Федерации, или нет), размещенная Пользователем на Сайте, размещается им для реализации его имущества и/или в иных интересах Пользователя и, соответственно, Пользователь размещает ту или иную информацию о себе исключительно в своих интересах, в том числе для облегчения установления связи с потенциальным покупателем.
            +e.LI.list-item Сайт не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на Сайте.  На сайтах третьих лиц может быть собственная политика конфиденциальности и у Пользователя могут собираться или запрашиваться иные персональные данные.
            +e.LI.list-item Сайт не проверяет достоверность персональных данных, предоставляемых Пользователями Сайта. Любой Пользователь вправе самостоятельно контролировать информацию, размещенную на Сайте в разделе «Личный кабинет». Любая информация по запросу Пользователя будет незамедлительно удалена с Сайта.
            +e.LI.list-item Персональные данные Пользователя, предоставленные Сайту, считаются не подтверждёнными и могут быть блокированы до момента получения от пользователя или его законного представителя согласия на обработку персональных данных пользователя в любой непротиворечащей закону форме, помимо той, которая предусмотрена на Сайте.
            +e.LI.list-item Посетителям Сайта следует воздержаться от пользования Услугами Сайта, в случае несогласия (полного или частичного) с Политикой конфиденциальности, а равно несогласия предоставить персональные данные.

        +e.LI.list-item._head-item
          +e.SPAN.subtitle Цели обработки персональных данных
          +e.OL.list
            +e.LI.list-item Сайт собирает и хранит только ту персональную информацию, которая необходима для указанных ниже целей, а также для исполнения договоров и соглашений с Пользователем.
            +e.LI.list-item Сайт может использовать Данные Пользователя в следующих целях:
              +e.OL.list
                +e.LI.list-item идентификации Пользователя, в рамках использования им Услуг Сайта;
                +e.LI.list-item установления с Пользователем обратной связи, включая направление уведомлений и запросов, касающихся размещения объявлений, возможного делового сотрудничества, отправку информационных и/или рекламных сообщений Сайта, а также обработку заявок и запросов от Пользователя;
                +e.LI.list-item проведения статистических и иных исследований на основе обезличенных данных для улучшения функционирования Сайта;
                +e.LI.list-item предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием Cайта;
                +e.LI.list-item улучшения качества Сайта, удобства его использования, разработка новых сервисов и услуг;
                +e.LI.list-item таргетирования рекламных материалов;
                +e.LI.list-item составления базы данных Пользователей Сайта;
                +e.LI.list-item осуществления прав и законных интересов Сайта и/или третьих лиц.

        +e.LI.list-item._head-item
          +e.SPAN.subtitle Передача персональных данных пользователя третьим лицам
          +e.OL.list
            +e.LI.list-item В отношении персональных данных Пользователя сохраняется конфиденциальность, кроме случаев добровольного предоставления Пользователем персональных данных для публикации объявлений, предназначенных неограниченному кругу лиц. При использовании отдельных Услуг Сайта, Пользователь соглашается с тем, что определенная часть его персональной информации становится общедоступной.
            +e.LI.list-item Сайт вправе передать персональную информацию Пользователя третьим лицам в следующих случаях:
              +e.OL.list
                +e.LI.list-item Передача Данных производится в целях заключения договора купли-продажи объектов автотранспорта конкретного Пользователя.
                +e.LI.list-item Передача Данных производится в целях сотрудничества с правоохранительными, следственными и иными государственными органами власти Российской Федерации только по основаниям и в порядке, установленным Законодательством Российской Федерации. При этом администрация Сайта оставляет за собой право сообщать в государственные органы о любой противоправной деятельности без уведомления Пользователя об этом.
                +e.LI.list-item Передача Данных государственным органам возможна в целях защиты юридических прав, прав собственности или безопасности Сайта, администрации Сайта, других Пользователей и общества в целом.

        +e.LI.list-item._head-item
          +e.SPAN.subtitle Условия обработки персональных данных
          +e.OL.list
            +e.LI.list-item Обработка персональных данных Пользователя осуществляется с соблюдением принципов и правил, установленных ФЗ «О персональных данных». Сайт хранит и обрабатывает персональную информацию Пользователей ровно столько времени, сколько она остается необходимой для достижения тех целей, ради которых она была изначально получена. Обрабатываемые персональные данные подлежат уничтожению по достижении целей обработки или в случае утраты необходимости в достижении этих целей, за исключением случаев, когда более длительный период хранения информации необходим в соответствии с законодательством Российской Федерации.
            +e.LI.list-item Обработка персональной информации Пользователя осуществляется любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
            +e.LI.list-item Сайт принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
            +e.LI.list-item Пользователь вправе в любой момент изменить (обновить, дополнить, блокировать, уничтожить) предоставленную им персональную информацию или её часть, а также параметры её конфиденциальности путем обращения к администрации Сайта, либо в разделе сайта «Личный кабинет».
            +e.LI.list-item Пользователь вправе в любой момент отозвать согласие на обработку Сайтом персональной информации путём направления письменного уведомления на электронный адрес: <a href="mailto:info@mbib.ru">info@mbib.ru</a> с пометкой «Отзыв согласия на обработку персональных данных».
            +e.LI.list-item Пользователь имеет право на получение информации, касающейся обработки его персональных данных Сайтом.
            +e.LI.list-item Пользователь обязуется не размещать на Сайте персональную информацию других лиц, а также не использовать персональную информацию других Пользователей, каким-либо образом не соответствующим требованиям законодательства Российской Федерации, в целях извлечения выгоды и в любых иных целях, не соответствующих целям создания Сайта и настоящей Политике.
            +e.LI.list-item Для исполнения положений в п. 5.2. настоящей Политики Сайт вправе потребовать подтвердить личность Пользователя, затребовав предоставления такого подтверждения в любой непротиворечащей закону форме.
            +e.LI.list-item При обработке персональных данных Пользователей Сайт руководствуется Федеральным законом Российской Федерации «О персональных данных» от 27.07.2006 № 152-ФЗ.

        +e.LI.list-item._head-item
          +e.SPAN.subtitle Дополнительные условия
          +e.OL.list
            +e.LI.list-item Сайт вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
            +e.LI.list-item Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.
            +e.LI.list-item Действующая Политика конфиденциальности размещена на Сайте по адресу http://mbib.ru.
