.form
	display block
	
	&__row
		margin-bottom 10px
		
		&_align_right
			text-align right
			
		&_align_center
			text-align center
		
		&_align_justify
			display flex
			justify-content space-between
			align-items flex-start