.form
	display block

	&__message
		margin-bottom 1.5em
		line-height 1.71429
		
		&_error
			color lighten($colorMain, 20)
	
	&__section
		border none
		margin-bottom 25px

	&__section-name 
		margin-bottom 18px
		font-size 18px
		font-weight bold
		
	&__row
		position relative
		margin-bottom 15px
		
		&_align_right
			text-align right
			
		&_align_center
			text-align center
		
		&_align_justify
			display flex
			justify-content space-between
			align-items flex-start
			
		&_align_left
			display flex
			justify-content flex-start
			align-items baseline
			
	&__item
		margin 0 20px 0 0
			
	&__warning
		position relative
		margin 10px 0 0
		padding 10px
		font-size 12px

		color lighten($colorMain, 20)
		background-color #fff
		border 1px solid darken($colorDecorative, 10)
		box-shadow 0 2px 10px rgba(#000, .3)
		
		&:before
			position absolute
			top -6px
			left 15px
			size 10px
			content ''
			background-color #fff
			border-top 1px solid darken($colorDecorative, 10)
			border-right 1px solid darken($colorDecorative, 10)
			transform rotate(-45deg)
