.pagination
  position relative
  margin-bottom 56px

  +above(768px)
    margin-bottom 56px
    display flex
    justify-content space-between

  &__pager
    margin-bottom 20px

    +above(768px)
      margin-bottom 0

  &__view-count
    +above(768px)
      width 255px
