include ../pager/pager
include ../select/select

mixin pagination(options = {})
  - var simple = options.simple ? options.simple : false;
  - var className = simple ? '_simple': '';

  +b.pagination&attributes(attributes)(class=className).block
    +e.pager
      +pager
    if !simple
      +e.view-count
        +select(name="viewCount" data-minimum-results-for-search="Infinity")
          option(value="1") 8 на страницу
          option(value="") 16 на страницу
          option(value="") 24 на страницу
          option(value="") 32 на страницу
