.pagination
  position relative
  margin-bottom 10px

  +above(768px)
    margin-bottom 10px
    display flex
    justify-content space-between

  &__pager
    margin-bottom 20px

    +above(768px)
      margin-bottom 0

  &__view-count
    position relative

    +above(768px)
      width 255px

  .block&_simple
    padding 0
    box-shadow none

  &.block_active-gray
    .pager__item:hover,
    .pager__item.pager__item_active
      background: #E0E0E0
      color: #191919
