.credit-bank-steps

  .title.title_level_1
    text-align: center

  &__faq
    background: #fff
    margin: 0 -20px
    padding: 32px 16px 10px

    +above(768px)
      padding: 36px 30px 20px

    +above(1170px)
      padding: 48px 97px 30px

    .faq
      margin: 0

