include ../credit-steps-slider/credit-steps-slider
include ../credit-steps-form/credit-steps-form
include ../breadcrumbs/breadcrumbs
include ../title/title
include ../../blocks/faq/faq
include ../../blocks/better-conditions/better-conditions
include ../../blocks/best-offers/best-offers

mixin credit-steps(stepIndex)
  +b.credit-bank-steps.inner&attributes(attributes)
    +breadcrumbs(getData('credit-calc-crumbs.json'))

    +title(1, 2) Онлайн-заявка на кредит во все банки

    +credit-steps-slider()

    +credit-steps-form(stepIndex)

    +title(1, 2) Договоримся с&nbsp;банками на&nbsp;лучших условиях

    +better-conditions()

    +e.faq
      +faq(getData('faq-2'))

    +best-offers()
