include ../credit-steps-slider/credit-steps-slider
include ../credit-steps-form/credit-steps-form
include ../breadcrumbs/breadcrumbs
include ../title/title
include ../../blocks/faq/faq
include ../../blocks/better-circs/better-circs
include ../../blocks/best-offers/best-offers

mixin credit-steps(stepIndex)
  +b.credit-bank-steps&attributes(attributes)
    +breadcrumbs(getData('credit-calc-crumbs.json'))

    +title(1, 2) Онлайн-заявка на кредит во все банки

    +credit-steps-slider()

    +credit-steps-form(1)

    +title(1, 2) Договоримся с банками на лучших условиях

    +better-circs()

    +e.faq
      +faq(getData('faq-2'))

    +best-offers()
