.modal
	margin 0 auto
	display block
	box-shadow 0 0 0 10px darken($colorDecorative, 40)
	
	&_size_s
		+above(420px)
			width 360px
		
	&_size_m
		+above(540px)
			width 460px

	&__head
		position relative
		padding 15px 45px 15px 19px
		font-family $fontTitle
		font-size 16px
		font-weight bold
		color #444
		background-color lighten($colorDecorative, 10)
		
	&__close
		position absolute
		top 0
		right 0
		bottom 0
		width 45px
		
	&__close-icon
		position absolute
		top 50%
		left 50%
		margin -8px 0 0 -8px
		size 16px
		pointer-events none
		
	&__inner
		box-shadow 0 0px 1px 0 rgba(#000, .75)
		
	&__body
		padding 15px 19px
		background-color #fff
	
	&__footer
		padding 15px 19px
		font-size 13px
		line-height 1.53846
		color darken($colorDecorative, 40)
		background-color lighten($colorDecorative, 10)
	
	&__remark
		margin-bottom 12px
		line-height 1.84615
		color darken($colorDecorative, 20)
		
.mfp-bg
	background-color $colorDecorative
	opacity .75
	
.mfp-zoom-in 
	/* start state */
	.mfp-with-anim 
		opacity 0
		transition all 0.2s ease-in-out 
		transform scale(0.8) 

	&.mfp-bg 
		opacity 0
		transition all 0.3s ease-out

	/* animate in */
	&.mfp-ready 
		.mfp-with-anim 
			opacity 1
			transform scale(1) 

	&.mfp-bg 
		opacity 0.8

	/* animate out */
	&.mfp-removing 

		.mfp-with-anim 
			transform scale(0.8) 
			opacity 0

		&.mfp-bg 
			opacity 0
