.modal
	display block
	box-shadow 0 0 0 10px darken($colorDecorative, 40)
	
	&_size_s
		width 360px

	&__head
		padding 15px 19px
		font-family $fontTitle
		font-size 16px
		font-weight bold
		color #444
		background-color lighten($colorDecorative, 10)
		
	&__inner
		box-shadow 0 0px 1px 0 rgba(#000, .75)
		
	&__body
		padding 15px 19px
		background-color #fff
	
	&__footer
		padding 15px 19px
		font-size 13px
		line-height 1.53846
		color darken($colorDecorative, 40)
		background-color lighten($colorDecorative, 10)
	
	&__remark
		margin-bottom 12px
		line-height 1.84615
		color darken($colorDecorative, 20)