include ../input/input
include ../lbl/lbl
include ../area/area
include ../btn/btn
include ../radio/radio
include ../text/text
include ../form/form
include ../control-group/control-group

mixin modal-claim()
	+b.modal#modalClaim&attributes(attributes)._size_m.mfp-with-anim.mfp-hide
		+e.head
			+e.H5.title Жалоба на объявление
			+e.SPAN.close.mfp-close
				+icon('close', false).close-icon
		+e.inner
			+e.body
				+form(name="claim" action="" method="")
					.control-group.control-group_block
						+e.row
							+e.item._fullwidth
								+radio(name="claimCause" value="salled" required role="radio") Автомобиль продан
						+e.row
							+e.item._fullwidth
								+radio(name="claimCause" value="perekup" role="radio") Перекупщик или салон
						+e.row
							+e.item._fullwidth
								+radio(name="claimCause" value="notavaible" role="radio") Телефон продавца недоступен
						+e.row
							+e.item._fullwidth
								+radio(name="claimCause" value="otherprice" role="radio") Указана заниженная цена
						+e.row
							+e.item._fullwidth
								+radio(name="claimCause" value="photo" role="radio") Фото не соответствует автомобилю
						+e.row
							+e.item._fullwidth
								+radio(name="claimCause" value="year" role="radio") Неверный год выпуска
						+e.row
							+e.item._fullwidth
								+radio(name="claimCause" value="model" role="radio") Неверно указана модель или поколение
						+e.row
							+e.item._fullwidth
								+radio(name="claimCause" value="city" role="radio") Автомобиль в другом городе
						+e.row
							+e.item._fullwidth
								+radio(name="claimCause" value="copy" role="radio") Объявление дублируется
						+e.row
							+e.item._fullwidth
								+radio(name="claimCause" value="rec" role="radio") Продажа запчастей
						+e.row
							+e.item._fullwidth
								+radio(name="claimCause" value="other" role="radio") Другая причина
					+e.row
						+e.item._fullwidth
							+lbl(for="claimText") Комментарий
							+area#claimText(name="claimText" required)
					+e.row
						+e.item._fullwidth
							+lbl(for="claimAuthor" hidden)
							+input(type="email" id="claimAuthor" placeholder="Ваш email" required)
					+e.row._align_right
						+e.item._fullwidth
							+btn('button', 'plaint')._theme_secondary Пожаловаться