include ../akcent-block/akcent-block
include ../title/title
include ../form/form
include ../input/input
include ../select/select
include ../btn/btn
include ../checklist/checklist
include ../more/more

mixin step-artic-2()
  +b.step&attributes(attributes)
    +akcent-block
      +form()
        +e.navigation
          +btn('link')(href="").__navigation-back Назад
          +e.SPAN.navigation-spacer

        +e.FIELDSET.section
          +e.LEGEND.section-name Выберите марку <span class="marked">*</span>
          +e.row
            +e.item._fullwidth
              //- +input(type="text" name="brand" placeholder="Марка")
              +select()(name="brand" data-placeholder="Марка" tabindex="1")._search._for-brand
                option(value="")
                option(value="m1" data-brand="audi") Audi
                option(value="m2" data-brand="bmw") BMW
                option(value="m3" data-brand="kia") Kia
                option(value="m4" data-brand="lada") Lada
                option(value="m5" data-brand="zaz") ЗАЗ
                option(value="m6" data-brand="gaz") ГАЗ
                option(value="m7" data-brand="uaz") УАЗ
                option(value="m8" data-brand="bmw") BMW
                option(value="m9" data-brand="kia") Kia
                option(value="m0" data-brand="lada") Lada
                option(value="m11" data-brand="zaz") ЗАЗ
                option(value="m12" data-brand="gaz") ГАЗ
                option(value="m13" data-brand="uaz") УАЗ
          +e.row
            +e.item._fullwidth
              +checklist(getData('brands'), 'brand')
                +e.item
                  +more._inIconed Все марки
