include ../akcent-block/akcent-block
include ../title/title
include ../form/form
include ../car-name/car-name
include ../input/input
include ../lbl/lbl
include ../btn/btn
include ../radio/radio
include ../checkbox/checkbox
include ../input/input
include ../area/area
include ../select/select
include ../control-group/control-group
include ../switcher/switcher
include ../more/more
include ../add-photo/add-photo
include ../palette/palette
include ../remark/remark
include ../tab/tab
include ../alert/alert
include ../phone-field/phone-field
include ../range/range

mixin step-trailer-4()
  +b.step&attributes(attributes)
    +akcent-block
      +form(name="addCar" action="" method="")._in-akcent
        +e.navigation
          +btn('link')(href="").__navigation-back Назад
          +e.SPAN.navigation-spacer
        +title(2).visuallyhidden Информация об грузовике
        .step__head
          .step__head-name
            +car-name(1, 'BMW / X3 ', 'bmw')
          .step__head-action
            +btn('button', 'close')(href="")._theme_tertirary._size_s.step__head-clear Очистить

        +e.FIELDSET.section
          +e.LEGEND.section-name Год выпуска <span class="marked">*</span>
          +e.row._align_left
            +e.item._tb_3._span_4
              +input(type="text" name="mileage" placeholder="год" required)

        +e.FIELDSET.section
          +e.LEGEND.section-name Пробег <span class="marked">*</span>
          +e.row._align_left
            +e.item._tb_3._span_4
              +input(type="text" name="mileage" placeholder="км" required)._digit-pretify
            +e.item._tb_4._span_3
              +checkbox(name="cleared" id="cleared") Битый или не на ходу
            +e.item._tb_4._span_3
              +checkbox(name="cleared" id="cleared") Не растаможен

        +e.FIELDSET.section
          +e.LEGEND.section-name Тип подвески
          +e.row._align_left
            +e.item._tb_4._span_4
              +e.group
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Рессорная
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Пневмо-рессорная
            +e.item._tb_4._span_4
              +e.group
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Торсионная
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Не указано

        +e.FIELDSET.section
          +e.LEGEND.section-name Тип тормозов
          +e.row._align_left
            +e.item._tb_4._span_4
              +e.group
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Барабанные
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Дисковые
            +e.item._tb_4._span_4
              +e.group
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Не указано

        +e.FIELDSET.section
          +e.LEGEND.section-name Тип прицепа
          +e.row._align_left
            +e.item._tb_4._span_4
              +e.group
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп бортовой
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп для перевозки птиц
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп для перевозки скота
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп для перевозки сыпучих грузов
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп изотермический
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп комбикормовоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп раздвижной
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп самосвальный
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп специальный
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп тракторный
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп шторный
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп шторно-бортовой
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп шторно-бортовой
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-бетоносмеситель
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-битумовоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-зерновоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-контейнеровоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-лесовоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-ломовоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-низкорамный трал
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-панелевоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-панелевоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-роспуск
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-сортиментовоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-стекловоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-тушевоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-тяжеловоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-фермовоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-фургон
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-цементовоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-цистерна
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-щеповоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцеп-эвакуатор
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полуприцепы для перевозки газа
            +e.item._tb_4._span_4
              +e.group
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Низкорамный прицеп
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Высокорамный трал
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп бортовой
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп для перевозки водной техники
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп для перевозки мотоцикла
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп для перевозки птиц
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп для перевозки скота
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп для перевозки снегохода
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп для перевозки транспортных средств
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп для торговли
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп к легковому автомобилю
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп кабельная тележка
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп подкатная тележка
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп рекламный
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп самосвальный
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп тентованный
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп тракторный
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп-ассенизатор
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп-балковоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп-битумовоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп-зерновоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп-коневоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп-контейнеровоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп-ломовоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп-палатка
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп-рефрижератор
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп-роспуск
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп-сортиментовоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп-трейлер
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп-фургон
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп-цистерна
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицеп-щеповоз
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Прицепы для перевозки газа

        +e.FIELDSET.section
          +e.LEGEND.section-name Загрузка, кг <span class="marked">*</span>
          +e.row._align_left
            +e.item._tb_3._span_4
              +input(type="text" name="mileage" required)._digit-pretify

        +e.FIELDSET.section
          +e.LEGEND.section-name Количество осей <span class="marked">*</span>
          +e.row._align_left
            +e.item._tb_3._span_4
              +input(type="text" name="mileage" required)._digit-pretify

        +e.FIELDSET.section
          +e.LEGEND.section-name Цвет <span class="marked">*</span>
          +e.row
            +e.item._fullwidth
              +palette

        +e.FIELDSET.section
          +e.LEGEND.section-name Цена <span class="marked">*</span>
          +e.row._align_left
            +e.item._tb_3._span_4
              +input(type="text" name="price" placeholder="укажите цену" required)._digit-pretify
            +e.item._tb_7._span_4
              +checkbox(name="cleared" id="forchange") Возможен обмен

        +e.FIELDSET.section
          +e.LEGEND.section-name Место осмотра <span class="marked">*</span>
          +e.row._align_left._valign_top
            +e.item._tb_5._span_4
              +select(name="city" data-placeholder="Город")._search
                option(value="")
              //- +input(type="text" name="city" placeholder="Город продажи" required)
              +e.SPAN.remark Изменить город после размещения невозможно
            +e.item._tb_7._span_4
              +input(type="text" name="place" placeholder="Место осмотра")

        +e.section
          +e.section-name Комплектация <span class="marked">*</span>
          +e.row._align_left
            +e.item._tb_4._span_4
              +e.FIELDSET.group
                +e.group-item
                  +checkbox(name="cleared" id="") Антиблокировочная система (ABS)
                +e.group-item
                  +checkbox(name="cleared" id="") Подруливающая ось
                +e.group-item
                  +checkbox(name="cleared" id="") Подъёмная ось
                +e.group-item
                  +checkbox(name="cleared" id="") Пневмоподвеска
                +e.group-item
                  +checkbox(name="cleared" id="") Дисковые тормоза

        +e.section-wrap._marked
          +e.FIELDSET.section
            +e.LEGEND.section-name Личные данные <span class="marked">*</span>
            +e.row._align_left
              +e.item._tb_6._span_4
                +input(type="text" name="city" placeholder="Как к вам обращаться?" required)
                +e.SPAN.remark Имя будет указано в объявлении
            +e.row._align_left
              +e.item._tb_6._span_4
                +phone-field(type="tel" name="phonePlace" id="registrPhone" placeholder="Номер телефона" tabindex="3" required minlength="16" data-too-short="Номер введён не полностью, должно быть 11 цифр" data-value-missing="Введите телефон")
              +e.item._tb_6._span_4
                +input(type="email" name="place" placeholder="Электронная почта (e-mail)" required)

        +e.FIELDSET.section
          +e.LEGEND.section-name Паспорт транспортного средства (ПТС)
          +e.row._align_left
            +e.item._tb_6._span_6
              +switcher(type="radio", name="pts", value="original", id="pts1", role="radio")._theme_simple._size_m Оригинал
              +switcher(type="radio", name="pts", value="dubl", id="pts2", role="radio", checked="checked")._theme_simple._size_m Дубликат

        +e.FIELDSET.section
          +e.LEGEND.section-name Добавьте описание
          +e.row
            +e.item._tb_fullwidth._span_8
              +area(name="comment")
              +e.SPAN.remark Запрещается давать ссылки, указывать адреса эл.почты, телефоны, цену, предлагать услуги, не связанные с продажей этого авто.

        +e.FIELDSET.section
          +e.LEGEND.section-name Добавить фотографии <span class="marked">*</span>
          +e.row
            +e.item._fullwidth
              +add-photo

        +tab._default.form__tab.form__tab_in-akcent.saletype
          +e.head
            +e.A.head-item(href="#saleSimple").saletype__tab-simple Обычная продажа
            +e.A.head-item._active(href="#salePremium").saletype__tab-premium Спецразмещение

          +e.body
            +e.content(id="saleSimple")
              .saletype__simple
                .saletype__content
                  figure.saletype__fig
                    img(src="assets/images/fig-sale.png", alt="")
                  .saletype__text
                    h3 Обычная продажа
                    p Вы можете разместить объявление на Мбиб.ру бесплатно, но дополнительные услуги помогут продать автомобиль быстрее.

              +btn('div', 'add')._size_xxl._theme_secondary._fullwidth.saletype__sbm Бесплатно разместить объявление

              small Размещая объявление, вы соглашаетесь с <a href="">условиями оферты</a> портала mbib.ru и <a href="">требованиями к размещению объявлений</a>.

            +e.content._active(id="salePremium")
              .saletype__premium
                .saletype__content
                  .saletype__text
                    h3 Спецразмещение
                    p Вы можете разместить объявление на портале Мбиб.ру
                    p Дополнительные услуги помогут продать автомобиль быстрее.

                  .saletype__price-wrap
                    .saletype__price
                      span.saletype__price-num 1000
                      span.saletype__price-cur руб.

              +btn('button','premium')(type="submit")._size_xxl._theme_akcent._fullwidth.saletype__sbm Оплатить 1000₽ и разместить объявление
              small Размещая объявление, вы соглашаетесь с <a href="">условиями оферты</a> портала mbib.ru и <a href="">требованиями к размещению объявлений</a>.
