include ../akcent-block/akcent-block
include ../title/title
include ../form/form
include ../car-name/car-name
include ../input/input
include ../lbl/lbl
include ../btn/btn
include ../radio/radio
include ../checkbox/checkbox
include ../input/input
include ../area/area
include ../select/select
include ../control-group/control-group
include ../switcher/switcher
include ../more/more
include ../add-photo/add-photo
include ../palette/palette
include ../remark/remark
include ../tab/tab
include ../alert/alert
include ../phone-field/phone-field
include ../range/range

mixin step-lcv-4()
  +b.step&attributes(attributes)
    +akcent-block
      +form(name="addCar" action="" method="")._in-akcent
        +e.navigation
          +btn('link')(href="").__navigation-back Назад
          +e.SPAN.navigation-spacer
        +title(2).visuallyhidden Информация об автомобиле
        .step__head
          .step__head-name
            +car-name(1, 'BMW / X3 ', 'bmw')
          .step__head-action
            +btn('button', 'close')(href="")._theme_tertirary._size_s.step__head-clear Очистить

        +e.FIELDSET.section
          +e.LEGEND.section-name Загрузка, кг <span class="marked">*</span>
          +e.row._align_left
            +e.item._tb_3._span_4
              +input(type="text" name="mileage" required)._digit-pretify

        +e.FIELDSET.section
          +e.LEGEND.section-name Год выпуска <span class="marked">*</span>
          +e.row._align_left
            +e.item._tb_3._span_4
              +input(type="text" name="mileage" placeholder="год" required)

        +e.FIELDSET.section
          +e.LEGEND.section-name Пробег <span class="marked">*</span>
          +e.row._align_left
            +e.item._tb_3._span_4
              +input(type="text" name="mileage" placeholder="км" required)._digit-pretify
            +e.item._tb_4._span_3
              +checkbox(name="cleared" id="cleared") Битый или не на ходу
            +e.item._tb_4._span_3
              +checkbox(name="cleared" id="cleared") Не растаможен

        +e.FIELDSET.section
          +e.LEGEND.section-name Тип кузова
          +e.row._align_left
            +e.item._tb_4._span_4
              +e.group
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Автотопливозаправщик
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Борт-тент
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Бортовой грузовик
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Бортовой с КМУ
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Изотермический фургон
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Кэмпер
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Микроавтобус
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Пикап
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Промтоварный автофургон
            +e.item._tb_4._span_4
              +e.group
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Рефрижератор
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Самосвал
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Скорая помощь
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Фургон для торговли
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Цельнометаллический фургон
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Цистерна
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Шасси
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Эвакуатор

        +e.FIELDSET.section
          +e.LEGEND.section-name Привод
          +e.row._align_left
            +e.item._tb_4._span_4
              +e.group
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Заднеприводный с подключаемым передним
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Задний
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Передний
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полный
            +e.item._tb_4._span_4
              +e.group
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Постоянный привод на все колеса
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Полный подключаемый
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Не указано

        +e.FIELDSET.section
          +e.LEGEND.section-name Двигатель
          +e.row._align_left
            +e.item._tb_4._span_4
              +e.group
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Бензин
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Дизель
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Электро
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Гибрид
            +e.item._tb_4._span_4
              +e.group
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Дизель+газ
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Бензин-газ
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Газ
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Не указано

        +e.FIELDSET.section
          +e.LEGEND.section-name Коробка
          +e.row._align_left
            +e.item._tb_4._span_4
              +e.group
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Автомат
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Робот
            +e.item._tb_4._span_4
              +e.group
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Механическая
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Не указано

        +e.FIELDSET.section
          +e.LEGEND.section-name Количество мест
          +e.row._align_left
             +e.item._tb_3._span_4
              +input(type="text" name="mileage" required)._digit-pretify

        +e.FIELDSET.section
          +e.LEGEND.section-name Объем двигателя см³ <span class="marked">*</span>
          +e.row._align_left
            +e.item._tb_3._span_4
              +input(type="text" name="mileage" required)._digit-pretify

        +e.FIELDSET.section
          +e.LEGEND.section-name Мощность
          +e.row._align_left
            +e.item._tb_3._span_4
              +range(name="power" id="power" value="78" min="10" max="1000" step="1")._power
            +e.item._tb_3._span_4
              span
                +e.SPAN.output._power 78
                span л.с.

        +e.FIELDSET.section
          +e.LEGEND.section-name Руль
          +e.row._align_left
            +e.item._tb_4._span_4
              +e.group
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Левый
            +e.item._tb_4._span_4
              +e.group
                +e.group-item
                  +radio(name="climat" id="climat1" value="") Правый

        +e.FIELDSET.section
          +e.LEGEND.section-name Цвет <span class="marked">*</span>
          +e.row
            +e.item._fullwidth
              +palette

        +e.FIELDSET.section
          +e.LEGEND.section-name Цена <span class="marked">*</span>
          +e.row._align_left
            +e.item._tb_3._span_4
              +input(type="text" name="price" placeholder="укажите цену" required)._digit-pretify
            +e.item._tb_7._span_4
              +checkbox(name="cleared" id="forchange") Возможен обмен

        +e.FIELDSET.section
          +e.LEGEND.section-name Место осмотра <span class="marked">*</span>
          +e.row._align_left._valign_top
            +e.item._tb_5._span_4
              +select(name="city" data-placeholder="Город")._search
                option(value="")
              //- +input(type="text" name="city" placeholder="Город продажи" required)
              +e.SPAN.remark Изменить город после размещения невозможно
            +e.item._tb_7._span_4
              +input(type="text" name="place" placeholder="Место осмотра")

        +e.section
          +e.section-name Комплектация <span class="marked">*</span>
          +e.row._align_left
            +e.item._tb_4._span_4
              +e.FIELDSET.group
                +e.LEGEND.group-name Мультимедиа и навигация
                +e.group-item
                  +checkbox(name="cleared" id="") Антиблокировочная система (ABS)
                +e.group-item
                  +checkbox(name="cleared" id="") Антипробуксовочная система
                +e.group-item
                  +checkbox(name="cleared" id="") Круиз-контроль
                +e.group-item
                  +checkbox(name="cleared" id="") Бортовой компьютер
                +e.group-item
                  +checkbox(name="cleared" id="") Кондиционер
                +e.group-item
                  +checkbox(name="cleared" id="") Усилитель руля
                +e.group-item
                  +checkbox(name="cleared" id="") Регулировка руля
                +e.group-item
                  +checkbox(name="cleared" id="") Сигнализация
                +e.group-item
                  +checkbox(name="cleared" id="") Центральный замок
                +e.group-item
                  +checkbox(name="cleared" id="") Обогрев зеркал
                +e.group-item
                  +checkbox(name="cleared" id="") Электропривод зеркал
                +e.group-item
                  +checkbox(name="cleared" id="") Обогрев сидений
                +e.group-item
                  +checkbox(name="cleared" id="") Легкосплавные диски
          +e.row
            +e.item._span_8
              +e.FIELDSET.group
                +e.LEGEND.group-name Подушки безопасности
                +e.group-item._inline
                  +radio(name="cleared" id="") Отсутствуют
                +e.group-item._inline
                  +radio(name="cleared" id="") Водителя
                +e.group-item._inline
                  +radio(name="cleared" id="") Водителя и пассажира
                +e.group-item._inline
                  +radio(name="cleared" id="") Передние и боковые

          +e.row
            +e.item._span_8
              +e.FIELDSET.group
                +e.LEGEND.group-name Электроподъемники
                +e.group-item._inline
                  +radio(name="cleared" id="") Отсутствуют
                +e.group-item._inline
                  +radio(name="cleared" id="") Все
                +e.group-item._inline
                  +radio(name="cleared" id="") Левый
                +e.group-item._inline
                  +radio(name="cleared" id="") Правый

          +e.row
            +e.item._span_8
              +e.FIELDSET.group
                +e.LEGEND.group-name Магнитола
                +e.group-item._inline
                  +radio(name="cleared" id="") Отсутствуют
                +e.group-item._inline
                  +radio(name="cleared" id="") CD
                +e.group-item._inline
                  +radio(name="cleared" id="") DVD
                +e.group-item._inline
                  +radio(name="cleared" id="") Кассетная
                +e.group-item._inline
                  +radio(name="cleared" id="") Радио

        +e.section-wrap._marked
          +e.FIELDSET.section
            +e.LEGEND.section-name Личные данные <span class="marked">*</span>
            +e.row._align_left
              +e.item._tb_6._span_4
                +input(type="text" name="city" placeholder="Как к вам обращаться?" required)
                +e.SPAN.remark Имя будет указано в объявлении
            +e.row._align_left
              +e.item._tb_6._span_4
                +phone-field(type="tel" name="phonePlace" id="registrPhone" placeholder="Номер телефона" tabindex="3" required minlength="16" data-too-short="Номер введён не полностью, должно быть 11 цифр" data-value-missing="Введите телефон")
              +e.item._tb_6._span_4
                +input(type="email" name="place" placeholder="Электронная почта (e-mail)" required)

        +e.FIELDSET.section
          +e.LEGEND.section-name Паспорт транспортного средства (ПТС)
          +e.row._align_left
            +e.item._tb_6._span_6
              +switcher(type="radio", name="pts", value="original", id="pts1", role="radio")._theme_simple._size_m Оригинал
              +switcher(type="radio", name="pts", value="dubl", id="pts2", role="radio", checked="checked")._theme_simple._size_m Дубликат

        +e.FIELDSET.section
          +e.LEGEND.section-name Добавьте описание
          +e.row
            +e.item._tb_fullwidth._span_8
              +area(name="comment")
              +e.SPAN.remark Запрещается давать ссылки, указывать адреса эл.почты, телефоны, цену, предлагать услуги, не связанные с продажей этого авто.

        +e.FIELDSET.section
          +e.LEGEND.section-name Добавить фотографии <span class="marked">*</span>
          +e.row
            +e.item._fullwidth
              +add-photo

        +tab._default.form__tab.form__tab_in-akcent.saletype
          +e.head
            +e.A.head-item(href="#saleSimple").saletype__tab-simple Обычная продажа
            +e.A.head-item._active(href="#salePremium").saletype__tab-premium Спецразмещение

          +e.body
            +e.content(id="saleSimple")
              .saletype__simple
                .saletype__content
                  figure.saletype__fig
                    img(src="assets/images/fig-sale.png", alt="")
                  .saletype__text
                    h3 Обычная продажа
                    p Вы можете разместить объявление на Мбиб.ру бесплатно, но дополнительные услуги помогут продать автомобиль быстрее.

              +btn('div', 'add')._size_xxl._theme_secondary._fullwidth.saletype__sbm Бесплатно разместить объявление

              small Размещая объявление, вы соглашаетесь с <a href="">условиями оферты</a> портала mbib.ru и <a href="">требованиями к размещению объявлений</a>.

            +e.content._active(id="salePremium")
              .saletype__premium
                .saletype__content
                  .saletype__text
                    h3 Спецразмещение
                    p Вы можете разместить объявление на портале Мбиб.ру
                    p Дополнительные услуги помогут продать автомобиль быстрее.

                  .saletype__price-wrap
                    .saletype__price
                      span.saletype__price-num 1000
                      span.saletype__price-cur руб.

              +btn('button','premium')(type="submit")._size_xxl._theme_akcent._fullwidth.saletype__sbm Оплатить 1000₽ и разместить объявление
              small Размещая объявление, вы соглашаетесь с <a href="">условиями оферты</a> портала mbib.ru и <a href="">требованиями к размещению объявлений</a>.
