@import '../../node_modules/rupture/rupture/index.styl'

$mob = 370px
$tab = 768px
$dt = 980px
$wide = 1170px

rupture.scale = 0 $mob $tab $dt $wide
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl'
rupture.mobile-cutoff = $tab
rupture.desktop-cutoff = $wide - 1

@import 'sprites/*'
@import 'helpers/svg-size'
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'
@import 'helpers/typography'
@import '../../node_modules/rangeslider-pure/dist/range-slider.css'
@import '../../node_modules/fotorama/fotorama.css'
@import '../../node_modules/notyf/notyf.min.css'
@import '../../node_modules/magnific-popup/dist/magnific-popup.css'
@import '../../node_modules/nouislider/dist/nouislider.css'
@import '../blocks/**/*'

.roboto-rub
  font-family Roboto, sans-serif

.dt-only
  +below($wide)
    display none

@import 'brands'
