import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

@import '../../node_modules/rangeslider-pure/dist/range-slider.css'
@import '../../node_modules/fotorama/fotorama.css'
@import '../../node_modules/notyf/dist/notyf.min.css'
@import '../../node_modules/magnific-popup/dist/magnific-popup.css'
import('../blocks/page/page')
import('../blocks/**/*')