import('sprites/*')

.brand
	&_ac
		sprite $ac
		
	&_ac_b
		sprite $ac_b
		
	&_acura
		sprite $acura
		
	&_acura_b
		sprite $acura_b
		
	&_adler
		sprite $adler
		
	&_adler_b
		sprite $adler_b
	
	&_alfa_romeo
		sprite $alfa_romeo
		
	&_alfa_romeo_b
		sprite $alfa_romeo_b
		
	&_alpina
		sprite $alpina
		
	&_alpina_b
		sprite $alpina_b
		
	&_alpine
		sprite $alpine
		
	&_alpine_b
		sprite $alpine_b
		
	&_amc
		sprite $amc
		
	&_amc_b
		sprite $amc_b
		
	&_amgeneral
		sprite $amgeneral
		
	&_amgeneral_b
		sprite $amgeneral_b
		
	&_ariel
		sprite $ariel
		
	&_ariel_b
		sprite $ariel_b
		
	&_aro
		sprite $aro
		
	&_aro_b
		sprite $aro_b
	
	&_asia
		sprite $asia
		
	&_asia_b
		sprite $asia_b
		
	&_aston_martin
		sprite $aston_martin
		
	&_aston_martin_b
		sprite $aston_martin_b

	&_audi
		sprite $audi
		
	&_audi_b
		sprite $audi_b
		
	&_austin
		sprite $austin
		
	&_austin_b
		sprite $austin_b
		
	&_autobianchi
		sprite $autobianchi
		
	&_autobianchi_b
		sprite $autobianchi_b
		
	&_avtocam
		sprite $avtocam
		
	&_avtocam_b
		sprite $avtocam_b
		
	&_bajaj
		sprite $bajaj
		
	&_bajaj_b
		sprite $bajaj_b
		
	&_baltijas_dzips
		sprite $baltijas_dzips
		
	&_baltijas_dzips_b
		sprite $baltijas_dzips_b
		
	&_baw
		sprite $baw

	&_baw_b
		sprite $baw_b

	&_beijing
		sprite $beijing
		
	&_beijing_b
		sprite $beijing_b
		
	&_bentley
		sprite $bentley
		
	&_bentley_b
		sprite $bentley_b
		
	&_bertone
		sprite $bertone
		
	&_bertone_b
		sprite $bertone_b
		
	&_bilenkin
		sprite $bilenkin
		
	&_bilenkin_b
		sprite $bilenkin_b
		
	&_bitter
		sprite $bitter
		
	&_bitter_b
		sprite $bitter_b
		
	&_borgward
		sprite $borgward
		
	&_borgward_b
		sprite $borgward_b

	&_bmw
		sprite $bmw
		
	&_bmw_b
		sprite $bmw_b
		
	&_brabus
		sprite $brabus
		
	&_brabus_b
		sprite $brabus_b
		
	&_brilliance
		sprite $brilliance
	
	&_brilliance_b
		sprite $brilliance_b
		
	&_bristol
		sprite $bristol
		
	&_bristol_b
		sprite $bristol_b
		
	&_bufori
		sprite $bufori
		
	&_bufori_b
		sprite $bufori_b
		
	&_bugatti
		sprite $bugatti
		
	&_bugatti_b
		sprite $bugatti_b
		
	&_buick
		sprite $buick
		
	&_buick_b
		sprite $buick_b
		
	&_byd
		sprite $byd
		
	&_byd_b
		sprite $byd_b
		
	&_byvin
		sprite $byvin
		
	&_byvin_b
		sprite $byvin_b
		
	&_cadillac
		sprite $cadillac
		
	&_cadillac_b
		sprite $cadillac_b
	
	&_callaway
		sprite $callaway
		
	&_callaway_b
		sprite $callaway_b
		
	&_carbodies
		sprite $carbodies
		
	&_carbodies_b
		sprite $carbodies_b
		
	&_caterham
		sprite $caterham
		
	&_caterham_b
		sprite $caterham_b
		
	&_changan
		sprite $changan
		
	&_changan_b
		sprite $changan_b
		
	&_changfeng
		sprite $changfeng
		
	&_changfeng_b
		sprite $changfeng_b
		
	&_chery
		sprite $chery
		
	&_chery_b
		sprite $chery_b
		
	&_chevrolet
		sprite $chevrolet
		
	&_chevrolet_b
		sprite $chevrolet_b
	
	&_chevrolet
		sprite $chevrolet
		
	&_chrysler
		sprite $chrysler
		
	&_chrysler_b
		sprite $chrysler_b
		
	&_citroen
		sprite $citroen
		
	&_citroen_b
		sprite $citroen_b
		
	&_cizeta
		sprite $cizeta
		
	&_cizeta_b
		sprite $cizeta_b
		
	&_coggiola
		sprite $coggiola
		
	&_coggiola_b
		sprite $coggiola_b
		
	&_dacia
		sprite $dacia
		
	&_dacia_b
		sprite $dacia_b
		
	&_dadi
		sprite $dadi
		
	&_dadi_b
		sprite $dadi_b
		
	&_daewoo
		sprite $daewoo
		
	&_daewoo_b
		sprite $daewoo_b
		
	&_daihatsu
		sprite $daihatsu
		
	&_daihatsu_b
		sprite $daihatsu_b
		
	&_daimler
		sprite $daimler
		
	&_daimler_b
		sprite $daimler_b
		
	&_datsun
		sprite $datsun
	
	&_datsun_b
		sprite $datsun_b
		
	&_de_tomaso
		sprite $de_tomaso
		
	&_de_tomaso_b
		sprite $de_tomaso_b
	
	&_delage
		sprite $delage
		
	&_delage_b
		sprite $delage_b
		
	&_delorean
		sprite $delorean
		
	&_delorean_b
		sprite $delorean_b
		
	&_derways
		sprite $derways
		
	&_derways_b
		sprite $derways_b
		
	&_desoto
		sprite $desoto
		
	&_desoto_b
		sprite $desoto_b
		
	&_dodge
		sprite $dodge
		
	&_dodge_b
		sprite $dodge_b
		
	&_dongfeng
		sprite $dongfeng
	
	&_dongfeng_b
		sprite $dongfeng_b
		
	&_doninvest
		sprite $doninvest
		
	&_doninvest_b
		sprite $doninvest_b
		
	&_donkervoort
		sprite $donkervoort
		
	&_donkervoort_b
		sprite $donkervoort_b
		
	&_ds
		sprite $ds
		
	&_ds_b
		sprite $ds_b
		
	&_dw_hower
		sprite $dw_hower
		
	&_dw_hower_b
		sprite $dw_hower_b
		
	&_e_car
		sprite $e_car
		
	&_e_car_b
		sprite $e_car_b
		
	&_eagle
		sprite $eagle
		
	&_eagle_b
		sprite $eagle_b

	&_eaglecars
		sprite $eaglecars
		
	&_eaglecars_b
		sprite $eaglecars_b
		
	&_ecomotors
		sprite $ecomotors
		
	&_ecomotors_b
		sprite $ecomotors_b
		
	&_excalibur
		sprite $excalibur
		
	&_excalibur_b
		sprite $excalibur_b
		
	&_faw
		sprite $faw
		
	&_faw_b
		sprite $faw_b
		
	&_ferrari
		sprite $ferrari
	
	&_ferrari_b
		sprite $ferrari_b
	
	&_fiat
		sprite $fiat
		
	&_fiat_b
		sprite $fiat_b
		
	&_fisker
		sprite $fisker
		
	&_fisker_b
		sprite $fisker_b
		
	&_ford
		sprite $ford
		
	&_ford_b
		sprite $ford_b
		
	&_foton
		sprite $foton
		
	&_foton_b
		sprite $foton_b
		
	&_fso
		sprite $fso
		
	&_fso_b
		sprite $fso_b
		
	&_fuqi
		sprite $fuqi
		
	&_fuqi_b
		sprite $fuqi_b
		
	&_gac
		sprite $gac
		
	&_gac_b
		sprite $gac_b
		
	&_gaz
		sprite $gaz
		
	&_gaz_b
		sprite $gaz_b
		
	&_geely
		sprite $geely
		
	&_geely_b
		sprite $geely_b
		
	&_genesis
		sprite $genesis
		
	&_genesis_b
		sprite $genesis_b
		
	&_geo
		sprite $geo
		
	&_geo_b
		sprite $geo_b
		
	&_gmc
		sprite $gmc
		
	&_gmc_b
		sprite $gmc_b
		
	&_gonow
		sprite $gonow
		
	&_gonow_b
		sprite $gonow_b
	
	&_gordon
		sprite $gordon
		
	&_gordon_b
		sprite $gordon_b
		
	&_gp
		sprite $gp
		
	&_gp_b
		sprite $gp_b
		
	&_great_wall
		sprite $great_wall
		
	&_great_wall_b
		sprite $great_wall_b
		
	&_hafei
		sprite $hafei
		
	&_hafei_b
		sprite $hafei_b
		
	&_haima
		sprite $haima
		
	&_haima_b
		sprite $haima_b
	
	&_hanomag
		sprite $hanomag
		
	&_hanomag_b
		sprite $hanomag_b
		
	&_haval
		sprite $haval
		
	&_haval_b
		sprite $haval_b
		
	&_hawtai
		sprite $hawtai
		
	&_hawtai_b
		sprite $hawtai_b
		
	&_hindustan
		sprite $hindustan
		
	&_hindustan_b
		sprite $hindustan_b
		
	&_hispano_suiza
		sprite $hispano_suiza
		
	&_hispano_suiza_b
		sprite $hispano_suiza_b
	
	&_holden
		sprite $holden
		
	&_holden_b
		sprite $holden_b
	
	&_honda
		sprite $honda
		
	&_honda_b
		sprite $honda_b
	
	&_horch
		sprite $horch
		
	&_horch_b
		sprite $horch_b
		
	&_huanghai
		sprite $huanghai
		
	&_huanghai_b
		sprite $huanghai_b
		
	&_hudson
		sprite $hudson
		
	&_hudson_b
		sprite $hudson_b
		
	&_hummer
		sprite $hummer
		
	&_hummer_b
		sprite $hummer_b
		
	&_hyundai
		sprite $hyundai
		
	&_hyundai_b
		sprite $hyundai_b
		
	&_infiniti
		sprite $infinity
		
	&_infiniti_b
		sprite $infinity_b
	
	&_innocenti
		sprite $innocenti
		
	&_innocenti_b
		sprite $innocenti_b
		
	&_invicta
		sprite $invicta
		
	&_invicta_b
		sprite $invicta_b
	
	&_iran_khodro
		sprite $iran_khodro
		
	&_iran_khodro_b
		sprite $iran_khodro_b
		
	&_isdera
		sprite $isdera
		
	&_isdera_b
		sprite $isdera_b
		
	&_isuzu
		sprite $isuzu
		
	&_isuzu_b
		sprite $isuzu_b
		
	&_izh
		sprite $izsh
		
	&_izh_b
		sprite $izsh_b
		
	&_jac
		sprite $jac
		
	&_jac_b
		sprite $jac_b
	
	&_jaguar
		sprite $jaguar
		
	&_jaguar_b
		sprite $jaguar_b
		
	&_jeep
		sprite $jeep
		
	&_jeep_b
		sprite $jeep_b
		
	&_jensen
		sprite $jensen
		
	&_jensen_b
		sprite $jensen_b
	
	&_jinbei
		sprite $jinbei
		
	&_jinbei_b
		sprite $jinbei_b
		
	&_jmc
		sprite $jmc
		
	&_jmc_b
		sprite $jmc_b
	
	&_kanonir
		sprite $kanonir
		
	&_kanonir_b
		sprite $kanonir_b
		
	&_kia
		sprite $kia
		
	&_kia_b
		sprite $kia_b
	
	&_kombat
		sprite $kombat
	
	&_kombat_b
		sprite $kombat_b
	
	&_koenigsegg
		sprite $koenigsegg

	&_koenigsegg_b
		sprite $koenigsegg_b

	&_ktm_ag
		sprite $ktm_ag
		
	&_ktm_ag_b
		sprite $ktm_ag_b
		
	&_lada
		sprite $lada
		
	&_lada_b
		sprite $lada_b
		
	&_lamborghini
		sprite $lamborghini
		
	&_lamborghini_b
		sprite $lamborghini_b
		
	&_lancia
		sprite $lancia
		
	&_lancia_b
		sprite $lancia_b
		
	&_land_rover
		sprite $land_rover
		
	&_land_rover_b
		sprite $land_rover_b
		
	&_landwind
		sprite $landwind
		
	&_landwind_b
		sprite $landwind_b
		
	&_ldv
		sprite $ldv

	&_ldv_b
		sprite $ldv_b

	&_lexus
		sprite $lexus
		
	&_lexus_b
		sprite $lexus_b
		
	&_liebaomotor
		sprite $liebaomotor
		
	&_liebaomotor_b
		sprite $liebaomotor_b
		
	&_lifan
		sprite $lifan
		
	&_lifan_b
		sprite $lifan_b
		
	&_lincoln
		sprite $linkoln
		
	&_linсoln_b
		sprite $linkoln_b
	
	&_lotus
		sprite $lotus
		
	&_lotus_b
		sprite $lotus_b
		
	&_lti
		sprite $lti
		
	&_lti_b
		sprite $lti_b
	
	&_luaz
		sprite $luaz
		
	&_luaz_b
		sprite $luaz_b
		
	&_lucid
		sprite $lucid
		
	&_lucid_b
		sprite $lucid_b
		
	&_luxgen
		sprite $luxgen
		
	&_luxgen_b
		sprite $luxgen_b
	
	&_mahindra
		sprite $mahindra
		
	&_mahindra_b
		sprite $mahindra_b
	
	&_marcos
		sprite $marcos
		
	&_marcos_b
		sprite $marcos_b
		
	&_marlin
		sprite $marlin
		
	&_marlin_b
		sprite $marlin_b
	
	&_marussia
		sprite $marussia
		
	&_marussia_b
		sprite $marussia_b
		
	&_maruti
		sprite $maruti
		
	&_maruti_b
		sprite $maruti_b
	
	&_maserati
		sprite $maserati
		
	&_maserati_b
		sprite $maserati_b
		
	&_maybach
		sprite $maybach
		
	&_maybach_b
		sprite $maybach_b
		
	&_mazda
		sprite $mazda
		
	&_mazda_b
		sprite $mazda_b
	
	&_mclaren
		sprite $mclaren
		
	&_mclaren_b
		sprite $mclaren_b
	
	&_mega
		sprite $mega
		
	&_mega_b
		sprite $mega_b
	
	&_mercedes_benz
		sprite $mercedes_benz
		
	&_mercedes_benz_b
		sprite $mercedes_benz_b
		
	&_mercury
		sprite $mercury
		
	&_mercury_b
		sprite $mercury_b
		
	&_metrocab
		sprite $metrocab
		
	&_metrocab_b
		sprite $metrocab_b
		
	&_mg
		sprite $mg
		
	&_mg_b
		sprite $mg_b
		
	&_microcar
		sprite $microcar
		
	&_microcar_b
		sprite $microcar_b
		
	&_minelli
		sprite $minelli
		
	&_minelli_b
		sprite $minelli_b
		
	&_mini
		sprite $mini
		
	&_mini_b
		sprite $mini_b
	
	&_mitsubishi
		sprite $mitsubishi
		
	&_mitsubishi_b
		sprite $mitsubishi_b
		
	&_mitsuoka
		sprite $mitsuoka
		
	&_mitsuoka_b
		sprite $mitsuoka_b
	
	&_morgan
		sprite $morgan
	
	&_morgan_b
		sprite $morgan_b
	
	&_morris
		sprite $morris
		
	&_morris_b
		sprite $morris_b
	
	&_moskvich
		sprite $moskvich
		
	&_moskvich_b
		sprite $moskvich_b
	
	&_nash
		sprite $nash
		
	&_nash_b
		sprite $nash_b
		
	&_nissan
		sprite $nissan
		
	&_nissan_b
		sprite $nissan_b
		
	&_noble
		sprite $noble
		
	&_noble_b
		sprite $noble_b
		
	&_oldsmobile
		sprite $oldsmobile
		
	&_opel
		sprite $opel
		
	&_opel_b
		sprite $opel_b
	
	&_osca
		sprite $osca
		
	&_osca_b
		sprite $osca_b
	
	&_packard
		sprite $packard
		
	&_packard_b
		sprite $packard_b
	
	&_pagani
		sprite $pagani
		
	&_pagani_b
		sprite $pagani_b
		
	&_panoz
		sprite $panoz
		
	&_panoz_b
		sprite $panoz_b
		
	&_perodua
		sprite $perodua
		
	&_perodua_b
		sprite $perodua_b
		
	&_peugeot
		sprite $peugeot
		
	&_peugeot_b
		sprite $peugeot_b
	
	&_pgo
		sprite $pgo
		
	&_pgo_b
		sprite $pgo_b
		
	&_piaggio
		sprite $piaggio
		
	&_piaggio_b
		sprite $piaggio_b
		
	&_plymouth
		sprite $plymouth
		
	&_plymouth_b
		sprite $plymouth_b
		
	&_pontiac
		sprite $pontiac
		
	&_pontiac_b
		sprite $pontiac_b
		
	&_porsche
		sprite $porsche
		
	&_porsche_b
		sprite $porsche
		
	&_premier
		sprite $premier
		
	&_premier_b
		sprite $premier_b
		
	&_proton
		sprite $proton
		
	&_proton_b
		sprite $proton_b
		
	&_puch
		sprite $puch
		
	&_puch_b
		sprite $puch_b
		
	&_puma
		sprite $puma

	&_puma_b
		sprite $puma_b
		
	&_qoros
		sprite $qoros
		
	&_qoros_b
		sprite $qoros_b
		
	&_qvale
		sprite $qvale
		
	&_qvale_b
		sprite $qvale_b
		
	&_raf
		sprite $raf

	&_raf_b
		sprite $raf_b

	&_ravon
		sprite $ravon
		
	&_ravon_b
		sprite $ravon_b
		
	&_reliant
		sprite $reliant
		
	&_reliant_b
		sprite $reliant_b
		
	&_renault
		sprite $renault
		
	&_renault_b
		sprite $renault_b
		
	&_renault_samsung
		sprite $renault_samsung
		
	&_renault_samsung_b
		sprite $renault_samsung_b
		
	&_resnaissance
		sprite $resnaissance
		
	&_resnaissance_b
		sprite $resnaissance_b
		
	&_rezvani
		sprite $rezvani
		
	&_rezvani_b
		sprite $rezvani_b
		
	&_rimac
		sprite $rimac
		
	&_rimac_b
		sprite $rimac_b
		
	&_rolls_royce
		sprite $rolls_royce
		
	&_rolls_royce_b
		sprite $rolls_royce_b
		
	&_ronart
		sprite $ronart
		
	&_ronart_b
		sprite $ronart_b
		
	&_rover
		sprite $rover
		
	&_rover_b
		sprite $rover_b
	
	&_saab
		sprite $saab
		
	&_saab_b
		sprite $saab_b
		
	&_saleen
		sprite $saleen
		
	&_saleen_b
		sprite $saleen_b
	
	&_santana
		sprite $santana
		
	&_santana_b
		sprite $santana_b
		
	&_saturn
		sprite $saturn
		
	&_saturn_b
		sprite $saturn_b
	
	&_scion
		sprite $scion
		
	&_scion_b
		sprite $scion_b
		
	&_seat
		sprite $seat
		
	&_seat_b
		sprite $seat_b
		
	&_shanghai_maple
		sprite $shanghai_maple
		
	&_shanghai_maple_b
		sprite $shanghai_maple_b
		
	&_shuanghuan
		sprite $shuanghuan
		
	&_shuanghuan_b
		sprite $shuanghuan_b
	
	&_skoda
		sprite $skoda
		
	&_skoda_b
		sprite $skoda_b
	
	&_sma
		sprite $sma
		
	&_sma_b
		sprite $sma_b

	&_smart
		sprite $smart
	
	&_smart_b
		sprite $smart_b
	
	&_smz
		sprite $smz
		
	&_smz_b
		sprite $smz_b
		
	&_soueast
		sprite $soueast
		
	&_soueast_b
		sprite $soueast_b
		
	&_spectre
		sprite $spectre
		
	&_spectre_b
		sprite $spectre_b
	
	&_spyker
		sprite $spyker
	
	&_spyker_b
		sprite $spyker_b
	
	&_ssangyong
		sprite $ssangyong
		
	&_ssangyong_b
		sprite $ssangyong_b
	
	&_steyr
		sprite $steyr
		
	&_steyr_b
		sprite $steyr_b
	
	&_subaru
		sprite $subaru
		
	&_subaru_b
		sprite $subaru_b
		
	&_suzuki
		sprite $suzuki
		
	&_suzuki_b
		sprite $suzuki_b
		
	&_tagaz
		sprite $tagaz
		
	&_tagaz_b
		sprite $tagaz_b
		
	&_talbot
		sprite $talbot
		
	&_talbot_b
		sprite $talbot_b
		
	&_tata
		sprite $tata
		
	&_tata_b
		sprite $tata_b
		
	&_tatra
		sprite $tatra
		
	&_tatra_b
		sprite $tatra_b

	&_tazzari
		sprite $tazzari
		
	&_tazzari_b
		sprite $tazzari_b
	
	&_tesla
		sprite $tesla
		
	&_tesla_b
		sprite $tesla_b
	
	&_think
		sprite $think
		
	&_think_b
		sprite $think_b
		
	&_tianma
		sprite $tianma
		
	&_tianma_b
		sprite $tianma_b
		
	&_tianye
		sprite $tianye
		
	&_tianye_b
		sprite $tianye_b
		
	&_tofas
		sprite $tofas
		
	&_tofas_b
		sprite $tofas_b
		
	&_toyota
		sprite $toyota
		
	&_toyota_b
		sprite $toyota_b
		
	&_trabant
		sprite $trabant
		
	&_trabant_b
		sprite $trabant_b
	
	&_tramontana
		sprite $tramontana
		
	&_tramontana_b
		sprite $tramontana_b
		
	&_triumph
		sprite $triumph
		
	&_triumph_b
		sprite $triumph_b
	
	&_tvr
		sprite $tvr
		
	&_tvr_b
		sprite $tvr_b
	
	&_uaz
		sprite $uaz
		
	&_uaz_b
		sprite $uaz_b
		
	&_ultima
		sprite $ultima
		
	&_ultima_b
		sprite $ultima_b
	
	&_vauxhall
		sprite $vauxhall
		
	&_vauxhall_b
		sprite $vauxhall_b
		
	&_vector
		sprite $vector
		
	&_vector_b
		sprite $vector_b
		
	&_venturi
		sprite $venturi
		
	&_venturi_b
		sprite $venturi_b
		
	&_vis
		sprite $vis
		
	&_vis_b
		sprite $vis_b
		
	&_volkswagen
		sprite $volkswagen
		
	&_volkswagen_b
		sprite $volkswagen_b
		
	&_volvo
		sprite $volvo
		
	&_volvo_b
		sprite $volvo_b
		
	&_vortex
		sprite $vortex
		
	&_vortex_b
		sprite $vortex_b
		
	&_w_motors
		sprite $w_motors
		
	&_w_motors_b
		sprite $w_motors_b
		
	&_wanderer
		sprite $wanderer
		
	&_wanderer_b
		sprite $wanderer_b
		
	&_wartburg
		sprite $wartburg
		
	&_wartburg_b
		sprite $wartburg_b
	
	&_westfield
		sprite $westfield
		
	&_westfield_b
		sprite $westfield_b
		
	&_wiesmann
		sprite $wiesmann
		
	&_wiesmann_b
		sprite $wiesmann_b
	
	&_willys
		sprite $willys
		
	&_willys_b
		sprite $willys_b
		
	&_xin_kai
		sprite $xinkai
		
	&_xin_kai_b
		sprite $xinkai_b
		
	&_zastava
		sprite $zastava
		
	&_zastava_b
		sprite $zastava_b
		
	&_zaz
		sprite $zaz
		
	&_zaz_b
		sprite $zaz_b
		
	&_zenos
		sprite $zenos
		
	&_zenos_b
		sprite $zenos_b
		
	&_zenvo
		sprite $zenvo
		
	&_zenvo_b
		sprite $zenvo_b
		
	&_zibar
		sprite $zibar
		
	&_zibar_b
		sprite $zibar_b
	
	&_zil
		sprite $zil
		
	&_zil_b
		sprite $zil_b
		
	&_zis
		sprite $zis
		
	&_zis_b
		sprite $zis_b
		
	&_zotye
		sprite $zotye
		
	&_zotye_b
		sprite $zotye_b
	
	&_zx
		sprite $zx
	
	&_zx_b
		sprite $zx_b