.headblock
	+above(768px)
		display flex
		align-items center
	
	&__title
		text-align center
		
		+above(768px)
			margin-right 50px
			text-align left
			white-space nowrap
		
		&&
			margin-bottom 0
	
	&__content
		margin-top 7px