.kit
	display block
	margin-bottom 15px
	width 100%
	
	&__table
		width 100%
		border-bottom 1px solid $colorDecorative
		display block
		
		+above(768px)
			display table
			
	&__body
		display block
		width 100%
		
		+above(768px)
			display table-row-group

	&__row
		display block
		
		+above(768px)
			display table-row
		
	&__head-name
		padding 0 0 14px
		font-size 12px
		font-weight bold
		text-align left
		display none
		
		+above(768px)
			display table-cell
		
		&_title
			+above(768px)
				width 25%
			
		&_engine
			+above(768px)
				width 25%
		
		&_trans
			+above(768px)
				width 17.83%
				
		&_razgon
			+above(768px)
				width 14%
				
		&_rashod
			+above(768px)
				width 14%
				
		&_align_center
			+above(768px)
				text-align center
		
	&__body &__row:hover
		background-color $bgDecorative

	&__cell
		padding 12px 0
		border-top 1px solid $colorDecorative
		display block

		+above(768px)
			display table-cell
			
		^[0]__row:first-child &:first-child
			border-top none
			
			+above(768px)
				border-top 1px solid $colorDecorative
		
		&_empty
			display none
			border-color transparent
			
			+above(768px)
				display table-cell
		
		&_bold
			font-weight bold
			
		&_align_center
			+above(768px)
				text-align center
			
	&__more
		margin-top 15px