.payment-content
  +above(480px)
    margin-left calc(15px / 2)
    margin-right calc(15px / 2)
  display none
  width: 100%
.payment
  &_columns
    display flex
    flex-wrap wrap
    +above(480px)
      margin 0 calc(15px / 2 * -1)
    .payment-item
      +above(480px)
        margin-left calc(15px / 2)
        margin-right calc(15px / 2)
        width calc(100% / 2 - 15px)
      &__body
        display: flex
        align-items: center
        +above(480px)
          flex-wrap: wrap
          justify-content: end
          padding-bottom 10px
      &__name
        display: block
        width auto
        order 2

        +above(480px)
          order: unset
          width: 100%
          margin-top: 5px
      &__radio
        width auto
        order 1
        +above(480px)
          order: unset

      &__image
        width auto
        order 3
        margin-left auto
        +above(480px)
          order: unset
          margin-left 0
        img
          max-width 90px
          +above(480px)
            max-width 140px

.payment-item
  display block
  width 100%
  margin-bottom 15px
  border 1px solid #dedede

  &:hover
    border-color $colorSecondary

  &__name-add
    margin: 0 auto
    display flex
    flex-flow row nowrap
    align-items: center

  &__add-icon
    width: 20px
    height: 20px
    margin-right: 10px
    fill: #787878

  &__body
    padding 20px 10px
    cursor pointer
    display block
    position relative
    +above(480px)
      display flex
      align-items center
      width 100%
      justify-content: space-between

  &__number
    display inline-block
    vertical-align middle
    width 20%
    +above(480px)
       width auto
  &__card
    display inline-block
    vertical-align middle
    width calc(100% - 25%)
    +above(480px)
       width auto
  &__radio
    display inline-block
    vertical-align middle
    width 15%
    +above(480px)
       width auto

  &__image
    display inline-block
    vertical-align middle
    width calc(100% - 20%)
    +above(480px)
       width auto
    img
      max-width 76px
  &__close
    position absolute
    top 20px
    right 15px
    +above(480px)
      position relative
      top 0
      right 0

    &-icon
      width 18px
      height 18px
      &:hover
        fill: #c03

.js-payment-item
  &_active
    border-color $colorSecondary
