mixin model-package()
	+b.model&attributes(attributes)
		+e.switcher
			+e.H3.switcher-title Бензин
			+e.DL.switcher-list
				+e.DT.switcher-model 320
				+e.DD.switcher-desc
					+e.A.switcher-link(href="") 
						+e.switcher-engine 2.0 АТ
						+e.switcher-power 156 л.с.
						+e.switcher-transmission автомат
						+e.switcher-check

				+e.DD.switcher-desc
					+e.A.switcher-link(href="")._active
						+e.switcher-engine 2.0 МТ
						+e.switcher-power 156 л.с.
						+e.switcher-transmission механика
						+e.switcher-check
				
				+e.DT.switcher-model 335
				+e.DD.switcher-desc
					+e.A.switcher-link(href="") 
						+e.switcher-engine 3.0 АТ
						+e.switcher-power 304 л.с. 4х4
						+e.switcher-transmission автомат
						+e.switcher-check
				+e.DD.switcher-desc
					+e.A.switcher-link(href="") 
						+e.switcher-engine 3.0 МТ
						+e.switcher-power 304 л.с. 4х4
						+e.switcher-transmission механика
						+e.switcher-check

				+e.DT.switcher-model 320 специальная версия
				+e.DD.switcher-desc
					+e.A.switcher-link(href="") 
						+e.switcher-engine 2.0 АТ
						+e.switcher-power 156 л.с.
						+e.switcher-transmission автомат
						+e.switcher-check
				+e.DD.switcher-desc
					+e.A.switcher-link(href="") 
						+e.switcher-engine 2.0 МТ
						+e.switcher-power 156 л.с.
						+e.switcher-transmission механика
						+e.switcher-check

				+e.DT.switcher-model 335 специальная версия
				+e.DD.switcher-desc
					+e.A.switcher-link(href="") 
						+e.switcher-engine 3.0 АТ
						+e.switcher-power 304 л.с. 4х4
						+e.switcher-transmission автомат
						+e.switcher-check
				+e.DD.switcher-desc
					+e.A.switcher-link(href="") 
						+e.switcher-engine 3.0 МТ
						+e.switcher-power 304 л.с. 4х4
						+e.switcher-transmission механика
						+e.switcher-check

				+e.DT.switcher-model —
				+e.DD.switcher-desc
					+e.A.switcher-link(href="") 
						+e.switcher-engine 3.0 АТ
						+e.switcher-power 304 л.с. 4х4
						+e.switcher-transmission автомат
						+e.switcher-check
				+e.DD.switcher-desc
					+e.A.switcher-link(href="") 
						+e.switcher-engine 3.0 МТ
						+e.switcher-power 304 л.с. 4х4
						+e.switcher-transmission механика
						+e.switcher-check
				+e.DD.switcher-desc
					+e.A.switcher-link(href="") 
						+e.switcher-engine 2.0 АТ
						+e.switcher-power 156 л.с.
						+e.switcher-transmission автомат
						+e.switcher-check
				+e.DD.switcher-desc
					+e.A.switcher-link(href="") 
						+e.switcher-engine 2.0 МТ
						+e.switcher-power 156 л.с.
						+e.switcher-transmission механика
						+e.switcher-check
				+e.DD.switcher-desc
					+e.A.switcher-link(href="") 
						+e.switcher-engine 3.0 АТ
						+e.switcher-power 304 л.с. 4х4
						+e.switcher-transmission автомат
						+e.switcher-check
				+e.DD.switcher-desc
					+e.A.switcher-link(href="") 
						+e.switcher-engine 3.0 МТ
						+e.switcher-power 304 л.с. 4х4
						+e.switcher-transmission механика
						+e.switcher-check
		+e.body
			+e.package
				+e.H4.package-title
					+e.SPAN.package-title-bold 320 
					| (2.0 MT)
				+e.section._box
					+e.H5.section-title Безопасность
					+e.UL.package-list
						+e.package-item ABS
						+e.package-item Подушка безопасности пассажира
						+e.package-item ESP
						+e.package-item Подушки безопасности оконные (шторки)
						+e.package-item Isofix / LATCH – платная опция
						+e.package-item Подушки безопасности боковые
						+e.package-item Подушка безопасности водителя
						+e.package-item Подушка безопасности водителя
				+e.section._box
					+e.H5.section-title Комфорт
					+e.UL.package-list
						+e.package-item Кондиционер
						+e.package-item Круиз-контроль – платная опция
						+e.package-item Климат-контроль – платная опция
						+e.package-item Датчик давления в шинах
						+e.package-item Усилитель руля
						+e.package-item Запуск двигателя с кнопки
						+e.package-item Активный усилитель руля – платная опция
						+e.package-item Система доступа без ключа – платная опция
						+e.package-item Бортовой компьютер 
						+e.package-item Регулировка руля по высоте
						+e.package-item Система помощи при парковке (задняя) – платная опция
						+e.package-item Регулировка руля по вылету
						+e.package-item Система помощи при парковке (передняя) – платная опция
				+e.section._box
					+e.H5.section-title Элементы экстерьера
					+e.UL.package-list
						+e.package-item Лакокрасочное покрытие металлик – платная опция
				+e.section._box
					+e.H5.section-title Салон
					+e.UL.package-list
						+e.package-item Тканевый салон
						+e.package-item Электрорегулировка сидений – платная опция
						+e.package-item Кожаный салон – платная опция
						+e.package-item Подогрев передних сидений – платная опция
						+e.package-item Спортивные передние сидения – платная опция
						+e.package-item Память передних сидений – платная опция
						+e.package-item Отделка кожей рулевого колеса
						+e.package-item Электроподъемники передние
						+e.package-item Мультифункциональное рулевое колесо
						+e.package-item Складывающееся заднее сидение (опция)
						+e.package-item Обогрев рулевого колеса – платная опция
						+e.package-item Люк – платная опция
				+e.section._box
					+e.H5.section-title Обзор
					+e.UL.package-list
						+e.package-item Датчик света – платная опция
						+e.package-item Омыватель фар
						+e.package-item Датчик дождя – платная опция
						+e.package-item Электропривод зеркал
						+e.package-item Ксеноновые/Биксеноновые фары
						+e.package-item Обогрев зеркал
						+e.package-item Система адаптивного освещения – платная опция
						+e.package-item Электроскладывание зеркал – платная опция
						+e.package-item Противотуманные фары
				+e.section._box
					+e.H5.section-title Защита от угона
					+e.UL.package-list
						+e.package-item Центральный замок
						+e.package-item Штатный иммобилайзер
						+e.package-item Штатная сигнализация – платная опция
				+e.section._box
					+e.H5.section-title Мультимедиа
					+e.UL.package-list
						+e.package-item Штатная навигационная система – платная опция
						+e.package-item Штатная аудиосистема Hi-Fi – платная опция
						+e.package-item Штатная аудиоподготовка
						+e.package-item Bluetooth
						+e.package-item Штатная аудиосистема с CD
						+e.package-item AUX
