.subscribe-list
  display block
  margin 40px 0 20px

  +above(1170px)
    width 90%

  &__head,
  &__wrapper
    display table
    width 100%

  &__wrapper
    +above(768px)
      display table

  &__head
    position relative
    padding-left 50px
    margin-bottom 10px

    +above(768px)
      padding-left 0

  &__item
    position relative
    padding-left 50px

    +above(768px)
      padding-left 0
      display table-row

  &__cell
    display table-cell
    vertical-align top

    &_checkbox
      position absolute
      left 0
      top 0
      width 50px

      +above(768px)
        position relative
        left auto
        top auto

    &_desc,
    &_actions
      +above(768px)
        width 60%

    ^[0]__head &_toggle
      vertical-align middle

    &_toggle
      display block

      +above(768px)
        width 150px
        display table-cell

    &_action
      display flex
      align-items center

      +above(768px)
        width 150px
        display table-cell

    &_toggle
      display none

      +above(768px)
        display table-cell

  &__item &__cell
    padding 10px 0

  &__item &__cell:first-child,
  &__head &__cell:first-child
    padding-left 10px

  &__item:nth-child(even) &__cell
    background-color #fff


  &__link
    display inline-block

  &__name
    display block
    margin-bottom 5px
    font-size 16px
    font-weight bold

  &__location
    color $colorText

  &__label
    vertical-align middle
    margin-left 10px

    +above(768px)
      display none

