mixin list(data, columns)
	if columns
		-var columnsMod = '_column_' + columns;
	else 
		-var columnsMod = '';

	+b.UL.list&attributes(attributes)(class=columnsMod)
		each item in data
			+e.item
				if item.href
					+e.A.link(href=item.href) #{item.text}
				else
					| #{item.text}