.list
  +above(768px)
    display flex
    flex-wrap wrap

  &_columned
    display block

    .footer &
      display flex
      flex-flow row wrap

      +above(768px)
        display block

  &.tags__list
    display flex
    flex-flow row wrap

  &_split.list_columned
    +above(1170px)
      columns: 2
      column-gap: 95px
      margin-right: -150px

  &_column_1
    column-count unset
    column-gap 0

  &_column_4
    column-count 2
    column-gap 20px

    +above(768px)
      column-count 4
      column-gap 30px

  &_column_5
    +above(768px)
      column-count 4
      column-gap 30px

    +above(980px)
      column-count 5

  &_column_6
    column-count 2
    column-gap 20px

    &^[0]_mobile_one-column
      column-count unset
      column-gap 0

      +above(768px)
        column-count 5
        column-gap 30px

      +above(980px)
        column-count 6

    +above(768px)
      column-count 5
      column-gap 30px

    +above(980px)
      column-count 6

  &_size_s
    font-size 12px

  &__item
    margin-bottom 7px
    display inline-block

    +above(768px)
      display flex
      align-items flex-start
      margin-bottom 2px

    +above(980px)
      margin-bottom 0

    &:after
      position relative
      top -1px
      margin 0 7px
      content '|'
      color $colorSecondary

    &:last-child:after
      display none

    ^[0]_columned &
      display block

      &:after
        display none

    ^[0]_size_s &
      margin-bottom 1px

    .footer &
      margin-right: 10px
      margin-bottom 12px

      +above(768px)
        margin-bottom 13px
        margin-right: 0

      +above(1170px)
        margin-bottom 17px

  &__link
    padding-bottom 2px
    display inline-block
    text-decoration none
    color $colorSecondary
    border-bottom 1px solid transparent
    transition color .3s, border-color .3s

    ^[0]_columned &
      padding 3px 0
      line-height 1.3
      color darken($colorDecorative, 40)
      border-bottom none

      .footer &
        padding 0
        line-height 16px
        text-decoration: none !important
        border-bottom 1px solid rgba(255,255,255,.35)

      &:hover
        text-decoration underline
        color $colorMain

        .footer &
          border-bottom-color #c03

      .tags &
        color $colorSecondary

        &:hover
          color $colorMain

    ^[0]_main &
      color #fff

      &:hover
        text-decoration underline
        color $colorMain

    &_theme_secondary,
    ^[0]_columned &_theme_secondary
      color $colorSecondary

    &:hover
      color $colorMain
      border-bottom-color currentcolor

    ^[0]_size_s &
      padding 4px 0 3px
