.bank
  margin-bottom: 12px
  background: #FFF
  box-shadow: 0 24px 96px rgba(0, 0, 0, 0.02), 0 6px 18px rgba(0, 0, 0, 0.02), 0 2px 4px rgba(0, 0, 0, 0.02)
  padding: 14px 16px 20px

  +above(768px)
    padding: 20px 30px 25px
    margin-bottom: 20px

    &__header
      display grid
      grid-template-columns 123px 123px 2fr 2fr 3fr

      .bank__logo
        grid-column-start 1
        grid-column-end 3
        grid-row 1

      .bank__name
        margin-bottom: 5px
        grid-column-start 3
        grid-column-end 6
        grid-row 1
        display flex
        align-items center

    .bank__options
      padding-top: 8px
      grid-column-start 1
      grid-column-end 6
      grid-row 2
      display grid
      grid-template-columns 3fr 3fr 3.75fr 3.75fr 4.25fr

      &-cell
        flex-flow column nowrap
        padding-bottom: 10px

        dd
          font-size: 18px

        dt
          margin-bottom: 15px
          font-size: 16px

  +above(1170px)
    margin-bottom: 25px

    &__header
      display grid
      grid-template-columns 246px 2fr 2fr 2fr 2fr auto

      .bank__logo
        grid-column-start 1
        grid-column-end 2
        grid-row-start 1
        grid-row-end 3
        padding-top: 20px

      .bank__name
        margin-bottom: 20px
        grid-column-start 2
        grid-column-end 6
        grid-row 1

    .bank__options
      padding-bottom: 5px
      grid-column-start 2
      grid-column-end 7
      grid-row 2
      display grid
      grid-template-columns 2.75fr 2.75fr 3.25fr 3.25fr 6.5fr

  &__name
    font-weight: bold
    font-size: 18px
    line-height: 21px
    color: #191919
    margin-bottom: 18px
    letter-spacing: -.03em

  &__options
    &-cell
      display flex
      margin-bottom: 18px

      dt
        padding-right: 5px
        font-size: 14px
        line-height: 16px
        color: #787878
        opacity: 0.65

      dd
        font-weight: bold
        font-size: 16px
        line-height: 19px
        display: flex
        align-items: center
        color: #191919

      +below(767px)
        dt, dd
          width: 50%

  &__logo
    margin-bottom: 5px

  &__footer
    font-size: 14px
    line-height: 18px
    text-align: center
    color: #787878

    .btn
      text-transform: none
      font-size: 15px

    +below(767px)
      .btn
        width: 100%

      &-info
        padding: 18px 20px 0

    +above(768px)
      padding-top: 20px
      border-top: 1px solid #DEDEDE
      display flex
      align-items center
      justify-content space-between

      .btn
        padding: 0 24px

      &-info
        padding-top: 0
        padding-right: 20px
        order -1

    +above(1170px)
      &-info
        font-size: 16px
        line-height: 19px
