.link
	text-decoration none
	color $colorSecondary
	transition color .3s
	
	&_theme_decorative
		color darken($colorDecorative, 40)

	&:hover
		text-decoration underline
		color $colorMain
