.title
	display block
	font-family $fontTitle
	font-weight bold
	
	&_level_1
		font-size 34px
		
		+above(768px)
			margin-bottom 10px
			font-size 34px
			line-height 1.2
		
	&_level_2
		margin-bottom 30px
		font-size 18px
		
		+above(768px)
			margin-bottom 10px
			font-size 30px
			line-height 1.2
			
	&_level_3
		margin-bottom 15px
		font-size 22px
