.sort
  display flex

  +above(768px)
    justify-content space-between

  &__by
    width 50%
    flex-grow 1

    +above(768px)
      margin-left 0
      width 255px
      flex-grow 0

  &__type
    margin-left -1px
    width 50%

    +above(768px)
      margin-left 0
      width 255px
