.post-ticket
  display flex
  padding-left 10px
  padding-right 10px

  .btn__text
    display none
    font-size 13px
    letter-spacing 0
    padding 0 10px

  +above(768px)
    padding-left 15px
    padding-right 2px

    .btn__text
      display inline-block
