.upload
	display flex
	width 100%
	align-items center
	justify-content center
	letter-spacing 1px
	padding 0 10px
	cursor pointer
	
	+above(768px)
		padding 0 24px
	
	&__control
		position absolute
		top -9999px
		left -9999px
		font-size 0
		clip rect(1px 1px 1px 1px)
		opacity 0
		
	&__icon
		display block
		margin-right 6px
		size 32px
		fill #fff
		
		+above(480px)
			margin-right 12px
			size 38px