include ../form/form
include ../lbl/lbl
include ../input/input
include ../btn/btn
include ../link/link
include ../text/text
include ../list/list
include ../title/title
include ../switcher/switcher
include ../control-group/control-group

mixin auth-enter()
	+b.SECTION.auth&attributes(attributes)
		+e.HEADER.header
			+title(3).auth__header-text Вход на сайт
			+link(href="registr.html") Зарегистрироваться
		+e.body
			+form(name="auth" action="" method="post").auth__form
				+e.row
					+lbl(for="authLogin") Логин, телефон или email
					+input(type="text" id="authLogin" required tabindex="0" data-value-missing="Введите логин, телефон или email")
				+e.row
					+lbl(for="authPassword") Пароль
					+input(type="password" id="authPassword" required tabindex="1" data-value-missing="Введите пароль")
				+e.row._align_justify
					+btn()._theme_link Восстановить пароль
					+btn(type="submit" tabindex="2")._theme_main Войти
				+e.row
					+text 
						| Нажимая кнопку «Войти», я даю своё согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных 
						+link(href="") Политикой конфиденциальности.

