include ../formblock/formblock
include ../form/form
include ../lbl/lbl
include ../input/input
include ../btn/btn
include ../text/text
include ../title/title
include ../link/link

mixin auth-recovery()
  +b.SECTION.auth&attributes(attributes)
    +formblock
      +e.HEADER.header
        +title(3).formblock__header-text Восстановление пароля
        +link(href="registr.html") Войти
      +e.body
        +form(name="recovery" action="" method="post").auth__form
          +e.row
            +text
              | Введите последние 4 цифры номера, с которого мы вам только что позвонили
          +e.row
            +lbl(for="recoveryLogin") Код:
            +input(type="text" id="authLogin" required tabindex="0" data-value-missing="Введите логин, телефон или email")
          +e.row
            +btn(type="submit" tabindex="2")._theme_main.w-100p Подтвердить
          +e.row
            a.auth_phone(href='#') Ввести другой номер телефона
          +e.row
            .auth_alternate Или подождать 118 секунд и

          +e.row
            +btn(type="submit" tabindex="2" disabled)._theme_tertirary.w-100p Прислать код голосовым сообщением
