.auth
  display block

  .formblock__header
    padding: 22px 15px 0

  .formblock__body
    padding: 14px 30px 1px

  .text
    margin-bottom: 0

  .btn__text
    letter-spacing 0

  .lbl
    font-weight: normal

  .btn
    text-transform: none
    font-weight: 500

    &.btn_theme_main
      font-size: 14px

    &.btn_theme_tertirary
      font-size: 13px

    &[disabled]
      box-shadow none

  &_phone
    color: #787878
    margin: 0 auto 0
    font-weight: bold
    font-size: 13px
    text-decoration: underline

    &:hover
      text-decoration: none

  &_alternate
    color: #787878
    opacity: .65
    margin: 18px auto 0
    font-size: 13px
