.phone
	padding 0 16px
	display inline-block
	text-decoration none
	
	&_size_l
		font-size 28px
	
	&_hidenumber
		min-width 180px
		height 36px
		line-height 35px
		overflow hidden
		text-align center
		color #fff
		background-color $colorSecondary
		background-image linear-gradient(to right, darken($colorSecondary, 30), $colorSecondary)
		border 1px dashed #fff

	&__placegholder
		display none
		
		^[0]_hidenumber &
			display block
			
	&__number
		display inline-block
		color $colorSecondary
		
		^[0]_hidenumber &
			display none
	
	&__icon
		position relative
		top 1px
		margin-right 6px
		size 12px
		fill currentcolor
		
		^[0]_size_l &
			margin-right 6px
			size 20px
