.brand-card
	display flex
	flex-wrap wrap
	
	&__gallery
		width 60%
		flex-basis 60%
		font-size 0
		
	&__info
		padding 38px 45px 38px 60px
		width 40%
		flex-basis 40%
		background-color #787878
		color #fff
	
	&__info-term
		margin-bottom 16px
		font-size 16px
		font-weight bold
		color #ababab
		
	&__info-desc
		margin-bottom 38px
		font-size 22px
		font-weight bold
		
	&__info-desc-text
		margin-top 3px
		font-size 14px
		font-weight normal
		color $colorDecorative
		
	&__body
		padding-top 20px
		width 100%
		
	&__text
		line-height 1.71429
		
		p
			margin-bottom 1.71429em