include ../akcent-block/akcent-block
include ../tile/tile
include ../thumb-gallery/thumb-gallery
include ../text/text-more
include ../title/title

mixin brand-card()
	- var gallery = {thumbs : ['assets/images/bmw/bmw3-1.jpg', 'assets/images/bmw/bmw3-2.jpg', 'assets/images/bmw/bmw3-3.jpg', 'assets/images/bmw/bmw3-4.jpg', 'assets/images/bmw/bmw3-5.jpg']};
	+akcent-block._plain&attributes(attributes).brand-card__
		+e.gallery
			//- +thumb-gallery(gallery)
			+tile(gallery)
		+e.DL.info
			+e.DT.info-term Годы выпуска
			+e.DD.info-desc 1975 – н.в.
				+e.info-desc-text 6 поколений
			+e.DT.info-term Новые
			+e.DD.info-desc 1 890 000 – 3 133 100 ₽
			+e.DT.info-term С пробегом
			+e.DD.info-desc 1 050 000 – 4 231 000 ₽

		+e.body
			+title(1).__title Поколения и кузова BMW 3 серия на Mbib.ru
			+e.text
				p Дизайн автомобилей BMW 3ER сочетает в себе главную идею марки — элегантность и агрессию. И не зря один из лозунгов компании– «Автомобиль для водителя», как нельзя лучше отражает суть БМВ 3ER. Вам необходимо продать свой автомобиль BMW 3ER быстро и выгодно? Автопортал MBIB.RU охотно поможет вам в этом. Подать объявление по продаже автомобилей BMW 3ER можно удобно и быстро, а благодаря высокой посещаемости нашего сайта ваш автомобиль 
					+text-more подробнее

