mixin add-photo()
	+b.add-photo&attributes(attributes)
		+e.item._main
			+e.SPAN.icon._tap
			span Добавить фотографии
		+e.item
			+e.SPAN.icon._drive
		+e.item
			+e.SPAN.icon._forward
		+e.item
			+e.SPAN.icon._left
		+e.item
			+e.SPAN.icon._db
		+e.item
			img(src="assets/images/bmw/3.jpg", alt="")
		+e.item
			+e.SPAN.icon._df
		+e.item
			+e.SPAN.icon._right
