.claim
	width 100%
	
	&__row
		display flex
		margin 0 -8px 15px
		flex-wrap wrap
		justify-content flex-end
		
		&:last-child
			margin-bottom 0
	
	&__date
		margin-bottom 10px
		padding 0 8px
		width: 50%
		
		+above(768px)
			margin-bottom 0
			width calc((100%) / 12 * 2)
		
	&__status
		margin-bottom 10px
		padding 0 8px
		width: 50%
		
		+above(768px)
			margin-bottom 0
			width calc((100%) / 12 * 3)
	
	&__type
		margin-bottom 10px
		padding 0 8px
		width 100%
		
		+above(768px)
			margin-bottom 0
			width calc((100%) / 12 * 4)
		
	&__author
		margin-bottom 0
		padding 0 8px
		width 100%
		
		+above(768px)
			margin-bottom 0
			width calc((100%) / 12 * 3)
	
		
	&__text
		margin-bottom 10px
		padding 0 8px
		width 100%
		line-height 1.5
		
		+above(768px)
			padding-top 11px
			width 50%
			
		+above(980px)
			margin-bottom 0
			width calc((100%) / 12 * 5)
			
	
	&__comment
		margin-bottom 10px
		padding 0 8px
		width 100%
		
		+above(768px)
			width 50%
		
		+above(980px)
			margin-bottom 0
			width calc((100%) / 12 * 4)

	&__buttons
		padding 0 8px
		display flex
		width 100%
		
		+above(768px)
			text-align right
			justify-content flex-end
			
		+above(980px)
			justify-content flex-start
			text-align left
			width calc((100%) / 12 * 3)
	
	&__sbm
		margin-right 15px
		
		+above(768px)
			order 1
			margin-right 0
			margin-left 15px
			
		+above(980px)
			order 0
			margin-right 15px
			margin-left 0