.select
  position: relative
  box-sizing border-box
  display block
  width 100%
  height $heightControl

  &:focus
    box-shadow 0 0 0 3px $colorSecondary

  .control-group &
    width 50%
    flex-grow 1
    flex-basis 50%

  .control-group &:last-child
    margin-left -1px
    flex-grow 0
    display flex


    +above(980px)
      flex-grow 1
      width calc(50% - 1px) !important

.selection
  width 100%

.select2-container
  // position relative
  position absolute
  top 0
  left 0
  flex-grow 1

  .select2-container:not(.select2-container--open)
    right 0
    bottom 0

  // +above(980px)

  .modal_mobile-select &
    left 0 !important
    top 0 !important

  & .select2-selection--single
    box-sizing border-box
    cursor pointer
    display block
    height $heightControl
    user-select none
    -webkit-user-select none


  & .select2-selection--single .select2-selection__rendered
    display block
    padding-left 10px
    padding-right 30px
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

    +above(1170px)
      padding-left 14px

  & .select2-selection--single .select2-selection__clear
    position absolute
    top 0
    right 20px
    width 20px
    height 38px
    text-align center

  &[dir="rtl"] .select2-selection--single .select2-selection__rendered
    padding-right 10px
    padding-left 30px

    +above(1170px)
      padding-right 14px

  & .select2-selection--multiple
    box-sizing border-box
    cursor pointer
    display block
    min-height $heightControl
    user-select none
    -webkit-user-select none

  & .select2-selection--multiple .select2-selection__rendered
    display inline-block
    overflow hidden
    padding-left 10px
    text-overflow ellipsis
    white-space nowrap

    +above(1170px)
      padding-left 14px

  & .select2-search--inline
    float left

  & .select2-search--inline .select2-search__field
    box-sizing border-box
    border none
    font-size 100%
    margin-top 5px
    padding 0

  & .select2-search--inline .select2-search__field::-webkit-search-cancel-button
    -webkit-appearance none

  .modal_mobile-select &&
    position relative
    left 0
    top 0

.select2-dropdown
  position absolute
  z-index 1051
  left -100000px
  box-sizing border-box
  display block
  width 100%
  background-color white
  border 1px solid $colorDecorative

  .modal_mobile-select &
    position relative
    width 100% !important

.select2-results
  display block

.select2-results__options
  margin 0
  padding 0
  list-style none

.select2-results
  &__option
    padding 8px 10px
    user-select none
    -webkit-user-select none

    +above(1170px)
      padding-right 14px
      padding-left 14px

    &[aria-selected]
      cursor pointer

  &__option-inner
    position relative
    padding-left 24px

    &::before
      content ''
      position absolute
      left -2px
      top -2px
      width 16px
      height 16px
      border 1px solid $colorDecorative
      border-radius 2px

    &::after
      content ''
      position absolute
      left 2px
      top 2px
      width 10px
      height 5px
      border-left 1px solid #fff
      border-bottom 1px solid #fff
      transform rotate(-45deg)
      opacity 0

      ^[0]__option--highlighted &
        border-color #fff

  &__option[aria-selected=true] &__option-inner::before
    background-color $colorMain
    border-color $colorMain

  &__option[aria-selected=true] &__option-inner::after
    opacity 1

.select2-results__option-brand
  position relative
  display flex
  align-items center

.select2-results__option-icon
  margin-right 10px


.select2-results__option-photo
  display block

  img
    max-width 100%

.select2-container--open .select2-dropdown
  left: 0

.select2-container--open .select2-dropdown--above
  border-bottom none

.select2-container--open .select2-dropdown--below
  border-top none

  .modal_mobile-select &
    border-top 1px solid $colorDecorative

.select2-search--dropdown
  display block
  padding 4px

  & .select2-search__field
    padding 4px 9px
    box-sizing border-box
    width 100%

  & .select2-search__field::-webkit-search-cancel-button
    -webkit-appearance none

  &.select2-search--hide
    display none

.select2-close-mask
  position fixed
  z-index 99
  top 0
  left 0
  margin 0
  padding 0
  border 0
  display block
  heigh: auto
  width auto
  min-height 100%
  min-width 100%
  opacity 0
  background-color #fff

.select2-hidden-accessible
  position absolute !important
  margin -1px !important
  overflow hidden !important
  padding 0 !important
  width 1px !important
  height 1px !important
  clip rect(0 0 0 0) !important
  border 0 !important

.select2-selection__placeholder
  position absolute
  width calc(100% - 5px)
  padding-right 30px
  overflow hidden
  text-overflow ellipsis

.select2-container--default .select2-selection--single
  background-color #fff
  border 1px solid $colorDecorative

  & .select2-selection__rendered
    line-height $heightControl - 1

  & .select2-selection__clear
    cursor pointer
    float right
    font-weight bold

  & .select2-selection__placeholder
    color #787878

  & .select2-selection__arrow
    position: absolute
    top 1px
    right 1px
    width 30px
    height $heightControl - 2

  & .select2-selection__arrow b
    position absolute
    top 50%
    left 50%
    margin-top -2px
    margin-left -4px

    width 0
    height 0
    border-color #bababa transparent transparent transparent
    border-style solid
    border-width 5px 4px 0 4px

.select2-container--default.select2-container--focus .select2-selection--single .select2-selection__arrow
  top 0
  right 0

.select2-container--default.select2-container--focus .select2-selection--single
  position relative
  z-index 1
  // border-color $colorSecondary

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear
  float left

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow
  right auto
  left 1px

.select2-container--default.select2-container--disabled .select2-selection--single
  cursor default
  background-color #eee

  & .select2-selection__clear
    display none

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
  border-color transparent transparent #888 transparent
  border-width 0 4px 5px 4px

.select2-container--default .select2-selection--multiple
  cursor text
  background-color white
  border 1px solid #aaa

  & .select2-selection__rendered
    margin 0
    padding 0 5px
    width 100%
    box-sizing border-box
    list-style none

  & .select2-selection__rendered li
    list-style none

  & .select2-selection__placeholder
    margin-top 5px
    float left
    color #bababa

  & .select2-selection__clear
    cursor pointer
    float right
    font-weight bold
    margin-top 5px
    margin-right 10px

  & .select2-selection__choice
    margin-top 5px
    margin-right 5px
    padding 0 5px
    float left
    cursor default
    background-color #e4e4e4
    border 1px solid #aaa
    border-radius 4px

  & .select2-selection__choice__remove
    margin-right 2px
    display inline-block
    font-weight bold
    color #bababa
    cursor pointer

  & .select2-selection__choice__remove:hover
    color darken($colorDecorative, 40)

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline
  float right

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice
  margin-right auto
  margin-left 5px

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove
  margin-right auto
  margin-left 2px

.select2-container--default.select2-container--focus .select2-selection--multiple
  border solid 1px $colorSecondary
  outline 0

.select2-container--default.select2-container--disabled .select2-selection--multiple
  cursor default
  background-color #eee

.select2-container--default.select2-container--disabled .select2-selection__choice__remove
  display none

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple
  border-top-right-radius 0
  border-top-left-radius 0

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple
  border-bottom-right-radius 0
  border-bottom-left-radius 0

.select2-container--default .select2-search--dropdown .select2-search__field
  border 1px solid $colorDecorative

  &:focus
    border-color $colorSecondary

.select2-container--default .select2-search--inline .select2-search__field
  background transparent
  border none
  outline 0
  box-shadow none
  -webkit-appearance textfield

.select2-container--default .select2-results > .select2-results__options
  max-height 200px
  overflow-y auto

.select2-container--default .select2-results__option[role=group]
  padding 0

.select2-container--default .select2-results__option[aria-disabled=true]
  color #999

.select2-container--default .select2-results__option[aria-selected=true]
  background-color #ddd

.select2-results__options[aria-multiselectable="true"] .select2-results__option[aria-selected=true]
  background-color #fff

.select2-results__options[aria-multiselectable="true"] .select2-results__option--highlighted[aria-selected=true]
  background-color $colorSecondary

.select2-container--default .select2-results__option .select2-results__option
  padding-left 1em

  & .select2-results__group
    padding-left 0

  & .select2-results__option
    margin-left -1em
    padding-left 2em

  & .select2-results__option .select2-results__option
    margin-left -2em
    padding-left 3em

  & .select2-results__option .select2-results__option .select2-results__option
    margin-left -3em
    padding-left 4em

  & .select2-results__option .select2-results__option .select2-results__option .select2-results__option
    margin-left -4em
    padding-left 5em

  & .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option
    margin-left -5em
    padding-left 6em

.select2-container--default .select2-results__option--highlighted[aria-selected]
  color white
  background-color $colorSecondary

.select2-container--default .select2-results__group
  padding 6px
  display block
  cursor default

.select2-selection__value
  display flex
  align-items center
  pointer-events none

.select2-selection__value-icon
  margin-right 10px
