.checklist
	display block
	column-count 2
	orphans 5
	column-gap 10px

	+above(480px)
		column-count 2
		column-gap 20px
		orphans 5
		
	+above(768px)
		column-count 3
	
	+above(980px)
		column-count 5

	&__item
		padding-bottom 5px
		display inline-block
		width 100%
		vertical-align top
	
	&__control
		position absolute
		left -9999px
	
	&__text
		position relative
		padding-left 15px
		display flex
		align-items center
		width 100%
		height 32px
		font-size 14px
		line-height 1.2
		cursor pointer
		border 1px dashed transparent
		
		&_hasIcon
			padding-left 40px
			
		^[0]__control:checked + &
			background-color #fff
			border-color $colorSecondary
			
	&__more
		position relative
		padding-left 50px
		height 32px
		line-height 30px
		background-color transparent
		border none
		
		&:before
			position absolute
			top 14px
			left 15px
			size 6px
			content ''
			background-color $colorText
			border-radius 50%
			box-shadow 10px 0, 20px 0
			
		&_inIconed
			padding-left 40px
			
			&:before
				left 3px
		
	&__more-text
		display inline-block
		font-weight bold
		line-height 1.2
		color $colorSecondary
		border-bottom 1px dashed
		
	&__thumb 
		position absolute
		top 0
		left 0
		
		&_audi
			sprite $audi
			
		&_bmw
			sprite $bmw
			
		&_chevrolet
			sprite $chevrolet
			
		&_citroen
			sprite $citroen
			
		&_daewoo
			sprite $daewoo
			