include ../tab/tab

mixin group(data)
  +b.group&attributes(attributes)
    +e.UL.list
      each item in data
        if item.count === '-1'
          +e.list-item
            +e.SPAN.link._more
              +e.link-name #{item.name}
        else
          +e.list-item
            +e.A.link(href=item.href)
              +e.link-name #{item.name}
              +e.link-count #{item.count}
