$colorMain = #c03
$colorSecondary = #3870c6
$colorDecorative = #dedede
$colorText = #191919
$colorAkcent = #56aa29
$colorPremium = #6FA04C

$bgDecorative = #f5f5f5

$heightS = 36px
$heightSM = 41px
$heightM = 45px
$heightL = 50px
$heightXL = 55px
$heightXXL = 60px
$heightXXL_t = 100px

$heightControl = 40px

$fontTitle = Roboto, Arial, sans-serif
