mixin car-name(level, name, icon)
	+b.car-name&attributes(attributes)(class="_level_"+level)
		-var iconName = level === 1 ? icon + "_b" : icon
		+e.SPAN.icon(class="_" + iconName)
		+e.SPAN.text #{name}
