.car-name
	display flex
	align-items center
	font-weight bold
	line-height 1
	color $colorSecondary
	
	&_level_1
		font-size 28px
		margin-top 1px
		
	&__icon
		margin-right 20px
		
		&_bmw_b
			sprite $bmw_b
