.car-name
	display flex
	align-items center
	font-weight bold
	line-height 1
	color $colorSecondary
	
	&_draft
		color $colorText
	
	&_level_1
		margin-top 1px
		font-size 18px
		
		+above(768px)
			font-size 24px
		+above(980px)
			font-size 28px
		
	&__icon
		margin-right 15px
		width 50px
		font-size 50px
		flex-shrink 0
		
		+above(768px)
			margin-right 20px
		
		&_bmw_b
			sprite $bmw_b
