include ../list/list
include ../control-group/control-group
include ../select/select
include ../input/input
include ../checkbox/checkbox
include ../radio/radio
include ../btn/btn
include ../switcher/switcher
include ../control-group/control-group
include ../palette/palette
include ../loader/loader
include ../checklist/checklist
include ../text/text-more
include ../brand/brand
include ../switcher/switcher
include ../gallery/gallery
include ../tab/tab
include ../model/model
include ../model/model-package

mixin search-car()
	+b.search&attributes(attributes)
		+loader._for-block
		+e.header._open
			+e.BUTTON.header-toggler(type="button")
				+brand('bmw').search__header-brand
				+e.SPAN.header-name BMW
				+icon('right-arrow').header-next-icon
				+e.SPAN.header-name 3 серия
				+icon('right-arrow').header-next-icon
				+e.SPAN.header-name  2008 – 2013 V (E90/E91/E92/E93) Рестайлинг
				+icon('right-arrow').header-next-icon
				+e.SPAN.header-name Купе
				+icon('down-arrow').header-icon

		+e.row._advanced
			+tab._switcher.search__tab
				+e.head
					+e.A.head-item(href="#modelCard") Карточка модели
					+e.A.head-item(href="#propertyCard") Характеристики
					+e.A.head-item._active(href="#kitCard") Комплектации

				+e.content(id="modelCard").search__tab-content
					+gallery(getData('cars')[0].gallery).search__gallery
					.search__about
						.search__about-rate
							.search__about-rating 
								span.search__about-rating-value 4.3
							.search__about-review
								| Оценка авто
								a.search__about-review-link(href="") по 16 отзывам

						.search__about-desc
							p BMW 3 серия V (E90/E91/E92/E93) Рестайлинг – купе D-класса, задний и полный привод. Автомат, механика и робот. Бензиновые и дизельные двигатели мощностью от 143 до 306 лошадиных сил.. D-класса, задний и полный привод.
								+text-more подробнее

				+e.content(id="propertyCard").search__tab-content
					+model()

				+e.content(id="kitCard").search__tab-content
					+model-package()