.search
  position relative
  margin-bottom 10px
  padding 14px 8px 0
  display block
  background-color #fff
  background-image: linear-gradient(to right, #f8f8f8, #fff)
  border 2px solid #dedede

  &.search_quarter

    .search__col_sbm
      .btn__icon
        width: 16px
        height: 16px

    .control-group
      min-height 40px

  &.search_show-no
    border: 0
    background: #fff
    box-shadow: 0 24px 96px rgba(0, 0, 0, 0.02), 0px 6px 18px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.02);

    &::after
      display none

  .reviews &
    padding: 20px 12px 4px

    +below(767px)
      margin-bottom: 12px

  +above(768px)
    margin-bottom 27px
    padding 10px 24px 0
    width 100%
    box-shadow 0 27px 23px -12px rgba(#000, .2)

    .reviews &
      padding: 30px 34px 12px

    &::after
      position absolute
      top 100%
      right 0
      left 0
      margin-top 2px
      content ''
      background-color transparent
      background-clip border-box
      border-top 4px solid darken($colorDecorative, 20)
      border-left 5px solid rgba(#fff, 0)
      border-right 5px solid rgba(#fff, 0)

  +above(980px)
    .reviews &
      padding: 30px 40px 16px

  &__toggler
    margin 0 -1px 10px
    min-width 100%
    display block

    +above(768px)
      margin 0 -10px 10px

  &__toggle-body
    margin 0 -6px
    padding 0 5px
    overflow hidden
    max-height 0
    transition max-height .3s ease

    &_open
      max-height 2000px

      +above(768px)
        max-height 1000px


    +above(768px)
      margin 0 -11px
      padding 0 10px

  &__header
    position relative
    margin -14px -8px 10px
    border-bottom 1px solid $colorDecorative

    +above(768px)
      margin -10px -24px 24px

  &__header-toggler
    width 100%
    padding 14px 8px
    font-size 16px
    font-weight bold
    text-align left
    color #787878
    background-color $bgDecorative
    box-shadow inset 0 1px 0 #fff
    border none

    +above(768px)
      padding 10px 16px

  &__header-brand
    margin-right 4px
    display inline-block
    vertical-align middle
    font-size 0

    +above(768px)
      margin-right 10px

  &__header-name
    position relative
    top 2px
    margin-right 4px
    display inline-block
    color #000

    +above(768px)
      margin-right 9px

  &__header-label
    position relative
    top 2px
    display inline-block

  &__header-icon
    position absolute
    right 0px
    top 12px
    width 30px
    height 16px
    fill #7a7a7a
    transform rotate(0)
    transition transform .3s

    +above(768px)
      right 22px

    ^[0]__header_open &
      transform rotate(180deg)

  &__header-next-icon
    position relative
    top 2px
    display inline-block
    width 12px
    height 12px
    margin-right 7px

  &__city
    display flex
    flex-wrap wrap
    margin-bottom 10px
    justify-content space-between

    +above(768px)
      justify-content space-between
      margin-left -9px
      margin-right -9px

  &__city-list
    +above(768px)
      flex-wrap wrap
      flex-shrink 1

  &__city-btn
    display flex
    padding 0 11px
    width 100%
    margin-top 5px

    +above(500px)
      margin-top 0

    +above(768px)
      white-space nowrap

  &__city-other
    text-align center
    display flex
    width 100%

    +above(500px)
      margin-top 0
      width auto
      margin-left: 15px

    +above(768px)
      text-align right

    +above(980px)
      flex-grow 0

  &__save
    padding 0 4px
    margin-left auto
    color $colorText

    +above(768px)
      position relative
      top 1px

    .btn__text
      display none

      +above(768px)
        display inline-block

  &__advanced
    overflow hidden
    width 100%
    max-height 0
    transition max-height .4s

    +above(768px)
      margin 0 -10px
      padding 0 10px
      width auto

    +above(1170px)
      padding 0 15px
      margin-right -15px
      margin-left -15px

    ^[0]_show-advanced &
      max-height 3000px

  &__advanced-inner
    padding-top 0

    +above(768px)
      clear both

  &__row
    display flex
    flex-wrap wrap
    align-items flex-start
    width 100%
    margin-bottom 10px

    +above(768px)
      margin 0 -10px 5px
      width auto

    +above(1170px)
      margin-right -14px
      margin-left -14px

    &.search__group-mobile
      +below(1169px)
        margin 0 -14px 5px

      ~ .search__advanced
        margin-left: -14px
        margin-right: -14px

        .search__col
          padding: 0 5px

      +below(979px)
        ~ .search__advanced

          .search__col
            padding: 0 5px

      +below(767px)
        margin 0 0 5px

        ~ .search__advanced
          margin: 0 -5px;
          width: auto;

    ^[0]__advanced &
      +above(768px)
        display flex
        align-items flex-start
        flex-wrap wrap

      +above(980px)
        flex-wrap nowrap

    &_advanced
      overflow hidden
      max-height 0
      transition max-height .4s

      ^[0]_show-advanced &
        max-height 3000px

      +above(768px)
        margin -24px -24px 24px

    &_sbm
      margin-bottom 10px

      +above(980px)
        margin-top -1px
        clear none

    &_hide-on-tablet
      +above(768px)
        display none

  &__row-advanced-inner
    padding-left 10px
    padding-right 10px

    +above(768px)
      padding 24px 24px 10px
      background-color #fff

    +above(980px)
      padding-bottom 10px
      width 100%

  &__group-on-mobile
    position relative
    z-index 1
    display flex
    width 100%

    +above(980px)
      width 40%

      .search_quarter &
        width: 50%

    ^[0]__advanced-inner &_column
      +above(768px)
        width 50%

      +above(980px)
        width 20%

  &__group
    position relative
    z-index 1
    display flex
    width 100%
    padding: 0 5px
    margin-bottom: 9px

    +below(767px)
      .search__group-mobile &
        padding: 0

    +above(768px)
      margin-bottom: 12px

    +above(980px)
      margin-bottom: 8px

    &-cell
      flex: 1 0 auto
      position: relative

    &.size-rest
      order 1

      +above(768px)
        width 19%
        margin-left: auto

      +above(980px)
        width 25%

        .search__group-cell
          min-width: 50%
          margin-left auto
          flex 0

    &.size-25
      &.search__age
        order 1

      +above(768px)
        width 33.33%

        &.search__age
          width: 66.66%

      +above(980px)
        width 25%

        &.search__age
          order 0
          width: 25%

    &.size-50
      order 1

      +above(768px)
        flex 1 0 auto
        max-width 76.5%

      +above(980px)
        max-width 50%

  &__col
    position relative
    margin-bottom -1px
    width 100%

    ^[0]__group-on-mobile &
      width 50%
      flex-grow 1

      +above(768px)
        display block

      +above(980px)
        display table-cell

    ^[0]__group-on-mobile & ~ &
      margin-left -1px
      flex-grow 0

      +above(768px)
        padding-right 0

      +above(1170px)
        padding-right 5px

    ^[0]__advanced-inner ^[0]__group-on-mobile_column &
      display flex
      width 100%

      +above(768px)
        display block

    ^[0]__advanced-inner ^[0]__group-on-mobile_column:nth-last-child(2) &
      +above(768px)
        padding-right 0

      +above(1170px)
        padding-right 5px

    +above(768px)
      margin-bottom 1px
      padding 0 1px
      width 50%

    +above(980px)
      margin-bottom 5px
      width 20%

      .search_quarter .search__row:not(.search__row_sbm) > &
        width: 25%

      &_span_2
        width 40%

        .search_quarter .search__row_sbm > &
          width: 50%

      &_span_3
        width 25%

      &_span_4
        width 60%

      &_span_5
        width 50%

    +above(1170px)
      padding-right 5px
      padding-left 5px

    &_for-checkbox
      margin 20px 0 23px
      height $heightControl

      +above(768px)
        margin-top 7px
        margin-bottom unset

      +above(980px)
        margin-top unset
        height auto
        align-self center

    &_sbm
      text-align right

      +below(767px)
        &.search__col_span_5
          padding: 0 5px

      +above(768px)
        width 100%

        &.search__col_span_5,
        .search_quarter &
          width: 50%

      +above(980px)
        display flex
        justify-content flex-end
        width 60%

        &.search__col_span_5,
        .search_quarter &
          width: 50%

    &_mobile-order-last
      order 1

      +above(980px)
        order initial

  &__item
    margin-bottom 10px

    ^[0]__col:last-child &
      margin-bottom 0

      +above(768px)
        margin-bottom 10px

    ^[0]__group-on-mobile &
      width 50%
      flex-grow 1

      +above(768px)
        width 100%
        flex-grow 0

    ^[0]__group-on-mobile & ~ &
      margin-left -1px
      flex-grow 0

      +above(768px)
        margin-left 0

    &_additional-option
      margin-bottom 0

      +above(768px)
        margin-bottom 10px


  &__check
    margin-right 34px
    display inline-block

  &__icon-search
    position absolute
    z-index 2
    top 12px
    left 15px
    size 18px
    fill darken($colorDecorative, 40)
    pointer-events none

    +above(768px)
      left 22px

  &__switcher
    position relative
    padding-left 18px
    color $colorMain

    +above(768px)
      margin-right 20px

    &::before,
    &::after
      position absolute
      left 0
      top 50%
      display inline-block
      vertical-align middle
      size 8px
      content ''
      border-top 2px solid
      border-left 2px solid
      transform rotate(225deg) translate3d(2px, 5px, 0)

      ^[0]_show-advanced &
        transform rotate(45deg) translate3d(2px, -2px, 0)

    &::before
      margin-top -4px

    &::after
      margin-top 2px

  &__palette
    flex-wrap wrap

  &__form-actions
    display flex
    justify-content space-between

    +above(480px)
      justify-content flex-end

  &__sbm
    width 100%
    white-space nowrap

    +above(768px)
      width auto

    +above(980px)
      display flex
      align-items center
      justify-content center

    ^[0]__drop &
      margin-top 10px
      width 100%

      +above(768px)
        margin-top 0

  &__sbm-icon
    margin-right 6px

    +above(768px)
      top 0

  &__clear
    +above(480px)
      margin-right 20px

  &__drop
    padding 0 10px
    margin-left -9px
    margin-right -9px
    max-height 0
    overflow hidden
    transition max-height .3s

    +above(768px)
      max-height 100%

    ^[0]_show-drop &
      max-height 1000px

  &__drop-switcher
    color $colorMain
    background-color transparent
    border none


  &__drop-switcher-icon
    fill currentColor
    width 20px
    height 20px
    margin-right 4px
    display inline-block
    vertical-align middle

  &__drop-switcher-text
    display inline-block
    border-bottom 1px dashed

  &__tab
    width 100%

    +above(768px)
      margin-bottom -24px
      padding 24px

&__tab-content
  padding-top 20px

&__gallery
  margin-bottom 20px
  width 100%

&__about
  width 100%

  +above(768px)
    display flex

&__about-rate
  display flex
  padding-right 24px
  width 244px
  flex-basis 244px
  flex-shrink 0

&__about-rating
  margin-right 15px
  width 60px
  height 60px
  border-radius 50%
  padding 4px
  background-image linear-gradient(to right, $colorMain, $colorSecondary)

&__about-rating-value
  display block
  width 52px
  height 52px
  font-size 22px
  font-weight bold
  line-height 52px
  text-align center
  background-color #fff
  border-radius 50%

&__about-review
  padding-top 5px
  line-height 1.5
  font-size 16px
  font-weight bold
  color #787878

&__about-review-link
  display inline-block
  color $colorSecondary

&__about-desc
  padding-top 5px
  line-height 1.71429
  color #787878

  p
    margin 0
