.block
	margin-bottom 12px
	padding 15px
	background-color lighten($colorDecorative, 10)
	background-image linear-gradient(to right, lighten($colorDecorative, 10), #fff)
	box-shadow 0 2px 0 $colorDecorative
