extends ../blocks/layout-default/layout-default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/step/step3

block head
	- var pageTitle = 'MBIB';
	- var pageMod = 'Step 3';

block content
	+breadcrumbs(getData('index-crumbs'))
	+step3
