extends ../blocks/layout-default/layout-default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/step/step-rover-5

block head
  - var pageTitle = 'MBIB | Step 5';
  - var pageMod = 'step';

block content
  +breadcrumbs(getData('index-crumbs'))
  +step-rover-5
