extends ../blocks/layout-default/layout-default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/step/step2

block head
	- var pageTitle = 'MBIB';
	- var pageMod = 'Step 2';

block content
	+breadcrumbs(getData('index-crumbs'))
	+step2
