extends ../blocks/layout-default/layout-default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/step/step-municipal-2

block head
  - var pageTitle = 'MBIB | Step 1';
  - var pageMod = 'step';

block content
  +breadcrumbs(getData('index-crumbs'))
  +step-municipal-2
