extends /blocks/layout-default/layout-default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/step/step-moto-3

block head
  - var pageTitle = 'MBIB';
  - var pageMod = 'step';

block content
  +breadcrumbs(getData('index-crumbs'))
  +step-moto-3
