extends /blocks/layout-default/layout-default
include ../blocks/search/search-type
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/title-block/title-block
include ../blocks/brand-card/brand-card
include ../blocks/generation/generation-list

block head
	- var pageTitle = 'Каталог';
	- var pageMod = 'catalog';

block content
	+breadcrumbs(getData('index-crumbs'))
	+search-type()
