extends ../blocks/layout-default/layout-default
include ../blocks/search/search-car
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/title-block/title-block
include ../blocks/akcent-block/akcent-block
include ../blocks/kit/kit
include ../blocks/car-card/car-card

block head
	- var pageTitle = 'Каталог';
	- var pageMod = 'catalog';

block content
	+breadcrumbs(getData('index-crumbs'))
	+search-car()
	+car-card
	+title-block({level: '2'}) Комплектации
	+akcent-block
		+kit

