extends ../blocks/layout-default/layout-default
include ../blocks/search/search-type
include ../blocks/breadcrumbs/breadcrumbs

block head
	- var pageTitle = 'Каталог';
	- var pageMod = 'catalog';

block content
	+breadcrumbs(getData('index-crumbs'))
	+search-type()
