extends /blocks/layout-default/layout-default
include ../blocks/search/search-generation
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/title-block/title-block
include ../blocks/catalog/catalog
include ../blocks/akcent-block/akcent-block
include ../blocks/brand-card/brand-card

block head
	- var pageTitle = 'Каталог';
	- var pageMod = 'catalog';

block content
	+breadcrumbs(getData('index-crumbs'))
	+search-generation()
	+brand-card()
	+title-block({level: '2'}) Популярные модели BMW
	+catalog(getData('catalogPopular'))
	+title-block({level: '2'}) Все модели
	+catalog(getData('catalogAll'), 'hasPagination')