extends ../blocks/layout-default/layout-default
include ../blocks/credit-steps/credit-steps
include ../blocks/page/page-footer/page-footer

block head
  - var pageTitle = 'Credit Calc 1';
  - var pageMod = 'Credit Calc';
  - var innerClass = 'credit-calc__inner';
  - var pageFull = true;

block content

  +credit-steps(0)

  +page-footer-credit()
