extends ../blocks/layout-default/layout-auth
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/text/text
include ../blocks/search/search
include ../blocks/search/search-type
include ../blocks/search/search-agricultural
include ../blocks/search/search-artic
include ../blocks/search/search-atv
include ../blocks/search/search-disks
include ../blocks/headblock/headblock
include ../blocks/pager/pager-load
include ../blocks/group/group
include ../blocks/special/special
include ../blocks/sort/sort
include ../blocks/card-list/card-list
include ../blocks/pagination/pagination
include ../blocks/subscribe-form/subscribe-form
include ../blocks/loader/loader
include ../blocks/result-message/result-message
include ../blocks/card/card-disk

block head
  - var pageTitle = 'Кованые диски Skill SV087 R22 J9.5 ET+15 6x139.7 Dodge';
  - var pageMod = 'Disks Page';
  - var innerClass = 'disks-page';

block content
  +breadcrumbs(getData('tire-crumbs'))
  +card-disk(getData('disks'), 0)
  +headblock

  +card-list(getData('tires'), 'disks')

  +pager-load
