doctype html
html(lang='ru')
  head
    title Mbib
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
  body(style="padding:0; border:0; margin:0;background-color: #fff; color: #191919;")
    table(cellpadding="0", cellspacing="0", border="0", width="100%")
      tr(valign="top", align="center")
        td(style="padding: 48px 0;")
          table(cellpadding="0", cellspacing="0", border="0", width="620", style="margin:0 auto;font-family: Arial; font-size:16px; padding-left:60px;padding-right:60px;")
            tr()
              td(width="620", style="color: #fff; text-align: center;")
                div(style="display: block; text-align: center;")
                  a(href="#" style="background-color:#cc0033;padding-top:4px;padding-bottom:10px;padding-left:60px;padding-right:60px;font-weight:bold;text-align:center;width:280px; display:inline-block;color:#ffffff; text-decoration:none")
                    span(style="display:block; font-size: 42px; line-height: 48px;")
                      span(style="display: inline-block; text-shadow: 0px 2.59459px 0px rgba(0, 0, 0, 0.15);") MBIB
                      span(style="display: inline-block; vertical-align: 10px") .
                      span(style="display: inline-block; text-shadow: 0px 2.59459px 0px rgba(0, 0, 0, 0.15);") RU

    table(cellpadding="0", cellspacing="0", border="0", width="100%")
      tr(valign="top", align="center")
        td()
          table(cellpadding="0", cellspacing="0", border="0", width="620", style="margin:0 auto;font-family: Arial; font-size:16px;padding-left:60px;padding-right:60px;")
            tr(align="left")
              td(width="620" style="font-size: 18px; line-height: 28px;")
                p(style="font-weight:700; font-size: 24px; line-height: 28px; margin-top: 0; letter-spacing: -.035em;") Здравствуйте, Виталий!<br>
                p(style="margin-top: 0; margin-bottom: 24px;") Меня зовут Александр Рошаль, я владелец одной из&nbsp;крупнейших площадок по продаже автомобилей в&nbsp;России — портала mbib.ru. С 2017 года мой каталог помогает продавцам и покупателям авто- и мото-транспорта находить друг друга и заключать выгодные сделки.

                p(style="margin-top: 0; margin-bottom: 24px;") За это время, помимо увеличения количества посетителей до #[b 1.2 миллиона в месяц] и конверсии в звонок до #[b 22.8]%, мы с командой непрерывно работаем над качеством  инструментов для корпоративных клиентов и автосалонов, добавляя новые и совершенствуя существующие.

                p(style="margin-top: 0; margin-bottom: 0;") Благодаря моему опыту работы и накопленным за это время знаниям наши партнеры
                ul(style="padding: 0 0 0 25px; margin: 0 0 30px;")
                 li(style="") #[b увеличивают количество обращений] на 15%,
                 li(style="") #[b снижают затраты на привлечение клиентов] до 40%,
                 li(style="") #[b улучшают узнаваемость бренда] и лояльность целевой аудитории.

                p(style="margin-top: 0; margin-bottom: 24px;") Недавно мы добавили для наших партнеров функцию #[b автоматической загрузки прайс-листов], XML-фидов, таблиц и баз данных любого формата и структуры. Это быстро и бесплатно, мы берем на себя всю работу по обработке информации и формированию структуры объявлений. Помимо авто- и мото-транспорта, мы размещаем предложения о продаже автозапчастей и шин.

                p(style="margin-top: 0; margin-bottom: 10px;") Если у вас остались вопросы — ответьте на это письмо или позвоните по номеру 8&nbsp;(800)&nbsp;555-35-35, я отвечу вам в рабочее время или перезвоню следующим утром.
            tr(align="left")
              td(width="620")
                p
                  a(href="#" style="background: #CC0033; box-shadow: 0px 3px 0px #940E2A; padding: 20px 0; font-size: 18px; line-height: 21px; letter-spacing: -0.004em; color: #FFFFFF; display: block; width: 100%; text-decoration: none; text-align: center; ")
                    span Бесплатно увеличить продажи с mbib.ru

    table(cellpadding="0", cellspacing="0", border="0", width="100%")
      tr(valign="top", align="center")
        td(style="padding: 5px 0 40px;")
          table(cellpadding="0", cellspacing="0", border="0", width="620", style="margin:0 auto;font-family: Arial; font-size:16px;padding-left:60px;padding-right:60px;")
            tr(align="left")
              td(style="font-weight: 500; font-size: 18px; line-height: 28px; color: #191919; vertical-align: top; padding-top: 36px;")
                b С уважением,
                br
                span Александр Рошаль
                br
                span — владелец портала mbib.ru
              td(style="text-align: right;")
                img(src="assets/images/signature.png", width="290", height="209", alt="" style="margin-left: -50px;")
