extends /blocks/layout-default/layout-default

block head
  - var pageTitle = 'Список страниц';
  - var pageMod = 'list';

block content
  ul
    li(style="padding: 5px;"): a(href="main.html") index
    li(style="padding: 5px;"): a(href="main_ext_search.html") index ext search
    li(style="padding: 5px;"): a(href="card.html") card
    li(style="padding: 5px;"): a(href="card_nophoto.html") card_nophoto
    li(style="padding: 5px;"): a(href="modal.html") modal
    li(style="padding: 5px;"): a(href="enter.html") enter
    li(style="padding: 5px;"): a(href="registr.html") registr
    li(style="padding: 5px;"): a(href="recovery.html") recovery
    li(style="padding: 5px;"): a(href="claim.html") жалобы
    li(style="padding: 5px;"): a(href="feedback.html") техподдержка
    li(style="padding: 5px;"): a(href="add-step1.html") шаг 1
    li(style="padding: 5px;"): a(href="add-step2.html") шаг 2
    li(style="padding: 5px;"): a(href="add-step3.html") шаг 3
    li(style="padding: 5px;"): a(href="add-step4.html") шаг 4
    li(style="padding: 5px;"): a(href="add-step5.html") шаг 5
    li(style="padding: 5px;"): a(href="draft.html") draft
    li(style="padding: 5px;"): a(href="draft_photos-load.html") draft_photos-load
    li(style="padding: 5px;"): a(href="catalog.html") catalog
    li(style="padding: 5px;"): a(href="catalog-model.html") catalog-model
    li(style="padding: 5px;"): a(href="catalog-brand.html") catalog-brand
    li(style="padding: 5px;"): a(href="catalog-seria.html") catalog-seria
    li(style="padding: 5px;"): a(href="catalog-type.html") catalog-type
    li(style="padding: 5px;"): a(href="catalog-car.html") catalog-car
    li(style="padding: 5px;"): a(href="request-users.html") request-users
    li(style="padding: 5px;"): a(href="doc-rules.html") doc-rules
    li(style="padding: 5px;"): a(href="doc-confidence.html") doc-confidence
    li(style="padding: 5px;"): a(href="doc-conditions.html") doc-conditions
    li(style="padding: 5px;"): a(href="doc-oferta.html") doc-oferta
    li(style="padding: 5px;"): a(href="bike.html") bike
    li(style="padding: 5px;"): a(href="scooter.html") scooter
    li(style="padding: 5px;"): a(href="atv.html") atv
    li(style="padding: 5px;"): a(href="snowmobile.html") snowmobile
    li(style="padding: 5px;"): a(href="add-moto-step1.html") add-moto-step1
    li(style="padding: 5px;"): a(href="add-moto-step2.html") add-moto-step2
    li(style="padding: 5px;"): a(href="add-moto-step3.html") add-moto-step3
    li(style="padding: 5px;"): a(href="add-moto-step4.html") add-moto-step4
    li(style="padding: 5px;"): a(href="add-moto-step5.html") add-moto-step5
    li(style="padding: 5px;"): a(href="add-scooter-step2.html") add-scooter-step2
    li(style="padding: 5px;"): a(href="add-scooter-step3.html") add-scooter-step3
    li(style="padding: 5px;"): a(href="add-scooter-step4.html") add-scooter-step4
    li(style="padding: 5px;"): a(href="add-rover-step2.html") add-rover-step2
    li(style="padding: 5px;"): a(href="add-rover-step3.html") add-rover-step3
    li(style="padding: 5px;"): a(href="add-rover-step4.html") add-rover-step4
    li(style="padding: 5px;"): a(href="add-rover-step5.html") add-rover-step5
    li(style="padding: 5px;"): a(href="add-snowmobile-step2.html") add-snowmobile-step2
    li(style="padding: 5px;"): a(href="add-snowmobile-step3.html") add-snowmobile-step3
    li(style="padding: 5px;"): a(href="add-snowmobile-step4.html") add-snowmobile-step4
    li(style="padding: 5px;"): a(href="add-snowmobile-step5.html") add-snowmobile-step5
    li(style="padding: 5px;"): a(href="lcv.html") lcv
    li(style="padding: 5px;"): a(href="truck.html") truck
