extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Список страниц';
	- var pageMod = 'list';

block content
	ul
		li(style="padding: 5px;"): a(href="main.html") index
		li(style="padding: 5px;"): a(href="card.html") card
		li(style="padding: 5px;"): a(href="card_nophoto.html") card_nophoto
		li(style="padding: 5px;"): a(href="modal.html") modal
		li(style="padding: 5px;"): a(href="enter.html") enter
		li(style="padding: 5px;"): a(href="registr.html") registr
		li(style="padding: 5px;"): a(href="recovery.html") recovery
		li(style="padding: 5px;"): a(href="claim.html") жалобы
		li(style="padding: 5px;"): a(href="feedback.html") техподдержка
		li(style="padding: 5px;"): a(href="add-step1.html") шаг 1
		li(style="padding: 5px;"): a(href="add-step2.html") шаг 2
		li(style="padding: 5px;"): a(href="add-step3.html") шаг 3
		li(style="padding: 5px;"): a(href="add-step4.html") шаг 4
		li(style="padding: 5px;"): a(href="add-step5.html") шаг 5
		li(style="padding: 5px;"): a(href="draft.html") draft
		li(style="padding: 5px;"): a(href="catalog.html") catalog
		li(style="padding: 5px;"): a(href="catalog-model.html") catalog-model
		li(style="padding: 5px;"): a(href="catalog-brand.html") catalog-brand
		li(style="padding: 5px;"): a(href="catalog-seria.html") catalog-seria
		li(style="padding: 5px;"): a(href="catalog-type.html") catalog-type
		li(style="padding: 5px;"): a(href="catalog-car.html") catalog-car