extends ../blocks/layout-default/layout-default

block head
  - var pageTitle = 'Список страниц';
  - var pageMod = 'list';

block content
  ul
    li(style="padding: 5px;"): a(href="main.html") main
    li(style="padding: 5px;"): a(href="main_ext_search.html") main ext search
    li(style="padding: 5px;"): a(href="card.html") card
    li(style="padding: 5px;"): a(href="card_spec.html") card_spec
    li(style="padding: 5px;"): a(href="card_nophoto.html") card_nophoto
    li(style="padding: 5px;"): a(href="modal.html") modal
    li(style="padding: 5px;"): a(href="enter.html") enter
    li(style="padding: 5px;"): a(href="registr.html") registr
    li(style="padding: 5px;"): a(href="recovery.html") recovery
    li(style="padding: 5px;"): a(href="claim.html") жалобы
    li(style="padding: 5px;"): a(href="feedback.html") техподдержка
    li(style="padding: 5px;"): a(href="add-step1.html") шаг 1
    li(style="padding: 5px;"): a(href="add-step2.html") шаг 2
    li(style="padding: 5px;"): a(href="add-step3.html") шаг 3
    li(style="padding: 5px;"): a(href="add-step4.html") шаг 4
    li(style="padding: 5px;"): a(href="add-step5.html") шаг 5
    li(style="padding: 5px;"): a(href="draft.html") draft
    li(style="padding: 5px;"): a(href="draft_spec.html") draft_spec
    li(style="padding: 5px;"): a(href="draft_photos-load.html") draft_photos-load
    li(style="padding: 5px;"): a(href="catalog.html") catalog
    li(style="padding: 5px;"): a(href="catalog-model.html") catalog-model
    li(style="padding: 5px;"): a(href="catalog-brand.html") catalog-brand
    li(style="padding: 5px;"): a(href="catalog-seria.html") catalog-seria
    li(style="padding: 5px;"): a(href="catalog-type.html") catalog-type
    li(style="padding: 5px;"): a(href="catalog-car.html") catalog-car
    li(style="padding: 5px;"): a(href="request-users.html") request-users
    li(style="padding: 5px;"): a(href="doc-rules.html") doc-rules
    li(style="padding: 5px;"): a(href="doc-confidence.html") doc-confidence
    li(style="padding: 5px;"): a(href="doc-conditions.html") doc-conditions
    li(style="padding: 5px;"): a(href="doc-oferta.html") doc-oferta
    li(style="padding: 5px;"): a(href="bike.html") bike
    li(style="padding: 5px;"): a(href="scooter.html") scooter
    li(style="padding: 5px;"): a(href="atv.html") atv
    li(style="padding: 5px;"): a(href="snowmobile.html") snowmobile
    li(style="padding: 5px;"): a(href="add-moto-step1.html") add-moto-step1
    li(style="padding: 5px;"): a(href="add-moto-step2.html") add-moto-step2
    li(style="padding: 5px;"): a(href="add-moto-step3.html") add-moto-step3
    li(style="padding: 5px;"): a(href="add-moto-step4.html") add-moto-step4
    li(style="padding: 5px;"): a(href="add-moto-step5.html") add-moto-step5
    li(style="padding: 5px;"): a(href="add-scooter-step2.html") add-scooter-step2
    li(style="padding: 5px;"): a(href="add-scooter-step3.html") add-scooter-step3
    li(style="padding: 5px;"): a(href="add-scooter-step4.html") add-scooter-step4
    li(style="padding: 5px;"): a(href="add-rover-step2.html") add-rover-step2
    li(style="padding: 5px;"): a(href="add-rover-step3.html") add-rover-step3
    li(style="padding: 5px;"): a(href="add-rover-step4.html") add-rover-step4
    li(style="padding: 5px;"): a(href="add-rover-step5.html") add-rover-step5
    li(style="padding: 5px;"): a(href="add-snowmobile-step2.html") add-snowmobile-step2
    li(style="padding: 5px;"): a(href="add-snowmobile-step3.html") add-snowmobile-step3
    li(style="padding: 5px;"): a(href="add-snowmobile-step4.html") add-snowmobile-step4
    li(style="padding: 5px;"): a(href="add-snowmobile-step5.html") add-snowmobile-step5
    li(style="padding: 5px;"): a(href="lcv.html") lcv
    li(style="padding: 5px;"): a(href="truck.html") truck
    li(style="padding: 5px;"): a(href="artic.html") artic
    li(style="padding: 5px;"): a(href="bus.html") bus
    li(style="padding: 5px;"): a(href="trailer.html") trailer
    li(style="padding: 5px;"): a(href="agricultural.html") agricultural
    li(style="padding: 5px;"): a(href="construction.html") construction
    li(style="padding: 5px;"): a(href="autoloader.html") autoloader
    li(style="padding: 5px;"): a(href="crane.html") crane
    li(style="padding: 5px;"): a(href="dredge.html") dredge
    li(style="padding: 5px;"): a(href="bulldozers.html") bulldozers
    li(style="padding: 5px;"): a(href="municipal.html") municipal
    li(style="padding: 5px;"): a(href="add-lcv-step1.html") add-lcv-step1
    li(style="padding: 5px;"): a(href="add-lcv-step2.html") add-lcv-step2
    li(style="padding: 5px;"): a(href="add-lcv-step3.html") add-lcv-step3
    li(style="padding: 5px;"): a(href="add-lcv-step4.html") add-lcv-step4
    li(style="padding: 5px;"): a(href="add-truck-step2.html") add-truck-step2
    li(style="padding: 5px;"): a(href="add-truck-step3.html") add-truck-step3
    li(style="padding: 5px;"): a(href="add-truck-step4.html") add-truck-step4
    li(style="padding: 5px;"): a(href="add-artic-step2.html") add-artic-step2
    li(style="padding: 5px;"): a(href="add-artic-step3.html") add-artic-step3
    li(style="padding: 5px;"): a(href="add-artic-step4.html") add-artic-step4
    li(style="padding: 5px;"): a(href="add-bus-step2.html") add-bus-step2
    li(style="padding: 5px;"): a(href="add-bus-step3.html") add-bus-step3
    li(style="padding: 5px;"): a(href="add-bus-step4.html") add-bus-step4
    li(style="padding: 5px;"): a(href="add-trailer-step2.html") add-trailer-step2
    li(style="padding: 5px;"): a(href="add-trailer-step3.html") add-trailer-step3
    li(style="padding: 5px;"): a(href="add-trailer-step4.html") add-trailer-step4
    li(style="padding: 5px;"): a(href="add-cabina-step2.html") add-cabina-step2
    li(style="padding: 5px;"): a(href="add-cabina-step3.html") add-cabina-step3
    li(style="padding: 5px;"): a(href="add-cabina-step4.html") add-cabina-step4
    li(style="padding: 5px;"): a(href="add-agricultural-step2.html") add-agricultural-step2
    li(style="padding: 5px;"): a(href="add-agricultural-step3.html") add-agricultural-step3
    li(style="padding: 5px;"): a(href="add-agricultural-step4.html") add-agricultural-step4
    li(style="padding: 5px;"): a(href="add-construction-step2.html") add-construction-step2
    li(style="padding: 5px;"): a(href="add-construction-step3.html") add-construction-step3
    li(style="padding: 5px;"): a(href="add-construction-step4.html") add-construction-step4
    li(style="padding: 5px;"): a(href="add-autoloader-step2.html") add-autoloader-step2
    li(style="padding: 5px;"): a(href="add-autoloader-step3.html") add-autoloader-step3
    li(style="padding: 5px;"): a(href="add-autoloader-step4.html") add-autoloader-step4
    li(style="padding: 5px;"): a(href="add-crane-step2.html") add-сrane-step2
    li(style="padding: 5px;"): a(href="add-crane-step3.html") add-сrane-step3
    li(style="padding: 5px;"): a(href="add-crane-step4.html") add-сrane-step4
    li(style="padding: 5px;"): a(href="add-dredge-step2.html") add-dredge-step2
    li(style="padding: 5px;"): a(href="add-dredge-step3.html") add-dredge-step3
    li(style="padding: 5px;"): a(href="add-dredge-step4.html") add-dredge-step4
    li(style="padding: 5px;"): a(href="add-bulldozers-step2.html") add-bulldozers-step2
    li(style="padding: 5px;"): a(href="add-bulldozers-step3.html") add-bulldozers-step3
    li(style="padding: 5px;"): a(href="add-bulldozers-step4.html") add-bulldozers-step4
    li(style="padding: 5px;"): a(href="add-municipal-step2.html") add-municipal-step2
    li(style="padding: 5px;"): a(href="add-municipal-step3.html") add-municipal-step3
    li(style="padding: 5px;"): a(href="add-municipal-step4.html") add-municipal-step4
    li(style="padding: 5px;"): a(href="subscribes.html") subscribes
    li(style="padding: 5px;"): a(href="sitemap.html") sitemap
    li(style="padding: 5px;"): a(href="code.html") code
    li(style="padding: 5px;"): a(href="credit.html") credit
    li(style="padding: 5px;"): a(href="payment-services.html") payment-services
    li(style="padding: 5px;"): a(href="payment-await.html") payment-await
    li(style="padding: 5px;"): a(href="xml.html") xml
    li(style="padding: 5px;"): a(href="placement-cost.html") placement-cost
    li(style="padding: 5px;"): a(href="reviews.html") reviews
    li(style="padding: 5px;"): a(href="review-page.html") review-page
    li(style="padding: 5px;"): a(href="review-add.html") review-add
    li(style="padding: 5px;"): a(href="review-add-user.html") review-add-user
    li(style="padding: 5px;"): a(href="for-business.html") for-business
    li(style="padding: 5px;"): a(href="credit-banks.html") credit-banks
    li(style="padding: 5px;"): a(href="credit-step-start.html") credit-step-start
    li(style="padding: 5px;"): a(href="credit-step-1.html") credit-step-1
    li(style="padding: 5px;"): a(href="credit-step-2.html") credit-step-2
    li(style="padding: 5px;"): a(href="credit-step-3.html") credit-step-3
    li(style="padding: 5px;"): a(href="credit-step-4.html") credit-step-4
    li(style="padding: 5px;"): a(href="feed-upload.html") feed-upload
    li(style="padding: 5px;"): a(href="feed-logs.html") feed-logs
