extends /blocks/layout-default/layout-auth
include ../blocks/dealer/dealer
include ../blocks/text/text
include ../blocks/search/search
include ../blocks/group/group
include ../blocks/special/special
include ../blocks/sort/sort
include ../blocks/card-list/card-list
include ../blocks/pagination/pagination
include ../blocks/loader/loader
include ../blocks/result-message/result-message

block head
  - var pageTitle = 'MBIB';
  - var pageMod = 'index';

block content
  +dealer
  +search
  +group(getData('brands'))
  //- +special(getData('cars'))
  +sort
  +result-message
    +e.P.text Найдено: 45811&nbsp;объявлений.
    +e.P.text Показаны: 1-25 (страница&nbsp;№1).
  +card-list(getData('cars'))
  +pagination
  +text(getData('seo-text'))
  +loader
