extends ../blocks/layout-default/layout-auth
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/text/text
include ../blocks/search/search-municipal
include ../blocks/group/group

block head
  - var pageTitle = 'MBIB';
  - var pageMod = 'index';

block content
  +breadcrumbs(getData('index-crumbs'))
  +search-municipal
