html
	height 100%
	display flex
	flex-direction column
	font-family Arial, sans-serif
	font-size 14px
	color $colorText
	background-color #f5f5f5
	
body
	
small
	font-size .85em
	
.page
	overflow-x hidden
	display flex
	flex 1 0 auto
	// height 100%
	min-height 100%
	flex-direction column

	&_open-side
		overflow hidden
		
.marked
	color $colorMain
	
.nobr
	white-space nowrap
	
a
	color $colorSecondary
	text-decoration none