html
	font-family Arial, sans-serif
	font-size 14px
	color $colorText
	background-color #f5f5f5
	
small
	font-size .85em
	
.page
	overflow-x hidden
	
	&_open-side
		overflow hidden
		
.marked
	color $colorMain
	
.nobr
	white-space nowrap
	
a
	color $colorSecondary
	text-decoration none