.credit-offer
  &__bank
    display flex
    flex-wrap wrap

  &__bank-logo,
  &__bank-filial
    width 90px
    flex-shrink 0
    margin-right 24px

  &__name
    margin-bottom 15px
    font-size 20px
    font-weight bold
    color $colorSecondary

  &__bank-data
    flex-grow 1

  &__bank-value
    margin-bottom 10px
    font-size 18px

  &__bank-label
    font-size 14px
    color #777

  &__bank-price-wrap
    display table
    width 100%

  &__bank-price-item
    display table-cell
    width 33.33%

  &__additional
    min-width 100%
    flex-grow 1
    display flex
    padding 24px 0 16px
    margin-top 24px
    border-top 1px solid $colorDecorative

  &__bank-filial-count
    font-weight bold

  &__bank-feature-item
    position relative
    margin-bottom 1em
    padding-left 28px

  &__bank-feature-icon
    position absolute
    left 0
    top -3px
    width 20px
    height 20px
    fill $colorAkcent

  &__remark
    width 100%
    text-align right

