.credit-links
  width 100%
  flex-shrink 0
  display flex
  flex-wrap wrap

  &__item
    width 25%
    margin-bottom 1.4rem
    padding-right 1.4rem

  &__list
    margin-top 1rem

  &__list-item
    margin-bottom .5rem
