include ../title/title

mixin credit-links()
  +b.credit-links&attributes(attributes)
    +e.item
      +title(4) Рекомендуемое
      +e.UL.list
        +e.list-item
          +e.A.link(href="") Калькулятор
        +e.list-item
          +e.A.link(href="") Без первоначального взноса
        +e.list-item
          +e.A.link(href="") Без прав
        +e.list-item
          +e.A.link(href="") Без справки о доходах
        +e.list-item
          +e.A.link(href="") По двум документам
        +e.list-item
          +e.A.link(href="") Рефинансирование
        +e.list-item
          +e.A.link(href="") С плохой кредитной историей
        +e.list-item
          +e.A.link(href="")
    +e.item
      +title(4) Самые популярные
      +e.UL.list
        +e.list-item
          +e.A.link(href="") В банке ВТБ
        +e.list-item
          +e.A.link(href="") В Совкомбанке
        +e.list-item
          +e.A.link(href="") В Сетелем Банке
        +e.list-item
          +e.A.link(href="") В Газпромбанке
        +e.list-item
          +e.A.link(href="") В Русфинанс Банке
    +e.item
      +title(4) В крупных городах
      +e.UL.list
        +e.list-item
          +e.A.link(href="") В Москве
        +e.list-item
          +e.A.link(href="") В Екатеринбурге
        +e.list-item
          +e.A.link(href="") В Уфе
        +e.list-item
          +e.A.link(href="") В Краснодаре
        +e.list-item
          +e.A.link(href="") В Красноярске
        +e.list-item
          +e.A.link(href="") В Челябинске
        +e.list-item
          +e.A.link(href="")
    +e.item
      +title(4) Выбор по типу
      +e.UL.list
        +e.list-item
          +e.A.link(href="") На поддержанный автомобиль
        +e.list-item
          +e.A.link(href="") На отечественную машину
        +e.list-item
          +e.A.link(href="") На грузовое авто
        +e.list-item
          +e.A.link(href="") На мотоцикл
        +e.list-item
          +e.A.link(href="") Неработающим
        +e.list-item
          +e.A.link(href="") С господдержкой
    +e.item
      +title(4) Часто выбирают
      +e.UL.list
        +e.list-item
          +e.A.link(href="") В Тинькофф Банке
        +e.list-item
          +e.A.link(href="") В Фольксваген Банке
        +e.list-item
          +e.A.link(href="") В Тойота Банке
        +e.list-item
          +e.A.link(href="") В банке Уралсиб
        +e.list-item
          +e.A.link(href="") В банке РНКБ
    +e.item
      +title(4) В популярных городах
      +e.UL.list
        +e.list-item
          +e.A.link(href="") В Новосибирске
        +e.list-item
          +e.A.link(href="") В Самаре
        +e.list-item
          +e.A.link(href="") В Казани
        +e.list-item
          +e.A.link(href="") В Нижнем Новгороде
        +e.list-item
          +e.A.link(href="") В Тюмени
        +e.list-item
          +e.A.link(href="") В Ростове-на-Дону
    +e.item
      +title(4) Пользуется спросом
      +e.UL.list
        +e.list-item
          +e.A.link(href="") Лучшие
        +e.list-item
          +e.A.link(href="") Автокредиты онлайн
        +e.list-item
          +e.A.link(href="") С 18 лет
        +e.list-item
          +e.A.link(href="") Без КАСКО
        +e.list-item
          +e.A.link(href="") Для пенсионеров
        +e.list-item
          +e.A.link(href="") Под 10 процентов
    +e.item
      +title(4) Пользуются спросом
      +e.UL.list
        +e.list-item
          +e.A.link(href="") В РН банке
        +e.list-item
          +e.A.link(href="") В БыстроБанке
        +e.list-item
          +e.A.link(href="") В ЮниКредит Банке
        +e.list-item
          +e.A.link(href="") В Плюс Банке
        +e.list-item
          +e.A.link(href="") В банке «Россия»
    +e.item
      +title(4) В больших городах
      +e.UL.list
        +e.list-item
          +e.A.link(href="") В Воронеже
        +e.list-item
          +e.A.link(href="") В Омске
        +e.list-item
          +e.A.link(href="") В Иркутске
        +e.list-item
          +e.A.link(href="") В Волгограде
        +e.list-item
          +e.A.link(href="") В Перми
        +e.list-item
          +e.A.link(href="") В Саратове
    +e.item
      +title(4) Популярное
      +e.UL.list
        +e.list-item
          +e.A.link(href="") На 3 года
        +e.list-item
          +e.A.link(href="") На 5 лет
        +e.list-item
          +e.A.link(href="") Взнос 5 процентов
        +e.list-item
          +e.A.link(href="") Взнос 10 процентов
        +e.list-item
          +e.A.link(href="") Взнос 30 процентов
        +e.list-item
          +e.A.link(href="") Взнос 40 процентов
        +e.list-item
          +e.A.link(href="") Взнос 60 процентов
    +e.item
      +title(4) Выбор заемщиков
      +e.UL.list
        +e.list-item
          +e.A.link(href="") В Экспобанке
        +e.list-item
          +e.A.link(href="") В ОТП Банке
        +e.list-item
          +e.A.link(href="") В Росгосстрах Банке
        +e.list-item
          +e.A.link(href="") В банке «Санкт-Петербург»
        +e.list-item
          +e.A.link(href="") В Локо-Банке
    +e.item
      +title(4) В огромных городах
      +e.UL.list
        +e.list-item
          +e.A.link(href="") В Оренбурге
        +e.list-item
          +e.A.link(href="") В Ижевске
        +e.list-item
          +e.A.link(href="") В Тольятти
        +e.list-item
          +e.A.link(href="") В Барнауле
        +e.list-item
          +e.A.link(href="") В Пензе
        +e.list-item
          +e.A.link(href="") В Санкт-Петербурге
