include ../text/text
include ../title/title

mixin credit-text()
  +b.credit-text&attributes(attributes).block
    +title(3) Процентные ставки по автокредитам
    +text
      | Размещенный на странице нашего сайта сервис предоставляет простую и удобную возможность найти и оформить автокредит,
      | предусматривающий минимальную процентную ставку. Для этого достаточно в списке ячейки «Сортировать» выбрать именно этот параметр для сортировки.
    +text
      | По состоянию на 2021 год самым выгодным автокредитом можно признать предложение ВТБ Банка. Финансовая организация предлагает взять заемные
      | средства всего под 2% годовых. Ставка на уровне 7% предлагается Совкомбанком. Значительное число потенциальных заемщиков может заинтересовать
      | предложение одного из крупнейших банков страны – Русфинанс Банка, которое заключается в выдаче автокредита под 3,0%.
    +text
      | Указанные выше размеры процентной ставки касались кредита на покупку автомобиля стоимостью 1 млн. руб. Приобретение транспортного средства
      | бюджетной ценовой категории, например, за 650 тыс. руб., обойдется несколько дороже. Самым выгодным является предложение Газпромбанка,
      | осуществляющего выдачу автокредитов такого размера под 7,9%. В числе лидеров снова находится ВТБ, заемные средства которого обойдутся покупателю авто в 8,0% годовых.

    +title(3) Рассчитать автокредит
    +text
      | Возможности калькулятора позволяют в течение нескольких секунд рассчитать примерные условия, на которых выдают кредиты те или иные банки. При этом клиент
      | самостоятельно задает три наиболее важных параметра возможного автозайма, вкл*
