include ../../title/title
include ../../link/link

mixin page-funds()
    +b.page-funds
        .inner
            +e.title
                 +title(2)._no-margin Поддерживаемые фиды
            +e.wrapper
                +e.row
                    +e.item
                        +e.item-content
                            +e.name Фиды Drom.ru
                            +e.text Drom прайс-листы — стандарт, разработанный главным автомобильным порталом в РФ.
                        +e.link-wrap
                            +e.A.link(href="registr.html") Требования к передаче данных
                    +e.item
                        +e.item-content
                            +e.name Фиды Avito.ru
                            +e.text Avito-автозагрузка — стандарт, используемый главной доской объявлений Рунета.
                        +e.link-wrap
                            +e.A.link(href="registr.html") Требования к передаче данных
                    +e.item
                        +e.item-content
                            +e.name Фиды Auto.ru
                            +e.text Авто.ру фиды — стандарт одного из крупнейших автомобильных порталов, управляемого компанией Яндекс.
                        +e.link-wrap
                            +e.A.link(href="registr.html") Требования к передаче данных
