.logo
  padding 0 15px
  display flex
  height 100%
  align-items center
  font-size 32px
  font-weight bold
  text-transform uppercase
  text-shadow 0 2px 0 #b3001a
  color #fff
  background-color $colorMain

  &_footer
    padding 0
    text-shadow none
    background-color transparent
    letter-spacing: .05em

  &__link
    display flex
    height 100%
    align-items center
    text-decoration none
    color #fff

  &__name
    position relative
    padding-right 8px
    display inline-block

    &::after
      position absolute
      top 50%
      right 2px
      margin-top -3px
      size 4px
      content ''
      background-color #fff
      border-radius 1px
