mixin social(showAll)
  +b.social&attributes(attributes)
    +e.A.item._fb(href="")
      +icon('fb').icon
    +e.A.item._twi(href="")
      +icon('twi').icon
    +e.A.item._vk(href="")
      +icon('vk').icon
    if showAll
      +e.A.item._ok(href="")
        +icon('ok').icon
