.formblock
  margin 0 auto
  display block
  max-width 480px
  background-color #fff
  border 1px solid $colorDecorative

  .feedback &
    max-width 512px

  &__header
    padding 20px
    border-bottom 1px solid $colorDecorative

    +above(400px)
      display flex
      justify-content space-between
      align-items baseline

  &__header-text
    +above(400px)
      margin-bottom 0

  &__body
    padding 20px 35px 1px
