.page-footer
    padding 36px 0
    background-color #FFF3B8 !important
    background url(../images/page-header-mob.png) center center no-repeat
    +above(768px)
        background url(../images/page-header-tablet.png) center center no-repeat
        padding-top 48px
        padding-bottom 52px
        background-size contain
    +above(1170px)
        padding 64px 0
    &__name
        font-family $fontTitle
        margin-bottom 12px
        font-weight bold
        font-size 20px
        line-height 24px
        color #C4372E
        +above(768px)
            font-size 28px
            line-height 36px
    &__text
        font-size 16px
        font-weight 500
        line-height 24px
        margin-bottom 20px
        b
            font-weight bold
        +above(768px)
            font-size 18px
        +above(1170px)
            font-size 20px
        
    &__input
        margin-bottom 8px
        height 44px
        border 1px solid #D5D5D5
        border-radius 4px
        +above(768px)
            margin-bottom 24px
    &__form
        +above(768px)
            max-width 465px
            display flex
            .btn
                max-width 185px
                height 41px
        +above(1170px)
            max-width 500px
        .input
            margin-bottom 8px
            font-size 16px
            +above(768px)
                margin-bottom 0
                margin-right 8px
    &__col
        +above(768px)
            max-width 70%
        +above(1170px)
            max-width 50%
    &__snippet
        font-size 14px
        line-height 24px
        color #787878
        margin-top 24px
        text-align center
        +above(768px)
            text-align left
        a
            color #787878
            border-bottom: 1px solid #787878