include ../../form/form
include ../../input/input
include ../../btn/btn

mixin page-footer(business)
  +b.page-footer(class= business ? ' page-footer__city' : '')
    .inner
      +e.col
        +e.name Начните получать звонки покупателей прямо сейчас!
        if (business)
          +form(name="feedfooter" action="" method="post").page-footer__form
            +btn('button', '')._size_sm._theme_main._fullwidth._wide.toggleError(data-error='url_feed_f') Начать продавать
        else
          +e.text
            b Первые 20 размещений объявлений — бесплатно,
            span.dt-only
              br
            |  далее согласно #[a(href='#') тарифам]

          +form(name="feedfooter" action="" method="post").page-footer__form
            .page-footer__control
              +input(class="page-footer__input" type="url" name="url_feed" id='url_feed_f' tabindex="0" required data-value-missing="Введите URL вашего фида" placeholder="Введите URL вашего фида")
            +btn('button', '')._size_sm._theme_main._fullwidth.toggleError(data-error='url_feed_f') Выгрузить

        +e.snippet Остались вопросы? Звоните #[a(href="#") 8 800 505-53-81]

mixin page-footer-credit()
  +b.page-footer.page-footer__credit
    .inner
      +e.col
        +e.name Не упустите шанс получить автомобиль мечты
        +e.text Проверьте возможность получения кредита, это бесплатно и не займет больше трех минут

        +form(name="feedfooter" action="" method="post").page-footer__form
          .page-footer__control
            +btn('button', '')._size_sm._theme_main._fullwidth.toggleError(data-error='url_feed_f') Проверить

        +e.snippet Остались вопросы? Звоните #[a(href="#") 8 800 505-53-81]
