.page-footer
  padding 36px 0
  background-color #FFF3B8
  position: relative

  &::after
    content: '';
    position: absolute;
    bottom: 0
    left: 50%
    height: 107px
    transform translateX(-50%)
    background url(../images/shop-top-mob.png) right center no-repeat
    background-size: auto 100%;
    max-width: 387px;
    margin-left: -26px
    width: 100%
    opacity: .1

  +above(768px)
    padding-top 48px
    padding-bottom 52px

    &::after
      opacity: 1
      margin-left: 0
      max-width: calc(100% - 40px)
      background-image: url(../images/shop-top.png)

  +above(1170px)
    padding 64px 0

    &::after
      max-width: $wide
      height: 152px

  .inner
    position: relative
    z-index: 1

  &__name
    font-family $fontTitle
    margin-bottom 12px
    font-weight bold
    font-size 20px
    line-height 24px
    color #C4372E

    +above(768px)
      font-size 28px
      line-height 36px

    +above(1170px)
      margin-bottom: 12px

  &__text
    font-size 16px
    font-weight 500
    line-height 24px
    margin-bottom 20px

    a
      color #191919
      border-bottom: 1px solid currentcolor

      &:hover
        color #c03

    b
      font-weight bold
    +above(768px)
      font-size 18px
    +above(1170px)
      font-size 20px
      margin-bottom: 24px

  &__input
    margin-bottom 8px
    height 44px
    border 1px solid #D5D5D5
    border-radius 4px
    +above(768px)
      margin-bottom 24px

  &__form
    +above(768px)
      max-width 465px
      display flex
      .btn
        max-width 185px
        height 41px
    +above(1170px)
      max-width 585px

    .input
      margin-bottom 8px
      font-size 16px
      +above(768px)
        margin-bottom 0
        margin-right 8px

  &__col
    +above(768px)
      max-width 70%
    +above(1170px)
      max-width 51%

  &__snippet
    font-size 14px
    line-height 24px
    color #787878
    margin-top 24px
    text-align center
    +above(768px)
      margin-top: 14px
      text-align left

    a
      color #787878
      border-bottom: 1px solid #787878

      &:hover
        color #c03
        border-bottom-color: currentcolor;
