include ../../input/input
include ../../btn/btn

mixin page-footer()
    +b.page-footer
        .inner
            +e.col
                +e.name Начните получать звонки покупаталей прямо сейчас!
                +e.text
                    b Первые 20 размещений объявлений — бесплатно,
                    span.dt-only
                      br
                    |  далее согласно #[a(href='#') тарифам]
                 +e.FORM.form
                    +input(class="page-header__input" type="text" id='url_feed_f' tabindex="0" required placeholder="Введите URL вашего фида")
                    +btn('button', '')._size_sm._theme_main._fullwidth.toggleError(data-error='url_feed_f') Выгрузить
                +e.snippet Остались вопросы? Звоните #[a(href="#") 8 800 505-53-81]
