.action
	display block
	font-size 0
	
	&__item
		margin 0 20px
		padding 0 20px
		display inline-block
		height 36px
		font-size 1rem
		font-weight bold
		line-height 36px
		text-decoration none
		color $colorText
		border 1px dashed $colorDecorative
		
		^[0]_only-icon &
			position relative
			margin 0 0 5px
			padding 0
			display block
			size 30px
			font-size 11px
			font-weight normal
			line-height @height
			text-align center
			border none
			
			&:last-child
				margin-bottom 0
		
	&__item-text
		line-height 1.2
		
		^[0]_only-icon &
			position absolute
			z-index 1
			top 0
			right 100%
			margin-right 5px
			padding 9px 18px 8px
			white-space nowrap
			color darken($colorDecorative, 40)
			background-color #fff
			border 1px solid $colorDecorative
			box-shadow 0 2px 8px rgba($colorDecorative, .4)
			opacity 0
			pointer-events none
			
			
			&:before
				position absolute
				z-index -1
				right -5px
				top 50%
				margin-top -3px
				size 7px
				content ''
				background-color #fff
				border-top 1px solid $colorDecorative
				border-right 1px solid $colorDecorative
				transform rotate(45deg)
				
		^[0]_only-icon ^[0]__item:hover &
			opacity 1
	
	&__icon
		position relative
		top -2px
		margin-right 6px
		display inline-block
		size 20px
		vertical-align middle
		
		^[0]_only-icon &
			size 20px
			fill $colorText
			transition fill .3s
			
		^[0]_only-icon ^[0]__item:hover &
			fill $colorMain