mixin action(item, isFavorite)
	+b.action&attributes(attributes)
		if !item
			if isFavorite
				- var mod = "_active"
			else 
				- var mod = ""
			+e.A.item(href="" class=mod)
				+e.SPAN.icon
					+icon('like', false).icon-img._like
					+icon('like_fill', false).icon-img._like._like_fill
				+e.item-text 
					if isFavorite
						| В избранном
					else
						| В избранное
			+e.A.item(href="")
				+e.SPAN.icon
					+icon('top', false).icon-img
				+e.item-text Поднять обьявление
			+e.A.item(href="")
				//- +icon()
				+e.SPAN.icon
					+icon('plaint', false).icon-img
				+e.item-text Пожаловаться
			+e.A.item(href="")
				//- +icon()
				+e.SPAN.icon
					+icon('pencil', false).icon-img
				+e.item-text Редактировать
		else if item === 'like'
			+e.A.item._simple(href="")
				//- +icon()
				+e.SPAN.icon
					+icon('like', false).icon-img._like
					+icon('like_fill', false).icon-img._like._like_fill
				+e.item-text В избранное