.action
	display block
	font-size 0
	
	&__item
		margin 0 20px
		padding 0 20px
		display inline-block
		height 36px
		font-size 1rem
		font-weight bold
		line-height 36px
		text-decoration none
		color $colorText
		border 1px dashed $colorDecorative
		
	&__item-text
		line-height 1.2
		