mixin action()
	+b.action&attributes(attributes)
		+e.A.item(href="")
			//- +icon()
			+e.item-text Поднять обьявление
		+e.A.item(href="")
			//- +icon()
			+e.item-text В избранное
		+e.A.item(href="")
			//- +icon()
			+e.item-text Пожаловаться