mixin action(isFavorite)
	+b.action&attributes(attributes)
		if !item
			if isFavorite
				- var mod = "_active"
			else 
				- var mod = ""
			+e.A.item(href="" class=mod)
				+icon('like', false).icon
				+e.item-text В избранное
			+e.A.item(href="")
				+icon('top', false).icon
				+e.item-text Поднять обьявление
			+e.A.item(href="")
				//- +icon()
				+icon('plaint', false).icon
				+e.item-text Пожаловаться
		else if item === 'like'
			+e.A.item._simple(href="")
				//- +icon()
				+icon('like', false).icon
				+e.item-text В избранное