.switcher
	display inline-block
	
	&__control
		position absolute
		z-index -1
		opacity 0
		margin 0
		visibility hidden
		
	&__text
		padding 0 19px
		display inline-block
		height $heightM
		font-size 12px
		line-height 48px
		text-align center
		text-decoration none
		text-transform uppercase
		border none
		
		&:focus
			transform translate3D(0, 1px, 0)
			
		&:active,
		^[0]__control:checked + &,
		&_active
			transform translate3D(0, 2px, 0)
			box-shadow none
			
		&_theme_main
			color #fff
			background-color $colorMain
			background-image linear-gradient(to right, $colorMain, #E61A4D)
			box-shadow 0 2px 0 #900
			
			&:hover,
			&:focus
				background-image linear-gradient(to right, #E61A4D, lighten($colorMain, 20))
				
			&:active,
			^[0]__control:checked + &
				background-image none
				background-color darken($colorMain, 5)
				box-shadow inset 0 3px 6px #900
			
		&_theme_secondary
			color #fff
			background-color $colorSecondary
			background-image linear-gradient(to right, $colorSecondary, #528AE0)
			box-shadow 0 2px 0 #053d93
			
			&:hover,
			&:focus
				background-image linear-gradient(to right, #528ae0, #6ba3f9)
				box-shadow 0 2px 0 #1f57ad
				
			&:active,
			^[0]__control:checked + &
				background-image none
				background-color #1f57ad
				box-shadow inset 0 3px 6px #053d93
				
		&_theme_decorative
			background-color lighten($colorDecorative, 10)
			box-shadow 0 2px 0 darken($colorDecorative, 20)
			
			&:hover,
			&:focus
				background-color $colorDecorative
				box-shadow 0 2px 0 darken($colorDecorative, 40)
		
				
			&:active,
			^[0]__control:checked + &
				background-image none
				background-color darken($colorDecorative, 20)
				box-shadow inset 0 3px 6px darken($colorDecorative, 40)