.share
	margin-bottom 20px
	display flex
	align-items center
	justify-content center
	
	+above(768px)
		margin-bottom 0
		justify-content flex-start
		
	&__lbl
		display none
		
		+above(980px)
			margin-right 30px
			display block
			font-weight bold
			
	.btn-social-icon
		margin-right 5px