.special
	margin-bottom 27px
	display block
	background-color #fffcea
	box-shadow 0 2px 0 rgba(#dad6c7, .75)
	
	&__head
		margin 1px 1px 0
		padding 0 28px 0 20px
		display flex
		height 45px
		justify-content space-between
		align-items center
		background-color #fff3b5
		
	&__title
		position relative
		padding-left 35px
		font-family $fontTitle
		font-size 20px
		font-weight bold
		
	&__show-all
		position relative
		padding-left 26px
		display inline-block
		line-height 1.4
		text-decoration none
		color $colorSecondary