.card-list
	position relative
	margin-bottom 12px
	display block
	
	&__overlay
		position absolute
		z-index -1
		top 0
		right 0
		left 0
		bottom 0
		background-color rgba(#f5f5f5, .75)
		
		^[0]_loading &
			z-index 10
			opacity 1

	&__loader
		position absolute
		top 50%
		left 50%
		margin-top -2em
		margin-left 1em
	
	&__list
		margin-bottom 10px
		
	&__item
		padding 10px
		width 100%
		background-color #fff
		border-top 1px solid #f5f5f5
		transition background-color .3s
		
		+above(768px)
			position relative
			padding 16px
			display table
			
		+above(1024px)
			padding-right 70px

		&:hover
			position relative
			z-index 1
			background-color lighten($colorDecorative, 10)
			border-top-color transparent
			box-shadow 0 0 20px $colorDecorative
			
		&_mark
			background-color #fffcea
			box-shadow inset 0 0 0 3px #fff3b5 // 0 0 20px $colorDecorative
			
			&:hover
				background-color #fffcea
				box-shadow inset 0 0 0 3px #fff3b5, 0 0 20px $colorDecorative
				
		&_mark + &
			border-top-color transparent
		
	&__thumb
		position relative
		margin-bottom 16px
		font-size 0
		
		+above(768px)
			margin-bottom 0
			display table-cell
			width 254px
			vertical-align top

	&__gallery
		position absolute
		top 0
		left 0
		bottom 0
		width 100%
	
	&__about
		+above(768px)
			padding 0 30px
			display table-cell
			vertical-align top
		
	&__about-item
		margin-bottom 16px
		
	&__contact
		margin-bottom 10px
		
		+above(768px)
			display table-cell
			width 200px
			vertical-align top
			margin-bottom 0
		
	&__action
		+above(980px)
			position absolute
			top 16px
			bottom 16px
			right 16px
			display block
			width 54px
			opacity 0
			transition opacity .3s
			
			^[0]__item:hover &
				opacity 1
				
		.page_touch &
			+above(980px)
				opacity 1
				
	&__name
		position relative
		top -1px
		margin-bottom 15px
		font-size 16px
		font-weight bold
		
	&__name-icon
		position relative
		top 1px
		margin-right 8px
		display inline-block
		size 16px
		fill $colorMain
		
	&__name-link
		display inline-block
		text-decoration none
		color $colorSecondary
		transition color .3s
		
		&:hover
			text-decoration underline
			color $colorMain
		
	&__price
		margin-right 42px
		display inline-block
		font-size 16px
		font-weight bold
		
	&__feature
		line-height 1.73
		
	&__remark
		color darken($colorDecorative, 40)
		
	&__comment
		margin -10px 0 10px
		font-size 12px
		line-height 1.5
		
		+above(768px)
			display none
		
	&__place,
	&__pubdate
		font-size 12px
		color darken($colorDecorative, 40)
		
	&__author
		margin-bottom 15px
		line-height 1.3
		
	&__count
		margin -5px 0 14px
		font-size 12px
		color darken($colorDecorative, 40)

	&__phone
		border 1px dashed $colorDecorative
		margin-bottom 10px
		color inherit
		
		&:hover
			border-color $colorMain
			border-style solid
			
		&_showed
			border-color $colorSecondary
		
		+above(768px)
			display inline-block
			
	&__phone-button
		position relative
		padding 9px 12px 9px 32px
		display block
		width 100%
		text-align left
		color inherit
		background-color #fff
		border none
		
		^[0]__phone_showed &
			display none
		
	&__phone-inner
		height 0
		max-height 0
		overflow hidden
		visibility hidden
		transition ease max-height .3s, visibility .3s
		
		^[0]__phone_showed &
			visibility visible
			height auto
			max-height 200px
		
	&__phone-link
		position relative
		padding 9px 12px 9px 32px
		display block
		text-decoration none
		color inherit
		background-color #fff
		
			
	&__phone-icon
		position absolute
		top 11px
		left 15px
		size 12px
		transition fill .3s
		
		^[0]__phone:hover &
			fill $colorMain
		
		
	&__phone-number
		display inline-block
		font-size 16px
		font-weight bold
		color $colorSecondary
		
		& + ^[0]__phone-remark
			margin-top 12px
		
	&__phone-remark
		margin-top 9px
		display block
		font-size 11px