.saletype
  margin-top 60px
  display block
  background-color #fff

  .tab&
    margin-bottom 0

  &__simple,
  &__premium
    position relative
    margin -20px -10px 30px
    padding 10px 16px

    +above(768px)
      margin -20px -30px 25px
      padding 20px 30px

    +above(980px)
      margin-bottom: 30px

  &__simple
    //background #e4f2dd url(../images/bg-sale.png) right bottom no-repeat
    //box-shadow inset 0 2px 0 #b4e19d
    //background-size contain

    background #466FC0
    box-shadow none
    overflow hidden
    padding-bottom 35px

    &::before
      content ''
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      min-width 1100px
      background url(../images/bg-sale.png) right 25px bottom no-repeat
      background-size auto 130px

    .saletype__fig img
      height: 160px
      width: 180px

    +below(1169px)
      &::before
        opacity .35
        min-width 350px
        margin-right -168px
        background-size auto 100px

    +below(767px)
      padding-bottom: 60px

      .saletype__text
        height auto
        min-height 130px

      .saletype__fig
        display none

      &::before
        margin-right -10px
        background-size auto 72px

    .saletype__fig
      padding-top: 10px

    .saletype__text
      color: #fff

    +above(768px)
      padding-bottom 25px

    +above(980px)
      padding-bottom 20px
      background-size auto

      .saletype__fig
        margin-right: 20px

        img
          height: 202px
          width: 242px

  &__premium
    //padding-bottom 118px
    //background #fff3b5 url(../images/bg-city.png) bottom right repeat-x
    //box-shadow inset 0 2px 0 #ffe03e
    //overflow hidden

    background: #92BD73
    box-shadow none
    padding-bottom: 35px

    &::before
      position absolute
      z-index 1
      bottom 0
      right -50px
      width 257px
      height 185px
      // padding-bottom 62.7898%
      // width 85vmin
      // max-width 514px
      content ''
      //background url(../images/bg-shop.png) 0 bottom no-repeat
      //background-size contain
      background: url(../images/bg-shop.png) right 50px bottom no-repeat
      background-size: contain
      max-height 100%

      +above(400px)
        right 0

      +above(768px)
        padding-bottom 0
        width 390px
        height 235px

      +above(980px)
        right -25px

    +below(979px)
      &::before
        opacity .35
        height 150px
        right -95px

      .saletype__content
        min-height 130px
        padding-right 40px

        .saletype__text p
          padding-right: 35px

      .saletype__fig img
        height 150px
        width 150px

    +below(767px)

      .saletype__content
        padding-right 0

      .saletype__text
        height auto
        min-height 130px

      .saletype__fig
        display none

      &::before
        height 120px
        right: -35px

    .saletype__fig
      padding-top 10px

    .saletype__text
      color #fff

    +above(768px)
      padding-bottom 1px

    +above(980px)
      padding-bottom 20px

  &__tab-simple.tab__head-item_active
    position relative
    z-index 1
    background-color #e4f2dd
    box-shadow inset 0 2px 0 #b4e19d, 0 4px 0 #e4f2dd

    &.saletype__tab-simple--tire
      background-color #466FC0
      box-shadow none
      color #fff

  &__tab-premium.tab__head-item_active
    position relative
    z-index 1
    background-color #fff3b5
    box-shadow inset 0 2px 0 #ffe03e, 0 4px 0 #fff3b5

    &.saletype__tab-premium--tire
      background-color: #92BD73
      box-shadow none
      color: #fff

  &__content
    display flex

  &__fig
    display none
    margin-right 30px

    +above(768px)
      display block

  &__text
    margin-top 15px
    width 420px
    font-size 14px
    line-height 1.5

    +above(768px)
      margin-top 20px
      font-size 16px
      line-height: 1.6
      width 480px

    ^[0]__premium &
      width 100%

      +above(980px)
        max-width 48%
        width 530px
        margin-left 20px

    h3
      margin-bottom 10px
      font-size 18px
      font-weight bold
      line-height 1.1
      display flex
      justify-content space-between
      align-items center

      +above(768px)
        font-size: 24px

      +above(980px)
        margin-bottom: 14px

    p
      margin-bottom 1.5em

  &__price-wrap
    position absolute
    bottom 0
    right 130px
    // padding-bottom 54%
    // width 63vmin
    // max-width 378px
    width 189px
    height 152px
    content ''
    background url(../images/bg-price.png) 0 bottom no-repeat
    background-size contain

    // +above(600px)
    // right 35%

    +above(400px)
      right 180px

    +above(768px)
      right 348px
      // padding-bottom 0
      width 378px
      height 304px

    +above(980px)
      right 270px

    +above(1170px)
      right 348px

  &__price
    position absolute
    bottom 54%
    right 50%
    font-size 16px
    color #ffe984
    transform translate(50%, 0)

    +above(768px)
      top 89px
      left 50%
      bottom auto
      right auto
      margin-left -70px
      font-size 20px
      font-weight normal
      transform none

  &__price-num
    font-size 20px

    +above(768px)
      font-size 40px

  &__sbm
    margin-bottom 20px

    +above(768px)
      height $heightXXL_t
      font-size 30px

    +above(980px)
      font-size 34px

    .btn__text
      width 210px
      text-align left
      vertical-align middle

      +above(480px)
        width auto
        text-align center

  .btn
    font-size: 15px

    +above(768px)
      height: 72px
      line-height: 72px
      font-size: 21px
