.copy
  margin-bottom 10px
  display block
  font-size 13px
  line-height: 21px

  +above(768px)
    margin-bottom 0

  &__date
    margin-right 5px
    font-size 14px
    color #fff

  &__desc
    margin-right 7px
