.table-feed
  width 100%
  border-collapse collapse
  color #191919

  &__row
    border-bottom 1px solid #DEDEDE

  &__head-cell
    padding 16px 32px
    background #E0E0E0
    font-weight 600
    font-size 14px
    line-height 16px
    text-align left

  &__cell
    position relative
    padding 20px 32px
    font-size 14px
    line-height 16px
