.header
	margin-top 10px
	margin-bottom 19px
	display block
	height 73px
	background-color darken($colorDecorative, 40)

	&__inner
		display flex
		height 100%

	&__sidenav
		width 70px
		flex-basis 70px
		
	&__nav
		flex-grow 1
		text-align center
		
	&__add
		padding 0 20px
		display flex
		align-items center
		
	&__auth
		padding 10px 20px
		display inline-block
		align-self center
		font-size 16px
		color #fff
		
	&__auth-text
		display inline-block
		border-bottom 1px dashed rgba(#fff, .23)