.header
	margin-bottom 17px
	display block
	height 73px
	background-color darken($colorDecorative, 40)
	
	+above(768px)
		margin-top 10px
		margin-bottom 19px

	&__inner
		display flex
		height 100%

	&__sidenav
		width 70px
		flex-basis 70px
		
	&__nav
		display none
		flex-grow 1
		text-align center
		
		+above(980px)
			display block
		
	&__add
		display none
		padding 0 20px
		align-items center
		
		+above(980px)
			display flex
		
	&__auth
		position relative
		padding 10px 20px 10px 32px
		display none
		align-self center
		font-size 16px
		text-decoration none
		color #fff
		
		+above(980px)
			display inline-block
			
	&__auth-icon
		position absolute
		top 50%
		left 0
		margin-top -12px
		size 22px
		fill $colorDecorative

		
	&__auth-text
		display inline-block
		border-bottom 1px dashed rgba(#fff, .23)