include ../logo/logo
include ../nav/nav
include ../btn/btn
include ../sidenav/sidenav-auth
include ../post-ads/post-ads

mixin header-auth()
  +b.HEADER.header&attributes(attributes)
    +e.inner.inner
      +e.sidenav
        +sidenav-auth
      +e.logo
        +logo
      +e.nav
        +nav(getData('navAuth'), {isHeader: true})
      +e.spacer
      +e.posting
        +btn('link', 'like')._size_s._theme_secondary(href="") Избранное
      +e.user
        +btn('link', 'user')._size_s._theme_secondary(href="").user-link Александров А.
      +e.add
        +post-ads(href="")
