.gallery
	display block
	
	img 
		max-width 100%
	
.fotorama
	&__thumb-border
		background-color rgba($colorMain, .5)
		background-image none
		border-color transparent
		
	&__stage
		margin-bottom 8px