.review-page

  &.__add
    background: #fff
    position: relative
    padding-bottom: 10px

    +above(768px)
      margin: 0 30px

    +above(1170px)
      margin: 0 auto
      padding-bottom: 30px

    &::after,
    &::before
      content: ''
      position: absolute
      bottom: 100%
      right: 0
      left: 0
      background: inherit

    &::before
      bottom: 100%
      height: 20px

    &::after
      top: 100%
      height: 70px

.review-add
  display block
  position: relative

  +above(768px)
    margin-top: 30px

  +above(1170px)
    margin-top: 34px

  &__form
    .form__row
      + .form__row
        +below(767px)
          margin-top: -15px

    .form__item
      &:nth-child(n + 3)
        +above(768px)
          margin-top: 26px

        +above(1170px)
          margin-top: 0

    .area-comment
      height: 220px

      +above(768px)
        height: 140px

    .form__cell-name
      font-size: 14px
      line-height: 16px
      color: #191919
      margin-bottom: 8px

    .form__row-caption
      font-weight: bold
      font-size: 18px
      line-height: 21px
      color: #191919
      margin-top: 10px
      margin-bottom: 16px
      letter-spacing: -.03em

      +above(768px)
        font-size: 21px
        line-height: 25px
        margin-top: 30px
        margin-bottom: 26px

      +above(1170px)
        margin-top: 32px

    .rating-ten
      + .form__row-caption
        margin-top: 22px

    .form__form-send
      text-align: right

      .btn
        letter-spacing: -0.004em
        padding: 0 23px
        font-size: 13px
        text-transform: none

      +below(1169px)
        .btn
          width: 100%

      +above(768px)
        padding-top: 8px

  .title.title_level_1
    margin-right: 80px
    margin-top: 22px
    margin-bottom: 12px

    +below(767px)
      font-size: 24px
      line-height: 32px
      margin-bottom: 26px

    +above(768px)
      margin-top: 10px
      margin-bottom: 36px

    +above(1170px)
      margin-top: 10px
