.lbl
	margin-bottom 12px
	display block
	font-weight bold
	font-family Arial, sans-serif
	
	&__remark
		font-size 12px
		font-weight normal
		color #787878
		
	&__mark
		margin-left 2px
		display inline-block
		color #c03
		
		+above(1024px)
			margin-left 8px