.card
	margin 20px 0 30px
	display block
	
	&__head
		+above(768px)
			padding 17px 18px 5px
			background-color #fff
			border-bottom 1px solid $colorDecorative
		
	&__body
		+above(768px)
			background-color #fff
	
	&__meta
		margin-bottom 15px
		
		+above(768px)
			margin-bottom 0
			padding 10px 19px 0
			display flex
			justify-content space-between
		
	&__meta-id
		margin-bottom 18px
		
		+above(768px)
			margin-bottom 0
			max-width 210px
	
	&__meta-inspect
		margin-bottom 18px
		
		+above(768px)
			margin-bottom 0
		
	&__meta-lbl
		margin-bottom 10px
		color darken($colorDecorative, 40)
		
	&__meta-row
		margin-bottom 10px
		
	&__meta-remark
		margin-left 6px
		font-size 12px
		color darken($colorDecorative, 40)
		
		&:first-child
			margin-left 0
			
	&__meta-date
		margin-right 5px

	&__meta-view-icon
		position relative
		top 1px
		margin-right 4px
		display inline-block
		size 12px
		fill darken($colorDecorative, 40)

	&__meta-price
		position relative
		
		+above(768px)
			margin-top 17px
			padding-left 21px
			align-items center
			overflow-y hidden
			height 50px

			&:before
				position absolute
				z-index 0
				top -5px
				left 0
				content ''
				border-top 30px solid rgba(#fff, 0)
				border-right 25px solid $colorMain
				border-bottom 30px solid rgba(#fff, 0)
		
	&__meta-price-value
		position relative
		display block
		font-size 32px
		font-weight bold
		color $colorMain
		
		+above(768px)
			padding 10px 15px 5px 5px
			height 50px
			background-color $colorMain
			color #fff

	&__meta-price-currency
		font-size 28px
		font-weight normal
		
	&__meta-phone
		+above(768px)
			width 100%
		
	&__ads
		margin-bottom 20px
		
		img
			max-width 100%
		
	&__data
		+above(768px)
			padding 0 20px
		
	&__data-row
		+above(768px)
			display flex
		
	&__feature
		+above(768px)
			padding-right 15px
			width 41%
			order 1
		
	&__feature-list
		margin 12px 0 19px
		
	&__feature-row
		padding 10px 0 11px
		display flex
		border-bottom 1px solid $colorDecorative
		
		&:last-child
			border-bottom none
	
	&__feature-term
		width 150px
		flex-basis 150px
		color darken($colorDecorative, 40)
		
	&__feature-desc
		&::first-letter
			text-transform uppercase
		
	&__gallery
		+above(768px)
			padding-left 15px
			width 59%
			order 2
		
		img
			max-width 100%

	&__yad
		margin-bottom 24px
		width 100%
		
		img
			max-width 100%
		
	&__kit
		+above(768px)
			padding-right 15px
			width 50%
		
	&__kit-head
		margin-bottom 19px
		
	&__kit-list
		+above(768px)
			margin 0 -15px
			display flex
			flex-wrap wrap
		
	&__kit-item
		margin-bottom 23px
		
		+above(768px)
			padding 0 15px
			width 50%
		
	&__kit-title
		margin-bottom 9px
		font-size 16px
		font-weight bold
		
	&__kit-desc
		margin-bottom 10px
		
	&__comment
		+above(768px)
			padding-left 15px
			width 50%
		
	&__comment-body
		line-height 1.71429
		
	&__action
		margin-top 12px
		
		+above(768px)
			padding 7px 20px
			display flex
			align-content flex-end
			align-items center
			background-color #fff