include ../../blocks/upload-block/upload-block
include ../form/form
include ../select/select
include ../lbl/lbl
include ../btn/btn
include ../input/input
include ../upload-progress/upload-progress

mixin package-upload(logs)
  +b.package-upload&attributes(attributes)(class= logs ? '_logs' : '')
    .inner
      +upload-block()
        +form(name="upload" action="" method="post").package-upload__form
          .package-upload__title Пакетная загрузка
          +e.row
            +e.item._span_flex.upload-input
              +e.input-field
                +lbl(for="feed-link") Ссылка на фид:
                +input(type="text" id="feed-link" )

            +e.item._span_flex.upload-button
              +lbl(for="feed-upload").mob-hidden &nbsp;
              +btn('button', '')(id='feed-upload')._size_sm._theme_main Загрузить

          +e.row._footer
            +e.item._span_flex._valign_center
              +e.SPAN._footer-or или
              +btn('label', '')._size_sm._theme_secondary
                input(type='file').visuallyhidden
                span Добавить файл

      if (!logs)
        +upload-block()
          .package-upload__title Добавленные фиды
          +upload-progress(33, 'обратный фид', 'осталось 25 секунд', 'pause')

        +upload-block()
          .package-upload__title Добавленные фиды
          +upload-progress(0, 'обратный фид', 'Ошибка загрузки', 'fail')

        +upload-block()
          .package-upload__title Добавленные фиды
          +upload-progress(100, 'обратный фид', '', 'success')

        +upload-block()
          .package-upload__title Добавленные фиды
          +upload-progress(0, 'обратный фид', 'Отправлен на модерацию', 'moderate')

        +upload-block()
          .package-upload__title Добавленные фиды
          +upload-progress(0, 'обратный фид', 'Отклонен модератором (Причина: пустой документ)', 'rejected')

      +upload-block()
        .package-upload__title Добавленные фиды
        +upload-progress(0, 'обратный фид', 'Успешно загружен', 'confirmed')
