.package-upload
  margin: 32px 0 56px

  &__title
    font-weight: bold
    font-size: 21px
    line-height: 25px
    color: #191919
    padding-bottom: 10px
    margin-bottom: 26px
    border-bottom: 1px solid #DEDEDE

  &__form
    .lbl
      font-weight: 400

    .form__input-field
      width: 100%

    .form__row_footer
      justify-content flex-end
      padding-top: 8px

      .form__item
        +below(767px)
          flex 1 0

        .btn
          text-transform: none
          font-size: 14px
          width 100%

          .btn__text
            letter-spacing 0

          +above(768px)
            width 184px

          +above(1170px)
            font-size: 16px

