.footer
	margin-top 66px
	display block
	color darken($colorDecorative, 40)
	background-color $colorText
	
	&__head,
	&__foot
		padding 26px 0 25px
		display flex
		justify-content space-between
		border-bottom 1px solid rgba(darken($colorDecorative, 40), .3)
		
	&__foot
		border-top 1px solid rgba(darken($colorDecorative, 40), .3)
		border-bottom none
	
	&__section
		padding 29px 0 26px
		
	&__section-title
		margin-bottom 28px
		font-size 16px
		font-weight bold