include ../copy/copy
include ../dev/dev
include ../logo/logo
include ../list/list
include ../nav/nav
include ../modal/modal-select
include ../modal/modal-multiselect
include ../social/social

mixin footer()
  +b.footer&attributes(attributes)(class=pageFull ? "full" : "")
    .inner
      +e.head
        +e.head-logo
          +logo._footer
        +e.nav
          +nav(getData('navFoot'))._footer
      +e.lists
        +e.section
          +e.H5.section-title Продажа авто
          +list({data: getData('cityList'), columns: 6})._columned
        +e.section
          +list({data: getData('regionList'), columns: 5})._columned._size_s

      +e.foot
        +copy
        +social
        +dev

  +modal-select
  //- +modal-multiselect
