.inner
  margin 0 auto
  padding 0 10px
  max-width 1230px

  &.middle
    display flex
    padding-top: 54px
    min-height 100%

  &.full
    max-width 100%
    padding 0

  +above(768px)
    padding 0 20px

  &.reviews
    +below(767px)
      padding: 0 15px

      .title_level_1
        font-size: 24px
        margin-bottom: 24px

    +above(980px)
      padding: 0 45px
