.inner
  margin 0 auto
  padding 0 10px
  max-width 1230px

  &.middle
    display flex
    padding-top: 54px
    min-height 100%

  &.full
    max-width 100%
    padding 0

  +above(768px)
    padding 0 30px
