mixin tooltip(tip, pos)
  +b.tooltip&attributes(attributes)(class = 'tooltip-' + (pos || 'bottom'))
    if (tip === 'spec')
      +e.popup
        p Увеличьте шансы на быструю и выгодную продажу автомобиля. Ваше объявление увидит максимум посетителей авто-портала Mbib.ru: оно будет выделено цветом, поднято в топ, размещено в специальном блоке на главной странице, на странице марки и в выдаче объявлений.
        p.text-right
          +e.A(href='#').link
            +e.SPAN.link Тарифы
            +icon('arr-r').tooltip-next-icon

    else if (tip === 'crm')
      +e.popup
        p В отчете указываются:
        +e.UL.list
          li Ссылки на размещенные объявления
          li Количество просмотров объявлений
          li Количество просмотров номеров телефонов
