.feed-details
  padding-bottom: 15px

  &__scroller
    overflow-x: auto
    margin-bottom: 322px

    +above(768px)
      margin-bottom: 40px

    table
      min-width 600px

  &__title
    font-weight: bold
    font-size: 21px
    line-height: 25px
    padding: 0 16px
    margin-bottom: 20px

    +above(768px)
      padding: 0 30px

