.feed-details
  padding-bottom: 35px

  +above(768px)
    padding-bottom: 50px

  &__scroller
    overflow-x: auto
    margin-bottom: 18px

    table
      min-width 600px

  &__title
    font-weight: bold
    font-size: 21px
    line-height: 25px
    padding: 0 16px
    margin-bottom: 20px

    +above(768px)
      padding: 0 30px

