.dealer
  +above(768px)
    display flex

  &__data
    flex-grow: 1

  &__name
    margin-bottom: 17px
    display: flex
    font-size 20px
    font-weight: bold
    line-height: 1.0714

    +above(768px)
      font-size: 24px

  &__name-text
    padding-top 5px

  &__logo
    margin-right 17px
    flex-shrink: 0

  &__address
    margin-bottom 17px
    font-size: 16px
    line-height: 1.4

    +above(768px)
      margin-bottom 0

  &__contact
    width 200px

    +above(768px)
      margin-left: 20px
