.input
	padding-left 14px
	padding-right 14px
	box-sizing border-box
	display block
	height $heightControl
	width 100%
	font-family Arial, sans-serif
	font-size 14px
	border 1px solid #dedede
	
	.control-group & + &
		margin-left -1px
		
	&::placeholder
		opacity 1
		color #787878