.input
	padding-right 14px
	padding-left 14px
	display block
	box-sizing border-box
	width 100%
	height $heightControl
	font-family Arial, sans-serif
	font-size 14px
	border 1px solid #dedede
	
	.control-group & + &
		margin-left -1px
		
	&::placeholder
		color #787878
		opacity 1