.page-header
  min-height 410px
  padding-top 32px
  padding-bottom: 75px
  background #FFF3B8
  position: relative
  overflow: hidden

  &::after
    content: ''
    position: absolute
    pointer-events none
    left: 50%
    bottom: 0
    height: 211px
    opacity: .35
    transform translateX(-50%)
    background: url(../images/shop-mob.png) right center no-repeat
    background-size: auto 100%;
    max-width: 294px;
    width: 100%

  +above(768px)
    min-height 390px
    padding-top 48px
    padding-bottom 90px

    &::before
      content: '';
      position: absolute;
      bottom: 0
      right: 0
      left: 0
      height: 42px
      background: url(../images/city-mob.png) center center repeat-x
      background-size: auto 100%

    &::after
      opacity: 1
      max-width: calc(100% - 40px)
      background-image: url(../images/shop.png)

  +above(1170px)
    min-height 480px
    padding-top: 72px

    &::before
      height: 68px
      background-image: url(../images/city.png)

    &::after
      height: 415px
      max-width: $wide

  .inner
    position: relative
    z-index: 1

  &__name
    font-family $fontTitle
    margin-bottom 12px
    font-weight bold
    font-size 24px
    line-height 28px
    color #C4372E
    letter-spacing: -.035em

    +above(768px)
      margin-bottom: 18px
      font-size 32px
      line-height 37px

  &__text
    font-style normal
    font-weight normal
    font-size 14px
    line-height 21px
    color #191919
    margin-bottom 16px
    +above(768px)
      font-size 16px
      line-height 24px
    +above(1170px)
      font-size 18px
      line-height 27px
      margin-bottom 24px

  &__input
    margin-bottom 8px
    height 44px
    border 1px solid #D5D5D5
    padding-left: 20px
    padding-right: 20px

    +above(768px)
      margin-bottom 24px

  &__form
    .btn
      text-transform: none
      font-weight: 700
      font-size: 16px

      .btn__text
        letter-spacing: -.05em

    +above(768px)
      max-width 465px
      display flex
      .btn
        font-size: 18px
        max-width 185px
        height 41px
    +above(1170px)
      max-width 585px

    .input
      margin-bottom 8px
      font-size 16px
      +above(768px)
        margin-bottom 0
        margin-right 8px

  &__col
    +above(768px)
      max-width 75%
    +above(1170px)
      max-width 51%
