include ../../form/form
include ../../input/input
include ../../btn/btn
include ../../../blocks/breadcrumbs/breadcrumbs

mixin page-header()
  +b.page-header
    .inner
      +e.col
        +e.H1.name
          span Готовый и эффективный&nbsp;
          span.dt-only
            br
          span канал продаж транспорта
        +e.text Если вы зарабатываете на продаже транспорта, выгружайте свои автообъявления на сайт с помощью XML и поддерживайте их в актуальном состоянии. Ваши предложения найдут больше откликов от клиентов, а вы освободитесь от длительной и кропотливой работы.

        +form(name="feedheader" action="" method="post").page-header__form
          .page-header__control
            +input(class="page-header__input" name="url_feed" type="url" id='url_feed_h' tabindex="0" required data-value-missing="Введите URL вашего фида" placeholder="Введите URL вашего фида")
          +btn('button', '')._size_sm._theme_main._fullwidth.toggleError(data-error='url_feed_h') Выгрузить

mixin page-header-cost()
  +b.page-header.page-header__cost
    .inner
      +breadcrumbs(getData('placement-cost'))
      +e.col
        +e.name
          span Стоимость размещения объявлений
        +e.caption На сайте mbib.ru представлены тарифы для разных типов объявлений
        +e.text Выбор интересующего вас тарифа и его стоимость зависят от автора объявления и области его размещения, указать которые вы можете в выпадающих списках ниже

mixin page-header-credit()
  +b.page-header.page-header__cost
    .inner
      +e.col
        +e.name
          span Не упустите шанс получить автомобиль мечты
        +e.caption Проверьте возможность получения кредита, это бесплатно и не займет больше трех минут
        +e.text Выбор интересующего вас тарифа и его стоимость зависят от автора объявления и области его размещения, указать которые вы можете в выпадающих списках ниже
