.credit-banks
  display block

  &__result-icon
    position: absolute
    left: 33px
    top: 27px
    width: 18px
    height: 14px
    fill: #fff

  &__success
    margin-bottom: 32px
    position: relative
    background: linear-gradient(90deg, #6CA840 0%, #78B64B 100%), #FFF
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 24px 20px 24px 66px

    +above(768px)
      margin-bottom: 36px
