.geoplace
	display block
	
	&__item
		margin-right 4px
		margin-bottom 10px
		
	&__popup
		width 100%
		
.geoplace-list
	overflow-y auto
	max-height 200px
	
	&__item
		padding 10px 15px
		cursor pointer
		
		&:hover
			color #fff
			background-color $colorSecondary