.pager
	display block
	
	&__prev,
	&__next
		position relative
		display none
		width 40px
		font-size 0
		flex-shrink 0
		
		+above(768px)
			display inline-block
			width auto
			font-size 1rem
			
	&__icon
		position absolute
		top 50%
		left 50%
		margin -11px 0 0 -11px
		size 22px
		fill currentcolor
		
		+above(768px)
			display none

	&__item
		padding-left 5px
		padding-right 5px
		width 40px
		flex-shrink 0
		text-align center
		color $colorSecondary
		transition color .3s, background-color .3s
		
		&:hover
			background-color lighten($colorMain,10)
			color #fff
		
		&_active,
		&_active:hover
			cursor default
			color #fff
			background-color $colorMain