.pager
  display block

  &__prev,
  &__next
    margin-right -1px
    margin-bottom -1px
    position relative
    width 40px
    height 40px
    font-size 0
    flex-shrink 0

    +above(768px)
      display inline-block
      width auto
      font-size 1rem

  &__next
    border-left 1px solid $colorDecorative

  &__text
    ^[0]__prev &,
    ^[0]__next &
      display none

      +above(768px)
        display inline

  &__icon
    position absolute
    top 50%
    left 50%
    margin -11px 0 0 -11px
    size 22px
    fill currentcolor

    +above(768px)
      display none

  &__item
    margin-right -1px
    margin-bottom -1px
    padding-left 5px
    padding-right 5px
    width 40px
    flex-shrink 0
    text-align center
    color $colorSecondary
    transition color .3s, background-color .3s
    border-left 1px solid $colorDecorative

    +above(640px)
      display block

    &:hover
      background-color lighten($colorMain,10)
      color #fff

    &_active,
    &_active:hover
      display block
      cursor default
      color #fff
      background-color $colorMain

.pager-load
  margin 15px 0
  text-align center

  &__link
    display inline-block
    padding 15px 30px
    width 300px
    color $colorSecondary
    background-color #fff
    border 1px solid $colorDecorative
    transition color .3s, background-color .3s

    &:hover
      background-color lighten($colorMain,10)
      color #fff
