.text
	margin-bottom 17px
	display block
	
	&__body
		line-height 1.71429
		color #787878
		
		^[0]_important &
			color #191919
			
		p
			margin-bottom 12px
		
		h3
			margin 16px 0 7px
			font-size 18px
			font-weight bold
			color $colorText
			
			+above(768px)
				font-size 22px