.cardowner
	display block
	
	&__author
		margin-bottom 20px
		
	&__author-name
		margin-bottom 3px
		font-weight bold
		
	&__author-status
		color darken($colorDecorative, 40)
		
	&__phone
		margin-bottom 20px
		display block
		font-weight bold
		color $colorText
		
		&&
			padding 0

	&__inspect
		line-height 1.42857