.control-group
  display flex

  .pager &
    flex-wrap wrap

  &_flex
    width 100%

  &_align_center
    justify-content center

  &_middle
    align-items center

  &_block
    display block

  &_wrap
    flex-wrap wrap
