.show-phone
	&__button
		display block
		width 100%
		font-weight bold
		height 65px
	
	&__text
		display block
		line-height 1
	
	&__label
		margin-bottom 7px
		display block
		font-size 14px
		text-transform none
		
	&__placeholder
		font-size 18px
		line-height 1
	
	&__link
		display block
		height 65px
		font-weight bold
		font-size 24px
		line-height 65px
		text-align center
		border 2px dashed