.show-phone
	display block
	width 100%
	font-weight bold
	height 65px
	
	&__text
		display block
		line-height 1
	
	&__label
		margin-bottom 7px
		display block
		font-size 14px
		text-transform none
		
	&__placeholder
		font-size 18px
		line-height 1
