include ../phone-field/phone-field

mixin sales-report(thanks)
  +b.sales-report&attributes(attributes)
    if thanks
      p Отчет генерируется.
      p Мы пришлем Вам его в Whatsapp/Telegram или ссылкой по SMS (если у вас нет мессенджеров) в течении суток (от 1 до 24 часов).
      p Пожалуйста, ожидайте.
    else
      p
        +e.SPAN.bold Проверим машину по VIN и пришлем Вам полный отчет:
      p Характеристики из ПТС, данные о ДТП, данные о розыске и запрете на регистрацию, количество владельцев в ПТС, записи в истории пробегов (если есть), записи в истории эксплуатации (если есть), проверка на работу в такси и многое другое...

      +phone-field(type="tel" name="phonePlace" id="registrPhone" placeholder="Номер телефона" tabindex="3" required minlength="16" data-too-short="Номер введён не полностью, должно быть 11 цифр" data-value-missing="Введите телефон")

      +e.P.bold
        +e.SPAN.bold Введите номер Вашего телефона, мы пришлем на него готовый отчет.
      p Услуга платная, стоимость 150 рублей.
