include ../icon/icon

mixin upload-progress(percent, file, info, state)
  +b.upload-progress&attributes(attributes)
    +e.header
      +e.SPAN.file(class= state === 'fail' ? ' __gray' : state === 'rejected' ? ' __red' : '')= file
      +e.SPAN.info
        if (state === 'confirmed')
          +e.SPAN.btn
            +icon('check-green', false)
          +e.SPAN.__green= info
        else if (state === 'rejected')
          +e.SPAN.btn
            +icon('remove', false)
          +e.SPAN.__red= info
        else if (state === 'moderate')
          +e.SPAN.btn
            +icon('moderator', false)
          +e.SPAN= info
        else
          if (percent)
            +e.SPAN= percent + '%'
          if (info)
            +e.SPAN.mob-hidden!= (percent ? ' &nbsp;•&nbsp; ' : '') + info

      if (state === 'pause')
        +e.SPAN.controls
          +e.SPAN.btn(class= '_gray')
            +icon('pause', false)

      else if (state === 'fail')
        +e.SPAN.controls
          +e.SPAN.btn(class= '_gray')
            +icon('replay', false)
          +e.SPAN.btn(class= '_red')
            +icon('remove', false)

      else if (state === 'success')
        +e.SPAN.controls
          +e.SPAN.btn(class= '_green')
            +icon('check-green', false)

    if (state === 'pause' || state === 'success')
      +e.line
        +e.val(style="width: " + percent + "%" class= percent === 100 ? ' __success' : '')
