.thumb-gallery
  position relative
  display flex
  height 100%

.slick-dots
  bottom 10px
  top 10px
  padding-left 10px
  padding-right 10px
  display flex
  opacity 0
  transition opacity .3s ease

  .thumb-gallery:hover &
    opacity 1

  .page_touch &
    opacity 1
    top auto

  li
    width 10%
    height 100%
    flex-grow 1

    .page_touch &
      height 3px

  li > button
    position absolute
    bottom 0
    left 0
    padding 0
    width 100%
    height 100%

  li > button::before
    content ''
    position absolute
    top auto
    bottom 0
    width 100%
    height 3px
    opacity 1
    background-color #fff

  li.slick-active > button::before
    background-color red
