mixin thumb-gallery(data)
	+b.thumb-gallery&attributes(attributes)
		each item, i in data
			+e.item(class="_column_"+data.length, onclick="return true;")
				+e.img-wrap
					img(data-src=item, alt="").lazyload
				+e.SPAN.marker