include ../loader/loader

mixin thumb-gallery(data)
  +b.thumb-gallery&attributes(attributes)
    +e.inner
      each item, i in data
        +e.item
          +e.img-wrap
            img(data-lazy=item, alt="")
