mixin palette()
	+b.palette&attributes(attributes).control-group
		+e.LABEL.item._color_brown(title="Коричневый")
			+e.INPUT.control(type="radio" name="palette" required value="")
			+e.SPAN.check
		+e.LABEL.item._color_orange(title="Оранжевый")
			+e.INPUT.control(type="radio" name="palette" value="")
			+e.SPAN.check
		+e.LABEL.item._color_beige(title="Бежевый")
			+e.INPUT.control(type="radio" name="palette" value="")
			+e.SPAN.check
		+e.LABEL.item._color_yellow(title="Желтый")
			+e.INPUT.control(type="radio" name="palette" value="")
			+e.SPAN.check
		+e.LABEL.item._color_green(title="Зелёный")
			+e.INPUT.control(type="radio" name="palette" value="")
			+e.SPAN.check
		+e.LABEL.item._color_azure(title="Голубой")
			+e.INPUT.control(type="radio" name="palette" value="")
			+e.SPAN.check
		+e.LABEL.item._color_blue(title="Синий")
			+e.INPUT.control(type="radio" name="palette" value="")
			+e.SPAN.check
		+e.LABEL.item._color_purple(title="Фиолетовый")
			+e.INPUT.control(type="radio" name="palette" value="")
			+e.SPAN.check
		+e.LABEL.item._color_pink(title="Розовый")
			+e.INPUT.control(type="radio" name="palette" value="")
			+e.SPAN.check
		+e.LABEL.item._color_white(title="Белый")
			+e.INPUT.control(type="radio" name="palette" value="")
			+e.SPAN.check
		+e.LABEL.item._color_grey(title="Серый")
			+e.INPUT.control(type="radio" name="palette" value="")
			+e.SPAN.check
		+e.LABEL.item._color_black(title="Черный")
			+e.INPUT.control(type="radio" name="palette" value="")
			+e.SPAN.check
		+e.LABEL.item._color_gold(title="Золотой")
			+e.INPUT.control(type="radio" name="palette" value="")
			+e.SPAN.check
		+e.LABEL.item._color_silver(title="Серебрянный")
			+e.INPUT.control(type="radio" name="palette" value="")
			+e.SPAN.check
		+e.LABEL.item._color_magenta(title="Пурпурный")
			+e.INPUT.control(type="radio" name="palette" value="")
			+e.SPAN.check