mixin palette()
	+b.palette&attributes(attributes)
		+e.BUTTON.item._color_white(title="Белый")
		+e.BUTTON.item._color_grey(title="Серый")
		+e.BUTTON.item._color_dark(title="Асфальт")
		+e.BUTTON.item._color_beige(title="Бежевый")
		+e.BUTTON.item._color_yellow(title="Желтый")
		+e.BUTTON.item._color_orange(title="Оранжевый")
		+e.BUTTON.item._color_pink(title="Розовый")
		+e.BUTTON.item._color_red(title="Красный")
		+e.BUTTON.item._color_brown(title="Коричневый")
		+e.BUTTON.item._color_azure(title="Голубой")
		+e.BUTTON.item._color_blue(title="Синий")
		+e.BUTTON.item._color_carmin(title="")
		+e.BUTTON.item._color_purple(title="Фиолетовый")
		+e.BUTTON.item._color_green(title="Зелёный")
		+e.BUTTON.item._color_black(title="Черный")